doctype html

html
    head
        title Unmetric Home
        
        meta(charset="utf-8")
        meta(name="author", content="unmetric")
        meta(http-equiv="cleartype", content="on")
        // http://t.co/dKP3o1e
        meta(name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")
        meta(name="viewport", content="initial-scale=1.0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-title", content="Unmetric")
        meta(name="msapplication-TileImage", content="")
        meta(name="msapplication-TileColor", content="#4c5bb7")
        
        
        
        // Styles
        link(href="../assets/css/styles.css", rel="stylesheet", type="text/css")
     

        
        // FONTASTIC ICONS
        link(href="https://file.myfontastic.com/MbCTJofyGYYqRjeb8aineC/icons.css", rel="stylesheet")
        
        
        // Favicon
        link(rel="shortcut icon", href="i/favicon.ico")
        
        
        
        // JavaScript
        script(src="https://use.typekit.net/njh2cfh.js")
        script.
            try{Typekit.load({ async: true });}catch(e){}
            
    

    body
        //Header
        header.top-bar5.ab
            .container
                a.logo(href="#")
                    img(src='../assets/i/unmetric-logo-bg.png' alt='Unmetric logo')
    
                    
                ul.nav-wrap

                    li
                        a(href="#").more.nav-link product
                        ul#popover
                            li: a(href="#").nav-link About
                            li: a(href="#").nav-link Blog
                            li: a(href="#").nav-link Contact

                    li: a(href="#").nav-link company
                    li: a(href="#").nav-link.btn-sec sign in
            
            .about-unmetric--content
               h1.content--title ABOUT UNMETRIC
               p.content-more We’re more that a data company.<br>We’re on a mission to make marketers even smarter.  
                    
        section.section-about-ourself
            .container
                h2.content--title What type of people are we?
                p.content-more The “let the girlfriend of a prospective employee interview the CEO before the boyfriend takes the job” kind. The “hangout with clients even after the party is over” kind. The “let a client sleep over at your house when he’s in town” kind. And yes, those are all true stories.      

        section.section-executives
            .container
                .executive-content
                    h3.executive-content--title Executives
                    .executives-content--intro
                        .row-intro
                            .size4of12
                                img(src="../assets/i/avatar-8.png",alt="Lux")
                                h4.content--title Lakshmanan Narayan
                                h5.content--position CEO & CO-FOUNDER
                                p.content--more Lux has 18 years of experience across media, Internet, advertising and entertainment, seven of them with the Interpublic Group, and then Unmetric, which he co-founded with fellow IIT/IIM-alumni Kumar and Joe.   

                            .size4of12
                                img(src="../assets/i/avatar-9.png", alt="Lux")
                                h4.content--title Kumar Krishnasami
                                h5.content--position HEAD OF PRODUCT & CO-FOUNDER
                                p.content--more Kumar has close to 2 decades of experience, in senior technology roles and across verticals, at JP Morgan Chase, Allstate Insurance, MCI Worldcom and startups. Before Unmetric, Kumar headed Vembu Labs.   

                            .size4of12
                                img(src="../assets/i/avatar-10.png", alt="Lux")
                                h4.content--title Joseph Varghese
                                h5.content--position HEAD OF TECHNOLOGY & CO-FOUNDER
                                p.content--more Along with 18 years of experience, mostly in the SAP ecosystem as an independent consultant and with AkzoNobel, Joe also dabbled in other technology platforms and developed many products, some for his own amusement.            

                        .row-intro  
                            .size4of12
                                img(src="../assets/i/avatar-11.png", alt="Lux")
                                h4.content--title Jay Rampuria
                                h5.content--position HEAD OF GLOBAL CLIENT DEVELOPMENT
                                p.content--more Over a decade in senior level account and sales management with startups as well as Nielsen and Accenture, Jay brings in considerable expertise in digital and social media analytics, having partnered with global brands and their agencies.   

                            .size4of12
                                img(src="../assets/i/avatar-12.png", alt="Lux")
                                h4.content--title Tina Lakshmanan
                                h5.content--position HEAD OF FINANCE & HR
                                p.content--more Lakyntina has over 17 years of experience in the Finance and Technology industries having worked with UTI MF, ABN AMRO and HCL. She currently has the responsibility of managing the Finance and HR functions in Unmetric Inc.
       
        section.section-advisor
            .advisor-content
                .content-title Advisor
                .content-more It’s easy for us to say we believe in our product, but it makes us proud to know that others do as well.<br> An impressive collection of industry leaders have come on board to lend their expertise and knowledge to help us make Unmetric a great product for our customers.
                
                .advisor-img
                    figure
                        img(src="../assets/i/avatar-13.png", alt="") 
                        figcaption Greg Stuart
                    figure
                        img(src="../assets/i/avatar-14.png", alt="")
                        figcaption Stephanie Agresta
                    figure
                        img(src="../assets/i/avatar-15.png", alt="")
                        figcaption Joseph Jaffe

                    figure
                        img(src="../assets/i/avatar-16.png", alt="")        
                        figcaption Baratunde Thurston

                    figure
                        img(src="../assets/i/avatar-17.png", alt="")
                        figcaption Brian Condon

                    figure
                        img(src="../assets/i/avatar-18.png", alt="")
                        figcaption Adam Kmiec

                    figure
                        img(src="../assets/i/avatar-19.png", alt="")
                        figcaption Rajev Shukla
        
        section.section-contact
            .container
                .contact-content
                    .content--title Get in touch
                    .content--more Got a question? We’d love to hear from you. Email us at info@unmetric.com or send us a message and we’ll respond as soon as possible.

                    .content-form
                        input(type="text" placeholder="Your Name")
    
                        <br>
 
                        input(type="email" placeholder="Email Address")
                
                        <br>

                        input(type="text" placeholder="Message")
                        
                        <br>
                        input(type="submit" value="Send The Message").btn-ab

                    .content-location--1 
                        h3 New York  
                        p 25, BROADWAY,<br>NEW YORK, NY 10004
                    
                    .content-location--2
                        h3 Chennai 
                        p SP INFOCITY, MGR SALAI, PERUNGUDI, CHENNAI, TN 600096

        footer.bottom-bar
            .container
                .size4of12            
                    ul
                        li 
                            h3 
                                span Products
                        
                        li
                            a.footer-list--link(href='#') Sense — for Marketers
    
                        li
                            a.footer-list--link(href='#') Analyze — for Social Media Analysts
                            
                        li    
                            a.footer-list--link(href='#') Discover — for Content Creators
                  
                
                .size3of12
                    ul
                        li
                            h3 
                                span About
                            
                        li   
                            a.footer-list--link(href='#') Company
 
                        li
                            a.footer-list--link(href='#') Customers
                        
                        li
                            a.footer-list--link(href='#') Why Agencies love us

                        li      
                            a.footer-list--link(href='#') Our blog
                        
                        li    
                            a.footer-list--link(href='#') Press & News coverage
                        
                        li  
                            a.footer-list--link(href='#') Job openings

                          

                .size3of12
                    ul
                        li
                            h3 
                                span Resources 
                    
                        li
                            a.footer-list--link(href='#') Articles 
                        
                        li  
                            a.footer-list--link(href='#') Ebooks
                        
                        li  
                            a.footer-list--link(href='#') Infographics
                        
                        li  
                            a.footer-list--link(href='#') Interviews
                        
                        li  
                            a.footer-list--link(href='#') Industry Reports
                      
                      
                .size2of12
                    ul 
                        li 
                            h3 
                                span Contact
                            
                        li
                            a.footer-list--link(href='#') Get in touch 
                        
                        li
                            a.footer-list--link(href='#') Twitter
                        
                        li  
                            a.footer-list--link(href='#') Facebook
                        
                        li
                            a.footer-list--link(href='#') Pinterest
                        
                        li
                            a.footer-list--link(href='#') LinkedIn
                        
                        li
                            a.footer-list--link(href='#') SlideShare


        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')

        script(src='../assets/js/functions.js')  
        script(src='../assets/js/uilang.js')

        <code>clicking on ".more" toggles class "visible" on "#popover"</code>   