doctype html
 
html
    head
        title Unmetric Home
        
        meta(charset="utf-8")
        meta(name="author", content="unmetric")
        meta(http-equiv="cleartype", content="on")
        // http://t.co/dKP3o1e
        meta(name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")
        meta(name="viewport", content="initial-scale=1.0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-title", content="Unmetric")
        meta(name="msapplication-TileImage", content="")
        meta(name="msapplication-TileColor", content="#4c5bb7")
        
        
        
        // Styles
        link(href="../assets/css/styles.css", rel="stylesheet", type="text/css")
     

        
        // FONTASTIC ICONS
        link(href="https://file.myfontastic.com/MbCTJofyGYYqRjeb8aineC/icons.css", rel="stylesheet")
        
        
        // Favicon
        link(rel="shortcut icon", href="i/favicon.ico")
        
        
        
        // JavaScript
        script(src="https://use.typekit.net/njh2cfh.js")
        script.
            try{Typekit.load({ async: true });}catch(e){}
            
    

    body.an-mod
        //header
        .mobile-nav
            ul.nav-wrap
                li
                    a.nav-link.more(href="#") Product

                    ul.popover
                        li
                            a.nav-sub-link(href="track.html") 
                                span.menu-track TRACK
                                
                                <br>
                                
                                span.menu-intro Keep an eye on your competition
                        
                        li
                            a.nav-sub-link.active(href="analyze.html")
                                span.menu-analyze ANALYZE
                                
                                <br>
                                
                                span.menu-intro Compare and analyze your competitors
                        
                        li 
                            a.nav-sub-link(href="discover.html")
                                span.menu-discover DISCOVER<i class="fa fa-caret-right"></i>
                                
                                <br>
                                
                                span.menu-intro Find inspiration to create content
                
                li: a.nav-link(href="about.html") About
                li: a.nav-link(href="#") Contact
                li: a.nav-link(href="#") Resource


        header.top-bar2
            .container
                a.logo(href="#")
                    img(src='../assets/i/unmetric-logo-white.png' alt='Unmetric logo')
                   

                ul.nav-wrap
                    li
                        a.more.nav-link(href="#") product

                        ul#popover
                            li
                                a.nav-sub-link(href="analyze.html")
                                    span.menu-analyze ANALYZE 
                                    
                                    <br>
                                    span.menu-intro Compare and analyze your competitors
                        
                            li
                                a.nav-sub-link(href="track.html")
                                    span.menu-track TRACK
                                    
                                    <br>
                                    span.menu-intro Keep an eye on your competition
                            
                            li 
                                a.nav-sub-link(href="discover.html")
                                    span.menu-discover DISCOVER<i class="fa fa-caret-right"></i>
                                    
                                    <br>
                                    
                                    span.menu-intro Find inspiration to create content


                    li: a.nav-link(href="about.html") about
                    li: a.nav-link(href="#") contact
                    li: a.nav-link.btn-sec(href="#") sign in

                .mobile-nav-toggle: span
            
            //Caption
            .caption
               
                h1 ANALYZE 
               
                h3 for
               
                p SOCIAL MEDIA ANALYSTS
                   
            
            //Analyze Header Image
            .analyze-header-image
               
                a(href="#")
                    img(src="../assets/i/video.svg", alt="").video

                    img(src="../assets/i/bg-2x.png", alt="")
            
            //Analyze Button
            .analyze-btn
                a(href="#form").btn-analyze Start my free trial
   

        //Section Social Media Start
        section.social-media
            
            //Container 
            .container

                //Social Media Content
                .social-media--content
                    
                    h1.media--content--title Your social media analytics done faster than ever.
                    
                    
                    .size3of12.reporting 
                        
                        img(src="../assets/i/reporting.jpg", alt="Reporting")  
                        
                        h3.reporting-title Automated reporting
                        
                        p.reporting-sub-info Get instant reports delivered in PowerPoint and Excel format right to your inbox 

                    .size3of12.reporting  
                       
                        img(src="../assets/i/social-network.jpg", alt="Social Network ")  
                       
                        h3.reporting-title 6 major social networks
                       
                        p.reporting-sub-info All the insights and data you need from Facebook, Twitter, Instagram, YouTube, Pinterest and LinkedIn

                    .size3of12.reporting  
                        
                        img(src="../assets/i/post.jpg", alt="Paid Post")  
                        
                        h3.reporting-title Paid post detection
                        
                        p.reporting-sub-info Pull back the curtain on the paid social strategy of your competitors on Facebook and Twitter
                    
                    .size3of12.reporting  
                        
                        img(src="../assets/i/data.jpg", alt="Historical data")  
                        
                        h3.reporting-title 3 years of historical data
                        
                        p.reporting-sub-info Go back up to 3 years of historical data and find what worked in past for your competitors

                    
        //Section Analyze Competition       
        section.analyze-competition.fadeInUpBig
            
            //Container
            .container

                //Analyze Competition Content
                .analyze-competition--content
                    
                    h2.analyze-competition--content--title Analyze your competition and their campaigns  
                    
                    p.analyze-competition--content--sub-title Every data point, every metric, everything you need, when you need and all in one platform. Analyze your own brand performance and benchmark against competitors.
                    
                    //Feacture Section
                    .feature-section.parallax1
                       
                        //Container
                        .container
                            
                            //Feature
                            .feature
                                
                                //Feature Info F1
                                .feature-info.f1
                                
                                    h3.list-title One-click Reports
                                
                                    p.list-info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. 
                                    <hr>
                                
                                //Feature Image
                                .feature-img
                                    img(src="../assets/i/virgin-america.jpg", alt="Virgin America")                          
                            
                            //Feature
                            .feature
                                
                                //Feature Info F2
                                .feature-info.f2.is-active 
                            
                                    h3.list-title One-click Reports
                            
                                    p.list-info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue.
                                    <hr> 
                                
                                //Feature Image
                                .feature-img
                                    img(src="../assets/i/american-airline.jpg", alt="Virgin America") 
                            
                            //Feature
                            .feature

                                //Feature Info F3
                                .feature-info.f3

                                    h3.list-title One-click Reports
                                    
                                    p.list-info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. 
                                    <hr>
                                
                                //Feature Image
                                .feature-img
                                    img(src="../assets/i/virgin-america.jpg", alt="Virgin America")                          

            

        //Section Analyze Performance
        section.analyze-performance
            
            //Container
            .container

                //Analyze Performance Content
                .analyze-performance--content
                    
                    h2.analyze-performance--content--title Social media analytics done in minutes, not hours 
                    
                    p.analyze-performance--content--sub-title Every data point, every metric, everything you need, when you need and all in one platform. Analyze your own brand performance and benchmark against competitors.
                    
                //Feature Section
                .feature-section.parallax2
                        
                        //Container
                        .container
                            //Feacture b
                            .feature-b
                                //Feature b info
                                .feature-b-info.f4

                                    h3.performance-list-title One-click Reports
                                    
                                    p.performance-list-info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. 
                                    <hr>
                                
                                //Feature b image  
                                .feature-b-img
                                    img(src="../assets/i/american-airline.jpg", alt="Virgin America")                          
                            //Feature b
                            .feature-b
                                .feature-b-info.f5.is-active 
                                    h3.performance-list-title One-click Reports
                                    p.performance-list-info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue.
                                    <hr> 
                                
                                //Feature b image
                                .feature-b-img
                                    img(src="../assets/i/virgin-america.jpg", alt="Virgin America") 
                            //Feature b
                            .feature-b
                                //Feature b info
                                .feature-b-info.f6
                                  
                                    h3.performance-list-title One-click Reports
                                  
                                    p.performance-list-info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. 
                                    <hr>
                                //Feature b img
                                .feature-b-img
                                    img(src="../assets/i/american-airline.jpg", alt="Virgin America")                      
       
        //Section Winning Stragies
        section.winning-stragies.fadeInUpBig
            //Container
            .container
                //Winning stragies Content
                .winning-stragies--content
                   
                    h2.winning-stragies--content--title Create winning strategies
            
                    
                    .size6of12
                        
                        .evaluate-content.parallax3
                            h3.evaluate-content--title Evaluate Content and Campaigns Performance
                           
                            p.evaluate-content--info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. 
                            img(src="../assets/i/performance-sshot.jpg", alt="Performance").float

                    .size6of12
                        
                        .evaluate-content.parallax4
                        
                            h3.evaluate-content--title Share, Collaborate & Win 
                        
                            p.evaluate-content--info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. 
                            img(src="../assets/i/share-sshot.jpg", alt="Performance")

            
                                
        //Section Science
        section.science
            //Container
            .container
                //Science Content
                .science--content
                    
                    h2.science--content--title <img src="../assets/i/inverted-coma.svg", alt="inverted coma"> This is the science behind the art of social.<img src="../assets/i/inverted-coma2.svg", alt="inverted coma">                 
                    
                    //Science Content Avatar
                    .science--content--avatar
                        img(src="../assets/i/client-logo.png", alt="Alan Chumley").avatar
                        p.science--content--avatar--info Alan Chumley <br>SVP, Research & Analytics
       
                        <img src="../assets/i/fleishmanhillard.jpg"> 
                            
        //Section Price
        section.price
            //Container
            .container
                //Price Content
                .price--content
                    h2.price--content--title Simple Pricing, Unlimited Users, No Audience Size Restriction

                    p.price--content--info We don’t charge by audience size or number of users. We promise predictable & consistent pricing – exactly how it should be.
                    
                    //Tabs
                    #tabs(align="center" style="margin:-2em; padding:10px 10px 50px 10px;")
                        <a href="#brands" class="button btn-info active" style="position:relative; left:11px;">Brands</a>
                        <a href="#agencies" class="button btn-info">Agencies</a>
                    
                    //Table Price Content
                    table.price--content--table
                        tr.table-list
                            td.table-title All major Social Networks  <img src="../assets/i/question-mark.jpg" alt="">
                            td <img src="../assets/i/right-symbol.jpg" alt="">
                            td <img src="../assets/i/right-symbol.jpg" alt="">
                            td <img src="../assets/i/right-symbol.jpg" alt="">
                          
                        tr
                            td.table-title Unlimited Audience Size  <img src="../assets/i/question-mark.jpg" alt="">
                            td <img src="../assets/i/right-symbol.jpg" alt="">
                            td <img src="../assets/i/right-symbol.jpg" alt="">
                            td <img src="../assets/i/right-symbol.jpg" alt="">
                          
                        tr
                            td.table-title Unlimited Users  <img src="../assets/i/question-mark.jpg" alt="">
                            td <img src="../assets/i/right-symbol.jpg" alt="">
                            td <img src="../assets/i/right-symbol.jpg" alt="">
                            td <img src="../assets/i/right-symbol.jpg" alt="">
                    
                        tr
                            td.table-title Content & Campaign Intelligence  <img src="../assets/i/question-mark.jpg" alt="">
                            td 
                            td <img src="../assets/i/right-symbol.jpg" alt="">
                            td <img src="../assets/i/right-symbol.jpg" alt="">

                        tr
                            td.table-title Historical Data for  <img src="../assets/i/question-mark.jpg" alt="">
                            td.table-date 6 months
                            td.table-date 18 months
                            td.table-date 36 months  
                        
                        tr.table-price
                            td 
                            td: img(src="../assets/i/price-1.jpg" alt="")
                            td: img(src="../assets/i/price-2.jpg" alt="")
                            td: img(src="../assets/i/price-3.jpg" alt="")
                    
                    //Mobile Basic Table Price 
                    .basic-table-price  
                        figure
                            img(src="../assets/i/price-1.jpg" alt="")
                            figcaption All major Social Network Unlimated Audience Size Unlimited Users Content & Campaign Intelligence 6 months of Historical Data

                            <hr>   

                        figure
                            img(src="../assets/i/price-2.jpg" alt="")
                            figcaption All major Social Network Unlimated Audience Size Unlimited Users Content & Campaign Intelligence 6 months of Historical Data 
                            
                            <hr>

                        figure
                            img(src="../assets/i/price-3.jpg" alt="")
                            figcaption All major Social Network Unlimated Audience Size Unlimited Users Content & Campaign Intelligence 6 months of Historical Data

                            <hr>             
                    
                //Link
                .price--content--see-more
                    a(href="#") See comparision of Basic/Pro/Premium plans    <img src="../assets/i/down-arrow.jpg" alt="">           
        

        //Section Form
        section.form#form
            //Container
            .container
                //Form Content
                .form--content
                   
                    h2.form--content--title Try it free for 7 days

                    //Form contant form
                    .form--content--form 
                       
                        label.sign-in(for="sign in") I'm signing up half of my:<br>
                       
                        <input type="radio"  name="client" value="Brand" checked> Brand<br>
                       
                        <input type="radio"  name="client" value="Agency's Client"> Agency's Client(s)
            
                        <br>
                        //Input Group
                        .input-group
                           
                            label Your Full Name
                           
                            <br>
                           
                            input(type="text" placeholder="Sherlock Holmes")

                        
                        <br>
                        //Input Group
                        .input-group
                        
                            label Work Address
                        
                            <br>
                        
                            input(type="email" placeholder="sherlock@holmes.com")
                
                        <br>
                        //Input Group
                        .input-group
                       
                            label Company Name
                       
                            <br>
                       
                            input(type="text" placeholder="Sherlock Pvt. Ltd")
                       
                        <br>
                       
                        //Input Group
                        .input-group
                       
                            label Industry
                       
                            <br>
                       
                            select(name="Industry" placeholder="Criminal Justice")
                       
                                <option value="Criminal Justice" selected>Criminal Justice</option>
                       
                        <br>
                        //Input Submit
                        input(type="submit" value="Start my free trail").btn-fb 
                        
                        //Form Content Brand
                        .form--content--brand
                            h3.form--content--brand-title Thousands of real-time marketers use Unmetric to analyze their competitor’s social media efforts.
                            
                            //Client Images
                            .client-images
                                img(src="../assets/i/ford.png", alt="").ford 
                                img(src="../assets/i/logo-aa.png", alt="").aa 
                                img(src="../assets/i/logo-h&m.png", alt="").hm
                                img(src="../assets/i/logo-loreal.png", alt="").loreal 
                                img(src="../assets/i/logo-gm.png", alt="").gm 
                                img(src="../assets/i/logo-unilever.png", alt="").unilever 
        //Section Footer
        footer.bottom-bar
            //Container
            .container
                
                .size4of12.footer         
                    ul
                        li 
                            h3 
                                span Products
                        
                        li
                            a.footer-list--link(href='#') Sense — for Marketers
    
                        li
                            a.footer-list--link(href='#') Analyze — for Social Media Analysts
                            
                        li    
                            a.footer-list--link(href='#') Discover — for Content Creators
                  
                
                .size3of12.footer
                    ul
                        li
                            h3 
                                span About
                            
                        li   
                            a.footer-list--link(href='#') Company
 
                        li
                            a.footer-list--link(href='#') Customers
                        
                        li
                            a.footer-list--link(href='#') Why Agencies love us

                        li      
                            a.footer-list--link(href='#') Our blog
                        
                        li    
                            a.footer-list--link(href='#') Press & News coverage
                        
                        li  
                            a.footer-list--link(href='#') Job openings

                          

                .size3of12.footer
                    ul
                        li
                            h3 
                                span Resources 
                    
                        li
                            a.footer-list--link(href='#') Articles 
                        
                        li  
                            a.footer-list--link(href='#') Ebooks
                        
                        li  
                            a.footer-list--link(href='#') Infographics
                        
                        li  
                            a.footer-list--link(href='#') Interviews
                        
                        li  
                            a.footer-list--link(href='#') Industry Reports
                      
                      
                .size2of12.footer
                    ul 
                        li 
                            h3 
                                span Contact
                            
                        li
                            a.footer-list--link(href='#') Get in touch 
                        
                        li
                            a.footer-list--link(href='#') Twitter
                        
                        li  
                            a.footer-list--link(href='#') Facebook
                        
                        li
                            a.footer-list--link(href='#') Pinterest
                        
                        li
                            a.footer-list--link(href='#') LinkedIn
                        
                        li
                            a.footer-list--link(href='#') SlideShare
                               
                  
        script(src="../assets/js/jquery-2.1.3.min.js") 
        script(src='../assets/js/functions.js')
        script(src='../assets/js/uilang.js')
       
        <code><!-- start by removing the previous "open" class -->clicking on ".btn-info" removes class "active" on ".btn-info.active" <!-- then add it to the clicked title -->clicking on ".btn-info" adds class ".btn-info" on "target" <!-- start by removing the previous "open" class --> clicking on ".f2" removes class "is-active" on ".f1.is-active" clicking on ".f2" adds class "is-active" on ".f2" clicking on ".f3" removes class "is-active" on ".f2.is-active" clicking on ".f3" adds class "is-active" on ".f3" clicking on ".f5" removes class "is-active" on ".f4.is-active" clicking on ".f5" adds class "is-active" on ".f5" clicking on ".f6" removes class "is-active" on ".f5.is-active" clicking on ".f6" adds class "is-active" on ".f6" clicking on ".f5" removes class "is-active" on ".f6.is-active" clicking on ".f4" removes class "is-active" on ".f6.is-active" clicking on ".f4" adds class "is-active" on ".f4.is-active" clicking on ".more" toggles class "visible" on "#popover" clicking on ".nav-sub-link" removes class "active" on ".nav-sub-link.active" <!-- then add it to the clicked title -->clicking on ".nav-sub-link" adds class ".btn-info" on "target" clicking on ".mobile-nav-toggle" adds class "fix-it" on "body" clicking on ".mobile-nav-toggle" removes class "fix-it" on "body.fix-it"
        </code>

