doctype html
 
html
    head
        title Unmetric Home
        
        meta(charset="utf-8")
        meta(name="author", content="unmetric")
        meta(http-equiv="cleartype", content="on")
        // http://t.co/dKP3o1e
        meta(name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")
        meta(name="viewport", content="initial-scale=1.0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-title", content="Unmetric")
        meta(name="msapplication-TileImage", content="")
        meta(name="msapplication-TileColor", content="#4c5bb7")
        
        
        
        // Styles
        link(href="../assets/css/styles.css", rel="stylesheet", type="text/css")
     

        
        // FONTASTIC ICONS
        link(href="https://file.myfontastic.com/MbCTJofyGYYqRjeb8aineC/icons.css", rel="stylesheet")
        
        
        // Favicon
        link(rel="shortcut icon", href="i/favicon.ico")
        
        
        
        // JavaScript
        script(src="https://use.typekit.net/njh2cfh.js")
        script.
            try{Typekit.load({ async: true });}catch(e){}
            
    

    body.an-mod
        //header
        .mobile-nav
            ul.nav-wrap
                li
                    a.nav-link.more(href="#") Product

                    ul.popover

                        li
                            a.nav-sub-link.active(href="analyze.html")
                                span.menu-analyze ANALYZE
                                
                                <br>
                                
                                span.menu-intro Compare and analyze your competitors

                        li
                            a.nav-sub-link(href="track.html") 
                                span.menu-track TRACK
                                
                                <br>
                                
                                span.menu-intro Keep an eye on your competition
                        
                        
                        li 
                            a.nav-sub-link(href="discover.html")
                                span.menu-discover DISCOVER<i class="fa fa-caret-right"></i>
                                
                                <br>
                                
                                span.menu-intro Find inspiration to create content
                
                li: a.nav-link(href="about.html") About
                li: a.nav-link(href="#") Contact
                li: a.nav-link(href="#") Resource
        

         section.header
            .flex.flex--center
                .col-2
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae quidem voluptatem iste, distinctio nostrum esse delectus, quasi, aperiam ipsam sequi ut nisi laboriosam commodi! Non veritatis, quo sed laborum. 

        section.about
            .flex.flex--center
                .col-1
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae quidem voluptatem iste, distinctio nostrum esse delectus, quasi, aperiam ipsam sequi ut nisi laboriosam commodi! Non veritatis, quo sed laborum.

                .col-1
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae quidem voluptatem iste, distinctio nostrum esse delectus, quasi, aperiam ipsam sequi ut nisi laboriosam commodi! Non veritatis, quo sed laborum.    

        
        section.product
            .flex.flex--center.flex--space-around
                .col-1
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae quidem voluptatem iste, distinctio nostrum esse delectus, quasi, aperiam ipsam sequi ut nisi laboriosam commodi! Non veritatis, quo sed laborum.

                .col-1
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae quidem voluptatem iste, distinctio nostrum esse delectus, quasi, aperiam ipsam sequi ut nisi laboriosam commodi! Non veritatis, quo sed laborum.    

        
        section.product-2
            .flex.flex--center
                .col-1
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae quidem voluptatem iste, distinctio nostrum esse delectus, quasi, aperiam ipsam sequi ut nisi laboriosam commodi! Non veritatis, quo sed laborum.

                .col-1
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae quidem voluptatem iste, distinctio nostrum esse delectus, quasi, aperiam ipsam sequi ut nisi laboriosam commodi! Non veritatis, quo sed laborum.   

                .col-1
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae quidem voluptatem iste, distinctio nostrum esse delectus, quasi, aperiam ipsam sequi ut nisi laboriosam commodi! Non veritatis, quo sed laborum.            

        section.product-3
            .flex.flex--center
                .col-3
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae quidem voluptatem iste, distinctio nostrum esse delectus, quasi, aperiam ipsam sequi ut nisi laboriosam commodi! Non veritatis, quo sed laborum.

                .col-3
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae quidem voluptatem iste, distinctio nostrum esse delectus, quasi, aperiam ipsam sequi ut nisi laboriosam commodi! Non veritatis, quo sed laborum.   

                .col-3
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae quidem voluptatem iste, distinctio nostrum esse delectus, quasi, aperiam ipsam sequi ut nisi laboriosam commodi! Non veritatis, quo sed laborum. 

                .col-3
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt beatae quidem voluptatem iste, distinctio nostrum esse delectus, quasi, aperiam ipsam sequi ut nisi laboriosam commodi! Non veritatis, quo sed laborum.                                    