doctype html
html
    head
        title Unmetric Home
        
        meta(charset="utf-8")
        meta(name="author", content="unmetric")
        meta(http-equiv="cleartype", content="on")
        // http://t.co/dKP3o1e
        meta(name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")
        meta(name="viewport", content="initial-scale=1.0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-title", content="Unmetric")
        meta(name="msapplication-TileImage", content="")
        meta(name="msapplication-TileColor", content="#4c5bb7")
        
        
        
        // Styles
        link(href="../assets/css/styles.css", rel="stylesheet", type="text/css")
        
        // FONTASTIC ICONS
        link(href="https://file.myfontastic.com/MbCTJofyGYYqRjeb8aineC/icons.css", rel="stylesheet")
        
        
        // Favicon
        link(rel="shortcut icon", href="i/favicon.ico")
        
        
        
        // JavaScript
        script(src="https://use.typekit.net/njh2cfh.js")
        script.
            try{Typekit.load({ async: true });}catch(e){}
            
    

    body.page-home.hm-mod
        header.top-bar
            .container
                a.logo(href="#")
                    img(src='../assets/i/unmetric-logo-white.png' alt='Unmetric logo')
                    


                ul.nav-wrap
                    li
                        a.more.nav-link(href="#") product

                        ul#popover
                            li
                                a.nav-sub-link(href="track.html") 
                                    span.menu-track TRACK
                                    
                                    <br>
                                    
                                    span.menu-intro Keep an eye on your competition
                            
                            li
                                a.nav-sub-link(href="analyze.html")
                                    span.menu-analyze ANALYZE
                                    
                                    <br>
                                    
                                    span.menu-intro Compare and analyze your competitors
                            
                            li 
                                a.nav-sub-link(href="discover.html")
                                    span.menu-discover DISCOVER<i class="fa fa-caret-right"></i>
                                    
                                    <br>
                                    
                                    span.menu-intro Find inspiration to create content


                    li: a.nav-link(href="about.html") company
                    li: a.nav-link(href="#") contact
                    li: a.nav-link.btn-sec(href="#") sign in
                
                
                
                .billboard
                    .billboard-content
                        h1.page-title Take Your Competition Head On
                                
                        ul.billboard-list
                            li.billboard-list--item
                                a.billboard-list--link(href='track.html')
                                    h3.billboard-list--heading Marketers
                                    
                                    p.billboard-list--copy 
                                        b Track 
                                        | your competitors social media marketing in real time. 
                                        <br>
                                        span.billboard-list--more Learn more about Track
                                            i.icon-arrow-right
                            
                            
                            
                            li.billboard-list--item
                                a.billboard-list--link(href='analyze.html')
                                    h3.billboard-list--heading Social Media Analysts
                                    
                                    p.billboard-list--copy 
                                        b Analyze 
                                        | your competition’s social content and campaign in depth. 
                                        <br>
                                        span.billboard-list--more Learn more about Analyze
                                            i.icon-arrow-right
                                    
                                    
                            li.billboard-list--item
                                a.billboard-list--link(href='discover.html')
                                    h3.billboard-list--heading Content Creators
                                    
                                    p.billboard-list--copy 
                                        b Discover 
                                        | ideas and inspiration to create engaging social content. 
                                        <br>
                                        span.billboard-list--more Learn more about Discover
                                            i.icon-arrow-right
                              
            .clients
                ul.clients-brand--list 
                    li.clients-brand--item
                        img(src="../assets/i/logo-ford-2x.png", alt="Ford")  

                    li.clients-brand--item
                        img(src="../assets/i/logo-aa@2x.png", alt="aa")  

                    li.clients-brand--item
                        img(src="../assets/i/logo-unilever@2x.png", alt="Unilever")  

                    li.clients-brand--item
                        img(src="../assets/i/logo-loreal-2x.png", alt="Loreal")  

                    li.clients-brand--item
                        img(src="../assets/i/logo-h&m@2x.png", alt="h&m")  
                    
                    li.clients-brand--item
                        img(src="../assets/i/logo-lowes@2x.png", alt="lowes")  

                    li.clients-brand--item
                        img(src="../assets/i/logo-gm-2x.png", alt="logo-gm")

                h2.clients-brand-header Thousands of real-time marketers at hundreds of leading brands and agencies across 20+ countries use Unmetric to compete and win.                                    
    


        section.section-avatar
            .avatar-belt
                .avatar-unit.active-avatar
                    .avatar-content
                        p.avatar-content--info<img src="../assets/i/left-quote.svg" class="left-quote-1">Unmetric's reporting capabilities make it easier for us to share audience and campaign insights with our clients.<img src="../assets/i/right-quote.svg" class="right-quote-1">

                        small.avatar-intro DON MATHIS, CEO



                .avatar-unit                
                    .avatar-content
                        p.avatar-content--info<img src="../assets/i/left-quote.svg" class="left-quote-2">Unmetric has made it simple to get a great pulse on competitive performance in a matter of minutes.<img src="../assets/i/right-quote.svg" class="right-quote-2">
                        small.avatar-intro CHRISTOPHER BROWN, DIRECTOR OF SOCIAL MEDIA STRATEGY



                .avatar-unit
                    .avatar-content                        
                        p.avatar-content--info<img src="../assets/i/left-quote.svg" class="left-quote-3">The ability to see the performance of competitor campaigns and engagement lends itself to truly valuable insights.<img src="../assets/i/right-quote.svg" class="right-quote-3">
                        small.avatar-intro CHRISSY STANOJEV, SOCIAL MEDIA STRATEGIST



                .avatar-unit                
                    .avatar-content
                        p.avatar-content--info<img src="../assets/i/left-quote.svg" class="left-quote-4"> Being able to keep tabs on communities and their publishing performance has been faster and easier using Unmetric than other tools.<img src="../assets/i/right-quote.svg" class="right-quote-4">
                        small.avatar-intro OMRI DUEK, MANAGER - NORTH AMERICA SOCIAL CENTER
                


                .avatar-unit
                    .avatar-content
                        p.avatar-content--info
                            img.left-quote-5(src="../assets/i/left-quote.svg")
                            | There are many types of graphs that helps the team and it's easy to use for management reporting purposes.
                            img.right-quote-5(src="../assets/i/right-quote.svg")

                        small.avatar-intro MELVIN LEONG, CORPORATE COMMUNICATIONS STRATEGIST                          

    
    
            .avatar-logos      
                .avatar-face
                    img(src="../assets/i/avatar-1.jpg", alt="")  
                    
                    .avatar-logo-3 
                        img(src="../assets/i/avatar-logo-3.png", alt="")
               


                .avatar-face
                    img(src="../assets/i/avatar-2.png", alt="") 
                    
                    .avatar-logo-3 
                        img(src="../assets/i/avatar-logo-3.png", alt="")     

                

                .avatar-face.active-avatar
                    img(src="../assets/i/avatar-3.png", alt="") 

                    .avatar-logo-3.active-avatar 
                        img(src="../assets/i/avatar-logo-3.png", alt="")
                


                .avatar-face
                    img(src="../assets/i/avatar-4.png", alt="")  
                    
                    .avatar-logo-3 
                        img(src="../assets/i/avatar-logo-3.png", alt="")
                


                .avatar-face
                    img(src="../assets/i/avatar-5.png", alt="")      
                
                    .avatar-logo-3 
                        img(src="../assets/i/avatar-logo-3.png", alt="")

        section.demand
            .container
                .demand--content
                    h2.demand--content--title See why people are choosing Unmetric

                    p.demand--content--info Demand more from your social analytics provider

                    table.demand--content--table
                        tr.table-list
                            td.table-title
                
                            td.table-brand <img src="../assets/i/unmetric-logo-white-bg.jpg" alt="Unmetric" class="unmetric-img">
                           
                            td.table-brand <span>OTHER SOCIAL ANALYTICS PROVIDER</span>
                           
                            td.table-brand <span>OTHER COMMAND CENTER SOLUTIONS</span>
                           
                            td.table-brand <span>OTHER CONTENT CREATION APPS</span>



                        tr.table-list
                            td.table-title No Audience Size Penalties  <img src="../assets/i/question-mark.jpg" alt="">

                            td <img src="../assets/i/right-symbol.jpg" alt="">

                            td <img src="../assets/i/right-symbol.jpg" alt="">

                            td <img src="../assets/i/right-symbol.jpg" alt="">

                            td 
                          


                        tr
                            td.table-title Promoted Content Detection  <img src="../assets/i/question-mark.jpg" alt="">
                            
                            td <img src="../assets/i/right-symbol.png" alt="">
                            
                            td <img src="../assets/i/right-symbol.png" alt="">
                            
                            td 
                            
                            td 
                          


                        tr
                            td.table-title Instant Email Alerts  <img src="../assets/i/question-mark.jpg" alt="">
                            
                            td <img src="../assets/i/right-symbol.png" alt="">
                            
                            td 
                            
                            td 
                            
                            td 
                    


                        tr
                            td.table-title Campaign Tagging <img src="../assets/i/question-mark.jpg" alt="">
                    
                            td <img src="../assets/i/right-symbol.png" alt="">
                    
                            td 
                    
                            td <img src="../assets/i/right-symbol.png" alt="">
                    
                            td 



                        tr
                            td.table-title Brand Search Engine  <img src="../assets/i/question-mark.jpg" alt="">

                            td <img src="../assets/i/right-symbol.png" alt="">

                            td

                            td <img src="../assets/i/right-symbol.png" alt="">

                            td <img src="../assets/i/right-symbol.png" alt="">



                        tr
                            td.table-title Predictive Content  <img src="../assets/i/question-mark.jpg" alt="">

                            td <img src="../assets/i/right-symbol.png" alt="">

                            td 

                            td 

                            td <img src="../assets/i/right-symbol.png" alt="">
                        


                        tr
                            td.table-title Content Performance Analysis  <img src="../assets/i/question-mark.jpg" alt="">

                            td <img src="../assets/i/right-symbol.png" alt="">

                            td <img src="../assets/i/right-symbol.png" alt="">

                            td <img src="../assets/i/right-symbol.png" alt="">

                            td 


        section.partners
            .container
                .partners-content
                    h2.partners-content--title Our Partners
                
                    .partners-images
                        img(src="../assets/i/logo-saleforce.png", alt="saleforce" class="logo-saleforce")

                        img(src="../assets/i/logo-oracle.png", alt="Orancle" class="logo-orancle")

                        img(src="../assets/i/logo-kantar.png", alt="Kantar Media" class="logo-kantar")



        section.news
            .container 
                .news-content 
                    h2.news-content-title We&rsquo;re making the news 
                    ul.news-brand--list 
                        li.news-brand--item
                            img(src="../assets/i/logo-forbes.jpg", alt="Ford" class="forbes-img")  

                        li.news-brand--item
                            img(src="../assets/i/logo-adage.jpg", alt="aa" class="adage-img")  

                        li.news-brand--item
                            img(src="../assets/i/logo-addweek.jpg", alt="Unilever" class="addweek-img")  

                        li.news-brand--item
                            img(src="../assets/i/H.jpg", alt="Loreal" class="logo-h")  

                        li.news-brand--item
                            img(src="../assets/i/logo-wjs.jpg", alt="h&m" class="wjs-img")  
                        
                        li.news-brand--item
                            img(src="../assets/i/logo-fortune.jpg", alt="lowes" class="fortune-img")  

                                                

                                                 
        footer.bottom-bar1
            .container
                .size4of12            
                    ul
                        li 
                            h3 
                                span Products
                        
                        li
                            a.footer-list--link(href='#') Sense — for Marketers
    
                        li
                            a.footer-list--link(href='#') Analyze — for Social Media Analysts
                            
                        li    
                            a.footer-list--link(href='#') Discover — for Content Creators
                  
                
                .size3of12
                    ul
                        li
                            h3 
                                span About
                            
                        li   
                            a.footer-list--link(href='#') Company
 
                        li
                            a.footer-list--link(href='#') Customers
                        
                        li
                            a.footer-list--link(href='#') Why Agencies love us

                        li      
                            a.footer-list--link(href='#') Our blog
                        
                        li    
                            a.footer-list--link(href='#') Press &amp; News coverage
                        
                        li  
                            a.footer-list--link(href='#') Job openings

                          

                .size3of12
                    ul
                        li
                            h3 
                                span Resources 
                    
                        li
                            a.footer-list--link(href='#') Articles 
                        
                        li  
                            a.footer-list--link(href='#') Ebooks
                        
                        li  
                            a.footer-list--link(href='#') Infographics
                        
                        li  
                            a.footer-list--link(href='#') Interviews
                        
                        li  
                            a.footer-list--link(href='#') Industry Reports
                      
                      
                .size2of12
                    ul 
                        li 
                            h3 
                                span Contact
                            
                        li
                            a.footer-list--link(href='#') Get in touch 
                        
                        li
                            a.footer-list--link(href='#') Twitter
                        
                        li  
                            a.footer-list--link(href='#') Facebook
                        
                        li
                            a.footer-list--link(href='#') Pinterest
                        
                        li
                            a.footer-list--link(href='#') LinkedIn
                        
                        li
                            a.footer-list--link(href='#') SlideShare

        
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')

        script(src='../assets/js/functions.js')
        
        script(src='../assets/js/uilang.js')
             
        <code>clicking on ".more" toggles class "visible" on "#popover"</code>