doctype html

html
    head
        title Unmetric Home
        
        meta(charset="utf-8")
        meta(name="author", content="unmetric")
        meta(http-equiv="cleartype", content="on")
        // http://t.co/dKP3o1e
        meta(name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")
        meta(name="viewport", content="initial-scale=1.0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-title", content="Unmetric")
        meta(name="msapplication-TileImage", content="")
        meta(name="msapplication-TileColor", content="#4c5bb7")
        
        
        
        // Styles
        link(href="../assets/css/styles.css", rel="stylesheet", type="text/css")
     

        
        // FONTASTIC ICONS
        link(href="https://file.myfontastic.com/MbCTJofyGYYqRjeb8aineC/icons.css", rel="stylesheet")
        
        
        // Favicon
        link(rel="shortcut icon", href="i/favicon.ico")
        
        
        
        // JavaScript
        script(src="https://use.typekit.net/njh2cfh.js")
        script.
            try{Typekit.load({ async: true });}catch(e){}
            
    

    body.nw-mod
        //header
        mixin nav-content()

            ul.nav-wrap
                li
                    a.more.nav-link.hide(href="#") product

                    ul#popover
                        li
                            a.nav-sub-link(href="track.html") 
                                span.menu-track TRACK
                                
                                <br>
                                
                                span.menu-intro Keep an eye on your competition
                        
                        li
                            a.nav-sub-link(href="analyze.html")
                                span.menu-analyze ANALYZE
                                
                                <br>
                                
                                span.menu-intro Compare and analyze your competitors
                        
                        li 
                            a.nav-sub-link(href="discover.html")
                                span.menu-discover DISCOVER<i class="fa fa-caret-right"></i>
                                
                                <br>
                                
                                span.menu-intro Find inspiration to create content


                li: a.nav-link.hide(href="about.html") company
                li: a.nav-link.hide(href="#") contact
                li: a.nav-link.hide.btn-sec(href="#") sign in
        .mobile-nav
            +nav-content()

        header.top-bar7
            .container
                a.logo(href="#")
                    img(src='../assets/i/unmetric-logo-white.png' alt='Unmetric logo')
                    
                +nav-content()

                .mobile-nav-toggle: span

            h1.title NEWS & MEDIA 

        section.section-news
            .container
                .news-content
                    #tabs(align="center" style="margin:-2em; padding:10px 10px 50px 10px;")
                        <a href="#brands" class="button btn-info active" style="position:relative; left:11px;">Media Coverage</a>
                        <a href="#agencies" class="button btn-info">Company News</a>

                    h1.content-title Unmetric in the news
                    p.content-more The Unmetric team strives to put out intelligent, informative and valuable content on social media, data analytics, and digital marketing. Our senior management team is often sought out for opinions and thought leadership pieces from leading publications.

                    .news-content-image
                        img(src="../assets/i/logo-fortune.jpg", alt="Fortune")
                    
                    .news-content-intro
                        a(href="#")
                            p This mobile app keeps tabs on your competitors
                        <span class="date"> August 6, 2015</span>

                    .news-content-image
                        img(src="../assets/i/logo-addweek.jpg", alt="Addweek")
                    
                    .news-content-intro
                        a(href="#")
                            p Marketing for Peanuts Movie Was Everywhere, but Consumers Didn’t Engage With It
                        <span class="date"> November 10, 2015</span>

                    .news-content-image
                        img(src="../assets/i/infographic.png", alt="Infographic")
                    
                    .news-content-intro
                        a(href="#")
                            p How the (Real) Clients from Mad Men are doing on Twitter Now
                        <span class="date"> May 15, 2015</span>

                    .news-content-image
                        
                    
                    .news-content-intro
                        a(href="#")
                            p A Timeline of Brands Scoring Big in Social Media
                        <span class="date"> December 24, 2014</span>
                    
                    .clear 


        footer.bottom-bar
            .container
                .size4of12            
                    ul
                        li 
                            h3 
                                span Products
                        
                        li
                            a.footer-list--link(href='#') Sense — for Marketers
    
                        li
                            a.footer-list--link(href='#') Analyze — for Social Media Analysts
                            
                        li    
                            a.footer-list--link(href='#') Discover — for Content Creators
                  
                
                .size3of12
                    ul
                        li
                            h3 
                                span About
                            
                        li   
                            a.footer-list--link(href='#') Company
 
                        li
                            a.footer-list--link(href='#') Customers
                        
                        li
                            a.footer-list--link(href='#') Why Agencies love us

                        li      
                            a.footer-list--link(href='#') Our blog
                        
                        li    
                            a.footer-list--link(href='#') Press & News coverage
                        
                        li  
                            a.footer-list--link(href='#') Job openings

                          

                .size3of12
                    ul
                        li
                            h3 
                                span Resources 
                    
                        li
                            a.footer-list--link(href='#') Articles 
                        
                        li  
                            a.footer-list--link(href='#') Ebooks
                        
                        li  
                            a.footer-list--link(href='#') Infographics
                        
                        li  
                            a.footer-list--link(href='#') Interviews
                        
                        li  
                            a.footer-list--link(href='#') Industry Reports
                      
                      
                .size2of12
                    ul 
                        li 
                            h3 
                                span Contact
                            
                        li
                            a.footer-list--link(href='#') Get in touch 
                        
                        li
                            a.footer-list--link(href='#') Twitter
                        
                        li  
                            a.footer-list--link(href='#') Facebook
                        
                        li
                            a.footer-list--link(href='#') Pinterest
                        
                        li
                            a.footer-list--link(href='#') LinkedIn
                        
                        li
                            a.footer-list--link(href='#') SlideShare


        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')

        script(src='../assets/js/functions.js')  
        script(src='../assets/js/uilang.js')

        <code><!-- start by removing the previous "open" class -->clicking on ".btn-info" removes class "active" on ".btn-info.active" <!-- then add it to the clicked title -->clicking on ".btn-info" adds class ".btn-info" on "target" clicking on ".more" toggles class "visible" on "#popover"</code>                                         