doctype html

html
    head
        title Unmetric Home
        
        meta(charset="utf-8")
        meta(name="author", content="unmetric")
        meta(http-equiv="cleartype", content="on")
        // http://t.co/dKP3o1e
        meta(name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")
        meta(name="viewport", content="initial-scale=1.0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-title", content="Unmetric")
        meta(name="msapplication-TileImage", content="")
        meta(name="msapplication-TileColor", content="#4c5bb7")
        
        
        
        // Styles
        link(href="../assets/css/styles.css", rel="stylesheet", type="text/css")
     

        
        // FONTASTIC ICONS
        link(href="https://file.myfontastic.com/MbCTJofyGYYqRjeb8aineC/icons.css", rel="stylesheet")
        
        
        // Favicon
        link(rel="shortcut icon", href="i/favicon.ico")
        
        
        
        // JavaScript
        script(src="https://use.typekit.net/njh2cfh.js")
        script.
            try{Typekit.load({ async: true });}catch(e){}
            
    

    body.tk-mod
        //Header
        header.top-bar3
            .container
                a.logo(href="#")
                    img(src='../assets/i/unmetric-logo-bg.png' alt='Unmetric logo')
    

                nav.nav-wrap
                    a.nav-link(href='#') products
                
                    a.nav-link(href='#') company
                
                    a.nav-link(href='#') sign in
                    a.nav-link(href='#').btn-sec <strong>Sign up for free trial</strong>

            .caption-2
                h1 TRACK
                h3 for
                p MARKETERS
        section.section-track-competition
            .container
                .track-competition--content
                    h1.track-competition--title Track your competition on social media in real time
                    
                    .track-competition--info
                        .size4of12 
                            img(src="../assets/i/brand-profile.jpg", alt="Reporting")  
                            
                            h2.reporting-title 35,000 brand profiles
                            
                            p.reporting-sub-info We’ve covered world’s most popular brands for you. If it’s missing we’ll add it right away. 

                        .size4of12 
                            img(src="../assets/i/socials.jpg", alt="Social Network ")  
                            
                            h2.reporting-title 4 major social networks
                            
                            p.reporting-sub-info All the insights and data you need from Facebook, Twitter, Instagram, YouTube, Pinterest and LinkedIn

                        .size4of12 
                            img(src="../assets/i/logo-LED.jpg", alt="Paid Post")  
                            
                            h2.reporting-title Use it everywhere
                            
                            p.reporting-sub-info Stay updated about what your competition is doing on any device you use, everywhere.

                    .link-app
                        a  iOS/ANDROID APP  
        
        section.section-pulse-competition   
            .container
                .pulse-competition--content
                    h1.pulse-competition--title Feel the pulse of your competition in just 60 seconds
                    p.pulse-competition--info Stay on top of all branded content published by in-house teams and marketing partners across Facebook, Twitter, YouTube and Instagram. 

                    .feature-2-section
                        .container
                            .feature-2
                                .feature-2-info.f1.is-active 
                                    h3.feature-2-list-title One-click Reports
                                    p.feature-2-list-info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. 
                                    
                                    <hr>

                                .feature-2-img
                                    img(src="../assets/i/large-phone.jpg", alt="Virgin America")                          
                            
                            .feature-2
                                .feature-2-info.f2
                                    h3.feature-2-list-title One-click Reports
                                    p.feature-2-list-info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue.
                                   
                                    <hr> 
                          
                                .feature-2-img
                                    img(src="../assets/i/large-phone.jpg", alt="Virgin America")

                            .feature-2
                                .feature-2-info.f3
                                    h3.feature-2-list-title One-click Reports
                                    p.feature-2-list-info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. 
                                    
                                    <hr>
                                
                                .feature-2-img
                                    img(src="../assets/i/large-phone.jpg", alt="Virgin America")

                            .link-feature-2
                                a(href="#").btn-tk Request Invite for Track<i class="icon-arrow-right"></i>          
                    .link-app
                        a(href="#") COMMAND-CENTER WEB APP                    
        
        section.section-social-profile   
            .container
                .social-profile--content
                    h1.social-profile--title Keep an eye on all social profiles with ease
                    p.social-profile--info Stay on top of all branded content published by in-house teams and marketing partners across Facebook, Twitter, YouTube and Instagram. 

                    .feature-3-section
                        .container
                            .feature-3
                                .feature-3-info.f1.is-active 
                                    h3.feature-3-list-title Big & Beautiful View
                                    p.feature-3-list-info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. 
                                    
                                    <hr>

                                .feature-3-img
                                    img(src="../assets/i/large-LED.jpg", alt="Virgin America")                          
                            
                            .feature-3
                                .feature-3-info.f2
                                    h3.feature-3-list-title Customize What You See
                                    p.feature-3-list-info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue.
                                   
                                    <hr> 
                          
                                .feature-3-img
                                    img(src="../assets/i/large-LED.jpg", alt="Virgin America")

                            .feature-3
                                .feature-3-info.f3
                                    h3.feature-3-list-title See Live Events  <span class="label"> COMING SOON </span>
                                    p.feature-3-list-info Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. 
                                    
                                    <hr>
                                
                                .feature-3-img
                                    img(src="../assets/i/large-LED.jpg", alt="Virgin America")  
                            
                            .link-feature--3        
                                a(href="#").btn-tk Request Invite for Track<i class="icon-arrow-right"></i>             
                    

        section.section-unmetric-track
            .container
                .unmetric-track--content
                    h1.unmetric-track--title<img src="../assets/i/left-quote.jpg"> Unmetric Track is the perfect app to quickly visualize competitors’content and campaigns. It’s essentially a newsfeed with Unmetric’s competitive intelligence capabilities.<img src="../assets/i/right-quote.jpg">
                    p.unmetric-track--info YURI PEREIRA – GLOBAL SOCIAL MEDIA STRATEGIST
                    
                    img(src="../assets/i/avatar-7.jpg", alt="" class="avatar")
                    <br>
                    img(src="../assets/i/logo-cococola.jpg", alt="ColoCola" class="logo")    
        
        section.section-invite
            .container
                .invite-title Request an invite
                .invite-content 
    
                    .invite--content--form 
                        input-control
                            label.email Email
                            <br>
                            input(type="text" placeholder="sherlock@holmes.com")
                            a(href="#").btn-tk.btn Request Invite

                    .invite--content--brand
                        h3.invite--content--brand-title Thousands of real-time marketers use Unmetric to analyze their competitor’s social media efforts.
                    .invite-brand-img    
                        img(src="../assets/i/ford.png", alt="").ford 
                        img(src="../assets/i/logo-aa.png", alt="").aa 
                        img(src="../assets/i/logo-h&m.png", alt="").hm
                        img(src="../assets/i/logo-gm.png", alt="").gm 
                        img(src="../assets/i/logo-unilever.png", alt="").unilever  
                        img(src="../assets/i/logo-loreal.png", alt="").loreal        
        footer.bottom-bar
            .container
                .size4of12            
                    ul
                        li 
                            h3 
                                span Products
                        
                        li
                            a.footer-list--link(href='#') Sense — for Marketers
    
                        li
                            a.footer-list--link(href='#') Analyze — for Social Media Analysts
                            
                        li    
                            a.footer-list--link(href='#') Discover — for Content Creators
                  
                
                .size3of12
                    ul
                        li
                            h3 
                                span About
                            
                        li   
                            a.footer-list--link(href='#') Company
 
                        li
                            a.footer-list--link(href='#') Customers
                        
                        li
                            a.footer-list--link(href='#') Why Agencies love us

                        li      
                            a.footer-list--link(href='#') Our blog
                        
                        li    
                            a.footer-list--link(href='#') Press & News coverage
                        
                        li  
                            a.footer-list--link(href='#') Job openings

                          

                .size3of12
                    ul
                        li
                            h3 
                                span Resources 
                    
                        li
                            a.footer-list--link(href='#') Articles 
                        
                        li  
                            a.footer-list--link(href='#') Ebooks
                        
                        li  
                            a.footer-list--link(href='#') Infographics
                        
                        li  
                            a.footer-list--link(href='#') Interviews
                        
                        li  
                            a.footer-list--link(href='#') Industry Reports
                      
                      
                .size2of12
                    ul 
                        li 
                            h3 
                                span Contact
                            
                        li
                            a.footer-list--link(href='#') Get in touch 
                        
                        li
                            a.footer-list--link(href='#') Twitter
                        
                        li  
                            a.footer-list--link(href='#') Facebook
                        
                        li
                            a.footer-list--link(href='#') Pinterest
                        
                        li
                            a.footer-list--link(href='#') LinkedIn
                        
                        li
                            a.footer-list--link(href='#') SlideShare
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='../assets/js/fadein.js')
        script(src='../assets/js/uilang.js')
        script.
            jQuery(document).ready(function() {
                jQuery('section').addClass("hidden").viewportChecker({
                    classToAdd: 'visible animated ', // Class to add to the elements when they are visible
                    offset: 100    
                });   
            });            
        <code>clicking on ".f2" removes class "is-active" on ".f1.is-active" clicking on ".f2" adds class "is-active" on ".f2" clicking on ".f3" removes class "is-active" on ".f2.is-active" clicking on ".f3" adds class "is-active" on ".f3"  
        </code>                                           