.fixed-header                        
    .grid.grid--gutter
        .content
            .grid-cell
                .fixed-ad-content.t-center

                    .col-5
                        span Take Your Competition Head On 
                    
                    .col-5
                        input.btn.btn-secondary(type="button" value="learn more")