footer.row.has-padding
    .content
        ul.nav-footer.grid.grid--gutters
            li.grid-cell.size1of3
                h4 Products
                
                ul.nav-footer--list
                    li: a.nav-footer--link(href="#") Analyze &mdash; Analysts
                    
                    li: a.nav-footer--link(href="#") Track &mdash; for Marketers
                    
                    li: a.nav-footer--link(href="#") Discover &mdash; for Content Creators
                    
                    
            
            
            
            li.grid-cell
                h4 About
                
                ul.nav-footer--list
                    li: a.nav-footer--link(href='#') Company

                    
                    li: a.nav-footer--link(href='#') Why Agencies love us

                    li: a.nav-footer--link(href='#') Our blog
                    
                    li: a.nav-footer--link(href='#') Press & News coverage

            
            
            
            li.grid-cell
                h4 Resources
                
                ul.nav-footer--list
                    li: a.nav-footer--link(href="#") Articles
                    
                    li: a.nav-footer--link(href="#") Ebooks 
                    
                    li: a.nav-footer--link(href="#") Infographics 
                    
                    li: a.nav-footer--link(href="#") Interviews 
                    
                    li: a.nav-footer--link(href="#") Industry Reports 
                    
                    
                    
            
            li.gird-cell 
                h4 Contact
                
                ul.nav-footer--list    
                    li: a.nav-footer--link(href='#') Get in touch 
                    
                    li: a.nav-footer--link(href='#') Twitter
                    
                    li: a.nav-footer--link(href='#') Facebook
                    
                    li: a.nav-footer--link(href='#') Pinterest
                    
                    li: a.nav-footer--link(href='#') LinkedIn
                    
                    li: a.nav-footer--link(href='#') SlideShare

        
        
        .grid.site-info-wrap
            .grid-cell
                p.site-info &copy; Unmetric 
                
                
            .grid-cell    
                .partner-twitter
                    img(src="assets/i/twitter.png", alt="Twitter")       
                
            .grid-cell
                p.site-links
                    a(href="#") Privacy
