.container-fixed-on
    .grid
        .grid-cell
            .footer-nav
                
                .logo
                    img(src="../assets/svg/logo-un.svg", alt="Logo")
                    span Blog
                
                p Love unmetric?
                    a.t-weight--m(href="#")   Subscribe    
                    
