nav.nav-main.0is-hidden
    ul.nav-main-wrap
        
        li 
            a.more.nav-main--link(href="#") All Categories
                i.icon-arrow-dropdown
            
            ul.nav-main-dd
                li: a.nav-main--link(href="http://blog.unmetric.com/topic/campaign-analysis") Campaign Analysis
            
                    
                li 
                    a.nav-main--link(href="http://blog.unmetric.com/topic/events-real-time-marketing") Events & Real Time Marketing
                        
                    
                li 
                    a.nav-main--link(href="http://blog.unmetric.com/topic/free-ebooks-guides") Free Ebooks & Guides


                li: a.nav-main--link(href="http://blog.unmetric.com/topic/how-to") How To
                

                li 
                    a.nav-main--link(href="http://blog.unmetric.com/topic/industry-reports") Industry Reports
                    
                
                li 
                    a.nav-main--link(href="http://blog.unmetric.com/topic/inside-unmetric") Inside Unmetric

                    

                li 
                    a.nav-main--link(href="http://blog.unmetric.com/topic/social-strategies") Social Strategies


        li
            a.nav-main--link(href="#")
                button.btn.btn-secondary.t-weight--m Subscribe