.post-action.col-4
    .social_buttons-wrap
        a.social_button-tw(href="https://twitter.com/intent/tweet?original_referer=test.unmetric.com&text=Ultimate Facebook Analytics Guide by @unmetric&url=https://test.unmetric.com/ultimate-facebook-analytics-guide/#2" target="blank")
            i.icon-twitter
            span.social_button-text Tweet
        
        a.social_button-fb(href="https://www.facebook.com/sharer/sharer.php?&u=https://test.unmetric.com/ultimate-facebook-analytics-guide/#2&display=popup" target="blank")
            i.icon-facebook
            span.social_button-text Share
        
        a.social_button-gp(href="https://plus.google.com/share?url=https://test.unmetric.com/ultimate-facebook-analytics-guide/#2" target="blank")
            i.icon-gplus
            span.social_button-text +1   

            
        a.social_button-in(hrefe="https://www.linkedin.com/shareArticle?mini=true&url=https://test.unmetric.com/ultimate-facebook-analytics-guide/#2&title=Ultimate Facebook Analytics Guide&summary=&source=test.unmetric.com" target="blank")
            i.icon-linkedin
            span.social_button-text LinkedIN   
