section.row.subscribe.u-pad-bottom
            .content
                .bg-graident.col-5.pad-sub

                    .grid.grid--gutter
                        
                            .grid-cell

                                p.t-white Get interviews from your peers and industry experts, advice on social analytics and analyst debriefs of thought leaders delivered directly to your inbox.

                            .grid-cell.size1of3
                                .control-wrap
                                        .parallal-input.t-center
                                        
                                            input(type="text" placeholder="Email Address")
                                        
                                            button.btn.w-btn Subscribe to Email updates