/* Images */
img{
	max-width: 100%;
	position: relative;
	z-index: 2;
}



//Hero image theme

.img-theme{
	@include position(absolute, -150px 0 0 -125px);
	height: 583.68px;
	width: 1440px;
	margin: 0 auto;
	z-index: 1;
	background-blend-mode: lighten;
	background-repeat: no-repeat;
	background-size: cover;

	@include media-query(palm){
		left: -20px;
	}
}




//Small Image

.small-image{
	height: 160px;
	width: 300px;
}




//Blog Avatar-image

.blog-avatar--image{
	width: 200px;

	@include media-query(palm){
		width: 100px;
	}
}


.author_img{
	overflow: hidden;

	img{
		border-radius: 50%;
	}
}