/*------------------------------------*\
    #PAGE
\*------------------------------------*/
 

html {
	background-color: white;
	color: $grey-darker;
	font-size: 62.5%;
	font-family: $base-font-family;
	line-height: $base-line-height;
	min-height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: #f3f5f6;
	-webkit-text-size-adjust: 100%;
       -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased; 
}



body {
	@include size(100%); /* So that overlay extends to edges*/
	@include font-size($text-size-s);
}



ul,
ol,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}



hr {
	border: 1px solid $border-color-base;
	border-width: 1px 0 0;
}



img {
   max-width: 100%;
}
.hidden{
	opacity: 1;
}
.caption,
.caption-2,
.caption-3{
    text-align: center;
    margin: 0.4em auto;
    color: white;

    h1{
        font-size: 48px;
        font-weight: 900; 
    }
    h3:before,
    h3:after {
    width: 74px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: #fff;
    margin: 0 1%;
    }

    h3 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    margin: -0.5em 0 0 0;
    font-weight: normal;
    opacity: 0.7;
    
    }
    p{
        color: #fff;
        font-size: 18px;
    }
}