//Themes

.ds-mod{
	
	.top-bar4{
		background: -moz-linear-gradient(#04AC59, #49EEA2,#F5F4F5);
	    background: -webkit-linear-gradient(#04AC59, #49EEA2,#F5F4F5);
	    background: linear-gradient(#04AC59, #49EEA2,#F5F4F5);
	}

}

.an-mod{
	.top-bar2 {
		background: -moz-linear-gradient(#5856D6, #02DCFB,#FFFFFF);
	    background: -webkit-linear-gradient(#5856D6, #02DCFB,#FFFFFF);
	    background: linear-gradient(#5856D6, #02DCFB,#FFFFFF);
	}
}

.ab-mod{
	
	.top-bar5 {
		background: -moz-linear-gradient(#5856D8, #44BBD3,#FFFFFF);
	    background: -webkit-linear-gradient(#5856D8, #44BBD3,#FFFFFF);
	    background: linear-gradient(#5856D8, #44BBD3,#FFFFFF);
	}

	[class^='btn-']{
	    background: -moz-linear-gradient(#5658D8, #30A7CD);
	    background: -webkit-linear-gradient(#5658D8, #30A7CD);
	    background: linear-gradient(#5658D8, #30A7CD);
	 
	}
}


//variables

$ds-green: #00C57C;




.hm-mod{
	
	.top-bar{
		background: -moz-linear-gradient(#5856D6, #45DAFF,#20D3B9,#00CD7E);
        background: -webkit-linear-gradient(#5856D6, #45DAFF,#20D3B9,#00CD7E);
        background: linear-gradient(#5856D6, #45DAFF,#20D3B9,#00CD7E);
	}
}

//variables





.tk-mod{
	
	.top-bar3{
		background: -moz-linear-gradient(#0098AF, #02FBCB,#FFFFFF);
	    background: -webkit-linear-gradient(#0098AF, #02FBCB,#FFFFFF);
	    background: linear-gradient(#0098AF, #02FBCB,#FFFFFF);
	}
	[class^='btn-'] {
		padding: 15px 80px;
	    background: -moz-linear-gradient(#2DB5C3, #59DBE3);
	    background: -webkit-linear-gradient(#2DB5C3, #59DBE3);
	    background: linear-gradient(#2DB5C3, #59DBE3);

	}
}


.bs-mod{
	
	.top-bar6{
		background: -moz-linear-gradient(#5856D8, #44BBD3,#FFFFFF);
	    background: -webkit-linear-gradient(#5856D8, #44BBD3,#FFFFFF);
	    background: linear-gradient(#5856D8, #44BBD3,#FFFFFF);
	}
}	

.nw-mod{
	
	.top-bar7{
		background: -moz-linear-gradient(#56AED8, #F4A536,#FFFFFF);
	    background: -webkit-linear-gradient(#56AED8, #F4A536,#FFFFFF);
	    background: linear-gradient(#56AED8, #F4A536,#FFFFFF);
	}
}