/* -------------------- *\
   #LINKS
\* -------------------- */

a, 
[class$="-link"] {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
    outline: none !important;
}




a {
    &:hover {
        color: lighten($link-color, 5);
        text-decoration: none;    
    }
    
    &:focus {
        color: white;
        outline: none !important;    
    }
    
    &:hover,
    &:active {
        outline: 0;
    }
}
a[class^='social_button-'] {
    font-size: 12px;
    font-size: 1.2rem;
    -webkit-transition: background, 0.3s;
    -moz-transition: background, 0.3s;
    transition: background, 0.3s;
    background: #d8d9e5;
    color: #022550;
    padding: 6px 12px;
    margin-right: 1px;
    text-transform: uppercase;
}
