/* -------------------- *\
   #TYPOGRAPHY
\* -------------------- */

 
$text-size-xxl: 64px !default;
$text-size-xl:  32px !default;

$text-size-l:   48px !default;
$text-size-m:   36px !default;
$text-size-s:   16px !default;

$text-size-xs:  14px !default;
$text-size-xxs: 13px !default;



/**
 * Typographical base selectors.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: normal;
   line-height: 1.1;
   margin: 0;
}

/* Heading sizes defined */
	
h1 {
	@include font-size($text-size-l);
    font-size: 48px;
    font-weight: bold;
    line-height: 0.9;
	margin-bottom: 10px;
}

h2 {
	@include font-size($text-size-m);
    color: #444444;
    font-weight: 600;
    margin-bottom: 10px;
}

h3 {
	@include font-size($text-size-s);
}

h4, 
h5, 
h6{
	@include font-size($text-size-xs);
}



/* Other text elements  */

p {
  margin: 0;
}



abbr {
  border-bottom: 1px dotted $border-color-light;
  cursor: help;
}



b,
strong {
  font-weight: bold;
}



/**
 * mainly set to normal because of icons wrapped in <i>
 */
i {
   font-style: normal;
}



small {
	@include font-size($text-size-xs);
}



.page-title,
.page-subtitle {
    text-shadow: 0 0 3px rgba(black, .1);
}

.page-title {
    @include font-size($text-size-xxl);
    color: white;
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 60px;
}

.page-subtitle {
    @include font-size($text-size-l);
    color: white;
    line-height: 1.3;
}