//Themes

.ds{
	background: -moz-linear-gradient(#06CB89, #04C8BA,#02C4FB);
    background: -webkit-linear-gradient(#06CB89, #04C8BA,#02C4FB);
    background: linear-gradient(#06CB89, #04C8BA,#02C4FB);
}

.ab{
	background: -moz-linear-gradient(#5856D8, #884FAB,#D34466);
    background: -webkit-linear-gradient(#5856D8, #884FAB,#D34466);
    background: linear-gradient(#5856D8, #884FAB,#D34466);
}


//variables

$ds-green: #00C57C;





