/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
	background-color: white;
	color: $grey-darker;
	font-size: 62.5%;
	font-family: $base-font-family;
	line-height: $base-line-height;
	min-height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: #f3f5f6;
	-webkit-text-size-adjust: 100%;
       -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;

    @include media-query(hd) {
        position: relative;
        height: 100%;
    }

}

//Body

body {
	@include size(100%); /* So that overlay extends to edges*/
	@include font-size($text-size-s);
}

//Nav ul

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ol {
    padding: 0;
    margin: 0;


}
.decimal{
    list-style-type: decimal;
    -webkit-padding-start: 30px;
    margin: 10px;
}


//Img

img {
   max-width: 100%;
}

//Caption

.caption,
.caption-2,
.caption-3{
    text-align: center;
    margin: 0.7em auto;
    color: white;

    h1{
        font-size: 48px;
        font-weight: 900;
    }
    h3:before,
    h3:after {
    width: 45px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: #fff;
    margin: 0 1%;
    }

    h3 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    margin: -0.4em 0 0 0;
    font-weight: normal;
    opacity: 0.7;

    }
    p{
        color: #fff;
        font-size: 18px;
    }
}

//container

[class^="top-"]{
    .container{
        top: 0;
        left: 0;
        padding: 0 50px;
        z-index: 4;

    }
}



//Page
.page__home--alt-new{
	height: 100%;

	@include media-query(hd) {
		height: 75vh;
	}
}
