/* -------------------- *\
   #LINKS
\* -------------------- */

a, 
[class$="-link"] {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
    outline: none !important;
}




a {
    &:hover {
        color: lighten($link-color, 5);
        text-decoration: none;    
    }
    
    &:focus {
        color: white;
        outline: none !important;    
    }
    
    &:hover,
    &:active {
        outline: 0;
    }
}