/*------------------------------------*\
    #TABLE
\*------------------------------------*/

/* 
** Basic Table Styles 
*/

table {
	@include font-size(13px);
	font-family: $base-font-family !important;
	
	th,
	td {
		position: relative;
		font-family: $base-font-family !important;
	}
}