/* -------------------- *\
   #TYPOGRAPHY
\* -------------------- */



/* Type Variable */ 
$text-size-xxxl: 60px !default;
$text-size-xxl:  48px !default;
$text-size-xl:   36px !default;
$text-size-l:    24px !default;
$text-size-m:    21px !default;
$text-size-s:    18px !default;
$text-size-xs:   16px !default;
$text-size-xxs:  14px !default;
$text-size-xxxs: 12px !default;



/**
 * Typographical base selectors.
 */



/* Heading sizes defined */
	
h1 {   
	@include font-size($text-size-xl);
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 1;
    margin-bottom: 20px;
    
    @include media-query(desk) {
        @include font-size($text-size-xxl);    
    }
}




h2 {
	@include font-size($text-size-l);
	letter-spacing: -1px;
    margin-bottom: 20px;
    
    @include media-query(desk) {
        @include font-size($text-size-xl);    
    }
}



h3 {
	@include font-size($text-size-s);
}



h4 {
	@include font-size($text-size-xxs);
}



h5,
h6 {
    @include font-size($text-size-xxxs);
}



/* Other text elements  */

ul,
ol,
p {
    @include font-size($text-size-xs);
    color: $grey-base;
    margin: 0 0 20px;
}



abbr {
    border-bottom: 1px dotted $grey-light;
    cursor: help;
}



b,
strong,
.bold {
    font-weight: bold;
}



i,
em,
.italic {
   font-style: italic;
}



small,
.small {
	@include font-size($text-size-xxs);
}

.smaller {
    @include font-size($text-size-xxxs);
}





/** 
    Typography Helper Classes for Titles, Subtitles, Intros, etc. 
**/
.page-title,
.page-subtitle {
    text-shadow: 0 0 3px rgba(black, .1);
}

.page-title {
    @include font-size($text-size-xxl);
    color: white;
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 60px;
}

.page-subtitle {
    @include font-size($text-size-l);
    color: white;
    line-height: 1.3;
}



/* Used before section title to label the section */
.section-label {
    @include font-size($text-size-xs);
    color: $grey-light; // Might be changed based on Theme
    text-transform: uppercase;
    
    @include media-query(hd) {
        @include font-size($text-size-s);    
    }
}



.section-title {
    color: $grey-dark;
}



.intro {
    @include font-size($text-size-s);
    color: $grey-base;
    
    @include media-query(hd) {
        @include font-size($text-size-m);    
    }
}