/* ------------------------------------------- *\
   #GRID
\* ------------------------------------------- */

/**
 *   Modern Grid system using Flexbox
 **/

.grid {

    @include media-query(hd) {
        @include display(flex);
        @include flex-wrap(wrap);
    }
}

.grid--gutter {
    @include media-query(hd) {
        margin: -1em 0 1em -1em;

        > .grid-cell {
           padding: 1em 0 0 1em;
        }
    }
}



// To align child cell in center
.grid--center {
    @include media-query(hd) {
        @include justify-content(center);
    }
}


    .grid-cell {
        @include media-query(hd) {
            @include flex(1);
        }
    }


        .grid-cell--center {
            @include align-self(center);
        }


    .size1of2 {
        @include media-query(hd) {
            @include flex(none);
            width: 50%;
        }
    }

    .size1of3 {
        @include media-query(hd) {
            @include flex(none);
            width: 33.3%;
        }
    }

    .size1of4 {
        @include media-query(hd) {
            @include flex(none);
            width: 25%;
        }
    }

    .size3of4 {
        @include media-query(hd) {
            @include flex(none);
            width: 75%;
        }
    }

    .size1of6 {
        @include media-query(hd) {
            @include flex(none);
            width: 75%;
        }
    }













/*
** To contain/wrap the main content of a page
*/
.container {
    position: relative;
    width: 90%;
    margin: 0 auto;
}



[class*='size1of1'] {
	@include span-columns(12);
}



[class*='size3of12'] {

   @include media-query(hd) {
   	@include span-columns(3);
   }
}



[class*='size4of12'] {

   @include media-query(hd) {
   	@include span-columns(4);
   }
}



[class*='size5of12'] {

   @include media-query(hd) {
   	@include span-columns(5);
   }
}



[class*='size6of12'] {

   @include media-query(hd) {
   	@include span-columns(6);
   }
}



[class*='size7of12'] {

   @include media-query(hd) {
   	@include span-columns(7);
   }
}



[class*='size8of12'] {

   @include media-query(hd) {
      @include span-columns(8);
   }
}



[class*='size9of12'] {

   @include media-query(hd) {
   	@include span-columns(9);
   }
}


[class*='size10of12'] {

   @include media-query(hd) {
   	@include span-columns(10);
   }
}



[class*='center-size'] {
	@include outer-container;
}



.center-size4of12 {

   @include media-query(hd) {
   	@include shift(4);
   }
}



.center-size5of12 {

   @include media-query(hd) {
   	margin-left: 30%;
   }
}



.center-size6of12 {

   @include media-query(hd) {
   	@include shift(3);
   }
}



.center-size7of12 {

   @include media-query(hd) {
   	margin-left: 20%;
   }
}



.center-size8of12 {

   @include media-query(hd) {
   	@include shift(2);
   }
}



.center-size9of12 {

   @include media-query(hd) {
   	margin-left: 12.5%;
   }
}

.center-size10of12 {

   @include media-query(hd) {
   	margin-left: 8.5%;
   }
}



/**
 * Remove margin from last item of grid
 */
[class*='of12'].last {
    margin-right: 0 !important;
}
