section{
	padding: 50px 0;
}





//flex classes


.flex{
	display: flex;
}

.flex--center{
	justify-content: center;
}


//floating

.flex--space-around{
	justify-content: space-around;
}


//columns

.col-1{
	max-width: 400px;
	margin: 0 10px;
	background: pink;
	}	

.col-2{
	max-width: 800px;
	margin: 0 10px;
	background: yellow;
}

.col-3{
	max-width: 300px;
	margin: 0 10px;
	background: yellow;
}




@media (max-width: 650px){
		
		.flex{
			display: block;
			
		}
		.col-1{
			max-width: 100%;
			margin: 0 10px;
		}
		.col-2{
			max-width: 100%;
			margin: 0 10px;
			
		}

		.col-3{
			max-width: 100%;
			margin: 0 10px;
			
		}
}
