/*------------------------------------*\
    #FOOTER
\*------------------------------------*/


footer.row.has-padding {
    @include linear-gradient(#f6f6f6, #fff);
    padding: 80px 0 60px;
    text-align: center;
    clear: both;

    h4 {
        color: $grey-light;
    }

    @include media-query(hd) {
        text-align: left;
    }
}



.nav-footer--list {
    margin-bottom: 30px;
}



// Footer navigation
.nav-footer--link {
    @include font-size($text-size-xxs);
    color: $grey-light;

}


.Partner-twitter{
    //padding-top: 20px;
    text-align: center;
    margin-top: -20px;
    img{
        height: 60px;
    }
}




.site-info-wrap {
    margin-top: 80px;
}
    .site-info {
        @include font-size($text-size-xxxs);
        color: $grey-light;
    }

    .victory {
        @include font-size($text-size-xl);
        color: $grey-lighter;
        margin: -20px 0 0;
        text-align: center;
    }

    .site-links {
        @include font-size($text-size-xxxs);

        a {
            color: $grey-light;
        }

        @include media-query(hd) {
            text-align: right;
        }
    }



/*------------------------------------*\
\*------------------------------------*/
.bottom-bar {
    @include group;
    padding-top: 5em;
    background: -moz-linear-gradient(top, rgba(246,246,246,1) 15%, rgba(246,246,246,1) 15%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 67%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(246,246,246,1) 15%,rgba(246,246,246,1) 15%,rgba(255,255,255,1) 57%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 67%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(246,246,246,1) 15%,rgba(246,246,246,1) 15%,rgba(255,255,255,1) 57%,rgba(255,255,255,1) 67%,rgba(255,255,255,1) 67%);
    @include font-size($text-size-xs);
    position: relative;
    z-index: 2;
    opacity: 0.95;
    overflow: hidden;

    .container {
        width: 1200px;
        padding: 40px 0 60px 80px;
    }

    h3 {
        @include font-size($text-size-xs);
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #777777;
        font-weight: 700;

        span {
            display: inline-block;
            line-height: 1.8;
        }
    }

    a {
        color: #444444;
        line-height: 1.8;

        &:hover {
            color: $link-color;
        }
    }
}


@media (max-width: 800px) {

    .bottom-bar .container{
        padding: 0 0 20px 20px;

       .footer{
        margin-bottom: 25px;
       }
    }

}
