/*------------------------------------*\
    #ANALYZE-HEADER
\*------------------------------------*/
body{
    overflow: hidden;
}

.top-bar2 {
    height: 640px;

    .analyze-header-image{
        width:600px;
        margin: -70px auto; 
        display: flex;
        align-items: center;
        text-align: center;
        a{
            img{
                width: 720px;
            }
        }    
    }
}    


.caption{
    padding-top: 2em;

    .video {
        transition: .3s linear;
        position: relative;
        top: 8.2em;
        z-index: 2;
    
        &:hover{
            transform : scale(1.1);

        }
    } 
    figcaption{
        margin-top: 25px;
        font-weight: 600;
        display: none;
    }
} 
.analyze-btn{
    display: none;
    margin-top: -230px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 4;
    background: white;
} 

@media (max-width: 800px) {
    
    .top-bar2 {
        height: 80vh;
        .analyze-header-image{
            width: 90%;
            a{

                img{
                    
                }
            }
        }
    }

    .caption{
        padding-top: 4em;
    
        .video {
            position: relative;
            top: 7em;
            height: 50px;
            box-shadow: none;
        }
        figcaption{
            display: block;
        }
    }

}


   
@media (max-width: 1200px) {
    .analyze-btn{
        display: block;
        text-align: center;
        bottom: 0;
        background-color: white;
        height: 80px;
        left: 0;
        right: 0;
        
        a.btn-analyze {
            z-index: 4;
            max-width: 300px;
            position: relative;
            top: 30px;       
        }
    }
}



       