/*------------------------------------*\
    #   TRACK-HEADER
\*------------------------------------*/

.top-bar3 {
    height: 640px;
    width: 100%;
    position: relative;

    .container{
        width: 100vw;
        background: linear-gradient(#0098AF, #00ADB5);
        position: fixed;
    }
}


.nav-wrap{
    margin: 0.5em 30px;

}
.nav-link {
    
    &:hover {
        color: rgba(white, .75);
    }
}
.caption-2{
   padding-top: 90px;

    h3:before,
    h3:after{
       width: 44px; 
    }
    p{
        font-size: 26px;
    }
}
 .track-header-image{
    width: 80%;
    margin: 0 auto;
    text-align: center;

    a{
        img{
            height: 373px;
        }
    }
 }
 @media (max-width: 800px) {
.top-bar3{

        .container{
            background: none;
            position: relative;
            padding: 0;
            width: 95%;

            a.logo{
                margin-left: 10px;
            }
        }
    }
 }

 @media (max-width: 750px) {

    .top-bar3{
        height: 90vh;

        .container{
            background: none;
            position: relative;
            padding: 0;
            width: 95%;

            a.logo{
                margin-left: 10px;
            }
        }
        .caption-2{
            margin-top: -10px;
         
          h1{
                font-size: 35px
          }
            p{
                font-size: 20px;
            }
        }

        .track-header-image{
            width: 90%;
            text-align: center;

            a{
                img{
                    width: 90%;
                    height: 60%; 
                }
            }
         }          
    }
}
  