.top-bar5 {
    z-index: 0;
    height: 600px;
    width: 100%;
    position: relative;

}

.about-unmetric--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 175px;

    .content--title{
        font-size: 72px;
        color: white;
        font-weight: 900;    
    }

    .content--more{
        max-width: 600px;
        color: white;
        margin: 0 auto;
        font-size: 21px;
        padding-top: 10px;
        text-align: center;
    }
}