/*------------------------------------*\
    #SECTION ANALYZE-PERFORMANCE
\*------------------------------------*/

.analyze-performance {
	@include group;
	padding-top: 290px;

	&--content{
		img{
			height: 553px;
			position: relative;
			top: 2rem;
		}
	}
		&--content--title{
			@extend .analyze-competition--content--title;
		}
		&--content--sub-title{
			text-align: center;
			color: #444444;
			max-width: 900px;
			margin: 20px auto;
			font-weight: 200;
			font-size: 21px;
			margin-bottom: 69px;
		}
}

.performance-list-title{
	width: 350px;
    margin-top: -1em;
    color: #3E84E2;
	font-size: 18px;
	font-weight: 600;
}
.performance-list-info{
	width: 350px;
	color: #444444;
	font-size: 16px;
	padding-top: 10px;
}




.feature-b {
 	display: flex;
 	flex-direction: column;
    cursor: pointer;

    hr{
    	width: 350px;
    }
}

    .feature-b-img{
    	margin-left: 25em;
    	display: none;
    	z-index: 3;
    	position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		
		img{
			width: 790px;
		}
    }

.f4,
.f5,
.f6{
	opacity: 0.5;
	position: relative;
	top: 4.6em;
	padding-top: 1em
}

.f4.is-active{
	opacity: 1
	
	
}

.f4.is-active + .feature-b-img{
	display: block;
}

.f5.is-active{
	opacity: 1
	
	
}

.f5.is-active + .feature-b-img{
	display: block;
}


.f6.is-active{
	opacity: 1

	
	
}

.f6.is-active + .feature-b-img{
	display: block;

}
