/* -------------------- *\
   #HERO SECTION
\* -------------------- */

.hero {
    position: relative;
    display: flex;
    flex-direction: column;

    h1{
        margin-bottom: 20px;
    }
}


    .hero-title {
        @include font-size($text-size-xxl);
        color: white;
        position: relative;
        z-index: 2;

        @include media-query(hd) {
            @include font-size($text-size-xxxl);
        }

        @include media-query(palm) {
    		font-size: $text-size-xl;
    	}
    }

    .hero-intro{
        font-size: 18px;
        color: $light-black;
    }

    .hero-copy{
        font-size: $text-size-m;
        margin: 0 0 25px;
    }

    .hero-subtitle {
        @include font-size($text-size-s);
        color: white;
        line-height: 1.3;

        @include media-query(hd) {
            @include font-size($text-size-l);
        }
    }




    .hero-list{

        @include media-query(palm) {
            padding: 10px 0 30px;;
        }

    }




    .hero-list--item {

        @include media-query(hd) {
            padding: 40px 0 0 30px;
        }

        padding: 23px 14px 0px 26px;
        display: flex;
        justify-content: center;
        text-align: center;

        &:first-child span {
            background: white;
            color: #2996CC;

        }

        &:nth-child(2) span {
            background: white;
            color: #00B6C9;


        }

        &:last-child span {
            background: white;
            color: #00C963;


        }

        &:first-child h3 {
            color: white;


        }

        &:nth-child(2) h3 {
            color: white;

        }

        &:last-child h3 {
            color: white;

        }


    @include media-query(palm) {
        padding: 0 0 0;
        margin-bottom: 10px;

    }
}

    .hero-list--link {

        @include media-query(hd) {
            p{
                padding: 5px 12px 10px;
            }

            .page__home--alt & {
                width: 340px;
            }

        }

            border: 1px solid rgba(white, 0.8);
            border-radius: 10px;
            display: block;
            margin-top: 2px;
            width: 100%;
            padding: 30px 0 0 0;
            position: relative;
            z-index: 2;



            &:hover {
                border-color: white;
                z-index: 2;
                box-shadow: 0 5px 15px rgba(black, .1);

                p{
                    color: white;

                }
            }

            p {
                padding: 5px 30px 10px 30px;
                color: rgba(white, 0.9);

                .page__home--alt & {
                    padding: 5px 38px 10px;
                }

            }


            .btn{
                border-radius: 0 0 8px 8px;
                height: 48px;
                padding: 12px;
            }




        @include media-query(palm) {
            width: 100%;

            p {
                padding: 5px 30px 10px 30px;
                color: rgba(white, 0.9);

                .page__home--alt & {
                    padding: 5px 38px 10px;
                }

            }
            .page__home--alt & {
                width: 340px;
            }

        }

    }


    .hero-list--heading {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
    }


.is-tall{

     @include media-query(hd) {
        height: 90vh;
    }
}

.is-short{
    @include media-query(hd) {
        height: 600px;
    }
}





.hero-meet--intro{
    span{
        color: rgba(#333, 0.5);

        &::before,
        &::after{
            display: none;
        }
    }

    @include media-query(palm) {
        margin: 20px 0;
    }

    @include media-query(hd) {
        margin: 35px 0 20px;

        span{
            color: rgba(#333, 0.4);

            &::before,
            &::after{
                display: block;
                content: "";
                height: 45px;
                width: 45px;
                position: absolute;
                opacity: 0.2;

                @include media-query(palm) {
                    display: none;
                }
            }

            &:before {
                display: block;
                content: "";
                background: url("../i/left-arrow.svg") no-repeat;
                background-size: 39px;
                top: 12px;
                left: 378px;
            }

            &:after{
                display: block;
                content: "";
                background: url("../i/right-arrow.svg") no-repeat;
                background-size: 39px;
                top: 12px;
                right: 370px;
            }
        }
    }

}
