.form{
	@include group;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-top: 140px;
	margin-bottom: 5em;

	&--content--title{
		@extend .analyze-competition--content--title;
		font-weight: 900;
		padding-bottom: 1em;
	}

	&--content--form {
		border: 3px solid #EEEEFA;
		border-radius: 3px;
		position: relative;
		padding: 4.5em;
		font-weight: 500;

		}
	.sign-in{
		padding-top: 5.5em;
		font-weight: 500;
		}
}
.form--content--form{
    width: 800px;
    margin: 0 auto;
}
	.form--content--form::before{
		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 50%;
	    border-left: 3px solid #EEEEFA;
	    content: "";
	    display: block;
	    margin-left: 70px;
	    margin-bottom: 0%;
	    
	}
	
.form--content--brand{
	width: 250px;
	position: absolute;
	top: 4em;
	right: 1.8em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	img{
		margin-top: 2.8em; 
	}
	.ford{
		height: 42px;
	}
	.aa{
		height: 44px;
	}
	.hm{
		height: 36px;
	}
	.loreal{
		height: 28px;
	}
	.gm{
		height: 42px;
	}
	.unilever {
		height: 42px;
	}
	&-title{
		color: #AAAAAA;
		text-align: center;
	}
}


input{
	background: none;
	border: solid 2px black;  
	padding: 15px 66px;
	font-size: 18px;
	display: inline-block;
	font-weight: 500;

}
input:focus, input:active {
  outline: none;
}

input[type="text"], input[type="email"] {
	border: none;
	border-bottom: solid 2px #EEEEFA;
	width: 300px;
	color: #72BAF3;
	font-weight: 200;
}
select{

	border: 0;
 	border-bottom: solid 2px #EEEEFA;
 	width: 300px;
    background-color: white;
    padding: .7em 0 1.4em;
    cursor: pointer;
    color: rgba(47, 34, 115, 0.3);
    -webkit-appearance: none;
}
.input-group {
  display: inline-block;
  position: relative;
  padding-bottom: 2em;

	& input {
 		padding: 15px 0px;
	}
	label{
		font-weight: 500;
	}
}
