/* -------------------- *\
   #TOOLTIP
\* -------------------- */

// Tooltip to display extra help/info on hover
.tooltip-wrap {
    position: relative;
    
    .tooltip {
        @include font-size($text-size-xxs);
        @include position(absolute, -20px null null 10px);
        @include transition(opacity .2s ease-in-out, visibility .4s ease-in-out);
        background-color: rgba($grey-darker, .95);
        border-radius: 4px;
        color: white;
        display: block;
        line-height: 1.3;
        opacity: 0;
        padding: 10px 15px;
        visibility: hidden;
        width: 240px;
        z-index: 2;
        left: 30px;
        
        &:after {
            @include position(absolute, 21px null null -8px);
            border-top: 8px solid transparent;
            border-right: 8px solid rgba($grey-darker, .95);
            border-bottom: 8px solid transparent;
            content: "";
            display: block;
        }
    }
 }   