/*------------------------------------*\
    #SECTION ANALYZE-PERFORMANCE
\*------------------------------------*/

.analyze-performance {
	@include group;
	padding-top: 200px;
	
	.container{
		width: 1200px;
	}	
	
	&--content{
		img{
			height: 553px;
			position: relative;
			top: 2rem;
		}
	}
		&--content--title{
			@extend .analyze-competition--content--title;
		}
		&--content--sub-title{
			text-align: center;
			color: #444444;
			max-width: 900px;
			margin: 20px auto;
			font-weight: 200;
			font-size: 21px;
			margin-bottom: 69px;
		}
}

.performance-list-title{
	width: 350px;
    color: #3E84E2;
    font-size: 18px;
    font-weight: 600;
}

.performance-list-info{
	width: 350px;
	padding-top: 10px;
	padding-top: 10px;
	font-size: 16px;
}




    .feature-b-img{
    	margin-left: 25em;
    	display: none;
    	z-index: 3;
    	position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		
		img{
			width: 790px;
			height: 625px;
		}
    }




.feature-b{
	margin: 0 auto;

 	
 	.feature-b-info{
		text-align: left;
		position: relative;
		cursor: pointer;
		top: 35px;
		
		hr{
			width: 350px;
		}
 	}
 
}

.f4,
.f5,
.f6{
	opacity: 0.5;
	padding-top: 1em;
}
.f4.is-active{
	opacity: 1;
	hr{
		width: 450px;
	}

	
}

.f4.is-active + .feature-b-img{
	display: block;
}

.f5.is-active{
	opacity: 1;
	hr{
		width: 450px;
	}
}

.f5.is-active + .feature-b-img{
	display: block;
}


.f6.is-active{
	opacity: 1;

	hr{
		width: 450px;
	}
	
}

.f6.is-active + .feature-b-img{
	display: block;

}

@media (max-width: 900px) {
	
	.analyze-performance {
		padding-top: 40px;
		border-bottom: 1px solid lighten(grey, 43%);

		.container{
			width: 90%;
			text-align: center;
		}	
		
		&--content{
			img{
				height: auto;
			}
		}
	
	&--content--title{
			font-size: 24px;
		}
		&--content--sub-title{
			font-size: 18px;
		}
	}
	.performance-list-title{
		width: auto;

	}
	.performance-list-info{
		width: auto;

	}
	.feature-section{
		margin-bottom: 0;
	}
	
	.feature-b{
		margin-top: -50px;
	}
	.feature-b-img{
		position: relative;
		display: block;
		top: 30px;
   		margin-bottom: 50px;
		margin-left: 0;
		
		img{
			height: auto;
			width: auto;
		}
	}
	.f4,
	.f5,
	.f6{
		opacity: 1;

		hr{
			border: none;
		}
	}
}		