.demand{
	position: relative;
	background: white;
	z-index: 2;
	@include group;

	&--content{
	
	} 

	&--content--title{
		@extend .analyze-competition--content--title;
		padding-bottom: 0.6em;
		font-weight: 900;
		font-size: 36px;
		width: 80%;
		margin: 0 auto;
		text-align: center;

	}
	&--content--info{
		padding-bottom: 4em;
		width: 600px;
		text-align: center;

		margin: 0 auto;
		text-align: center;
		font-size: 21px;
		line-height: 1.6;
	}

}

.tabs-wrap{
	margin: 0 auto;
	
}
.tabs-list{
	display: flex;
}
.tab_link {
	display: flex;
	flex-direction: row; 
	padding: 5px 10px 5px 10px;
}


.demand--content--table {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 37px;

  td{
  	padding: 10px 35px 8px 0;
  }
}
.table-title{
  	text-align: left;
  	font-weight: normal;
  	width: 400px;

  	img{
  		height: 15px;
  		position: relative;
  		top: 2px;
  	}
  }

.table-brand{
	width: 180px;

	.unmetric-img{
		height: 16px;
	}

	span{
		font-weight: 600;
		font-size: 14px;

	}

}


th,
td, {
  border-bottom: 1px solid #EEEEEE;
  font-size: 16px;
  color: #4A4A4A;
  &:hover{
  opacity: 0.4;
  }

  img{
  	height: 20px;
  }
}
