 @keyframes grow{
    0%{
       transform: scale(0);
    }
    30%{
       transform: scale(0);
    }
    60%{
        transform: scale(0.9);
    }
}

 .section-avatar{
    @include group;
    position: relative;
    background: white;
    z-index: 2;
    margin-top: 840px;
}

.avatar-belt{
  width: 100%;
  position: relative;
  padding-top: 90px;
  overflow: hidden;
}
  .avatar-unit{
    max-width: 750px;
    margin: 50px auto;
    position: relative;
    z-index: 1;

    display: none;


    &.active-avatar{

    display: flex;
    animation: grow .4s ease-out backwards ;
      
  }

}
    .avatar-content{
        width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;


}
.avatar-content--info{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-syle: italic;
        

  }
    .avatar-intro{
        display: flex;
        justify-content: center;
        font-size: 14px;
        color: black;
        padding-top: 10px;
    }
 

 .avatar-content--info{
    font-style: italic;
    color: black;

    .right-quote-1{
        position: relative;
        top: 35px;
        right: 80px;
        height: 20px;
        width: 20px;    
    
    }
    .left-quote-1{
        position: relative;
        top: -5px;
        left: 10px;
        height: 20px;
        width: 20px;    
    
    }

     .right-quote-2{
        position: relative;
        top: 35px;
        right: 145px;
        height: 20px;
        width: 20px;    
    
    }
    .left-quote-2{
        position: relative;
        top: -5px;
        left: 5px;
        height: 20px;
        width: 20px;    
    
    }
     .right-quote-3{
        position: relative;
        top: 35px;
        right: 80px;
        height: 20px;
        width: 20px;    
    
    }
    .left-quote-3{
        position: relative;
        top: -5px;
        height: 20px;
        width: 20px;    
    
    }
     .right-quote-4{
        position: relative;
        top: 70px;
        right: 270px;
        height: 20px;
        width: 20px;    
    
    }
    .left-quote-4{
        position: relative;
        top: -5px;
        left: 15px;
        height: 20px;
        width: 20px;    
    
    }
     .right-quote-5{
        position: relative;
        top: 35px;
        right: 110px;
        height: 20px;
        width: 20px;    
    
    }
    .left-quote-5{
        position: relative;
        top: -5px;
        height: 20px;
        width: 20px;    
    
    }

 }

// Logos
.avatar-logos{
  position: relative;
  z-index: 3;
  max-width: 750px;
  margin: 0px auto 100px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

  .avatar-face{
    cursor: pointer;
    margin: 0 20px 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid transparent;
    opacity: 0.5;
    transition: .4s ease-out;

        img{
            height: 60px;
        }
    &:hover{
        opacity: 1;
    }

    .avatar-logo-3{
        opacity: 0;

        img{
        position: relative;
        top: 1em;
        transform: scale(0.9);
        height: 16px;
           
    } 
}     
       
    &.active-avatar{
      opacity: 1;
      transform: scale(1.3);
    }
}
.avatar-logo-3{
    
    &.active-avatar{
        opacity: 1;
    }   
}