/*------------------------------------*\
    #BILLBOARD
\*------------------------------------*/

.billboard {
    align-items: flex-end;
    display: flex;
    height: 100vh;
    max-height: 1000px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    z-index: 1;

    &:before {
        @include position(absolute, 0 0 0 null);
        background: $link-color url('../../assets/i/bg-player@2x.png') no-repeat center bottom;
        background-size: 100vw auto;
        content: "";
        display: block;
        height: 100vh;
        margin: 0;
        max-height: 1000px;
        width: 100%;
    }
    
    .billboard-content {
        width: 100%;
    }
    
    .page-subtitle {
        max-width: 900px;
        margin: 0 auto;
    }
}


.billboard-list {
    display: flex;
    flex-grow: 1;
    padding: 10% 40px 0;
    width: 100%;
}


    .billboard-list--item {
        flex: 1;
        
        &:first-child span {
            border-bottom-color: $green;
        }
        
        &:nth-child(2) span {
            border-bottom-color: $orange;
        }
        
        &:last-child span {
            border-bottom-color: $red;
        }
        
        .icon-arrow-right:before {
            @include font-size($text-size-m);
            position: relative;
            top: 5px;
        }
    }
    
    
    .billboard-list--link {
        background-color: rgba(white, .75);
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(black, .1);
        display: block;
        margin: 10px;
        padding: 25px 30px 30px;
        position: relative;
        z-index: 1;
        
        &:hover {
            border-color: $grey-light;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
            z-index: 2;
        }
    }
    
    
    
    .billboard-list--heading {
        color: $grey-darkest;
        margin-bottom: 15px;
        text-transform: uppercase;
        
        span {
            border-bottom: 3px solid #444;
            display: inline-block;
            line-height: 2;
        }
    }
    
    
    
    .billboard-list--copy {
        color: $grey-darker;
        line-height: 1;
    }
    
    
    .billboard-list--more {
        color: $link-color;
    }