/*------------------------------------*\
   #TESTIMONIAL
\*------------------------------------*/

.testimonial-avatar {
    border-radius: 100px;
    width: 60px;
    
    .is-large {
        width: 100px;    
    }
}


.testimonial-logo {
    height: 60px;
}