//SECTION REQUEST

.invite-title{
	text-align: center;
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 36px;
	z-index: 0;

}

input[type="checkbox"]{
	margin-bottom: 5px;
	margin-top: 10px;
}

.form-app-info{
	width: 280px;
	font-size: 14px;
	color: #AAAAAA;
	margin-left: 20px;
	margin-bottom: 10px;
}
.checkbox{
	margin-bottom: 80px;
}
.unique-brand{
	
	.brand-images{
        padding: 10px;
		display: block;
		margin: 0 20px;
		
		img{
			margin-left: 2em;
		}
	}
}
.og{
	height: 64px;
}
.request-group{
	padding-top: 4px;
}

@media (max-width: 800px) {
	.invite-title{
		font-size: 26px;
	}

	#request-form{
		margin-bottom: 550px;
	}
	.unique-brand{
		margin-top: 420px;
	}
}