 @keyframes grow{
    0%{
       transform: scale(0);
    }
    30%{
       transform: scale(0);
    }
    60%{
        transform: scale(0.9);
    }
}

 .section-avatar{
  position: relative;
}
.avatar-belt{
  width: 100%;
  position: relative;
  padding-top: 127px;
  overflow: hidden;
}
  .avatar-unit{
    max-width: 750px;
    margin: 50px auto;
    position: relative;
    z-index: 1;

    display: none;


    &.active-avatar{

    display: flex;
    animation: grow .4s ease-out backwards ;
      
  }

}
    .avatar-content{
        width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;


}
.avatar-content--info{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-syle: italic;
        

  }
    .avatar-intro{
        display: flex;
        justify-content: center;
        font-size: 14px;
        color: black;
        padding-top: 10px;
    }
 

 .avatar-content--info{
    font-style: italic;
    color: black;

    .right-quote{
        position: relative;
        top: 1.5em;
        right: 3em;
        height: 20px;
        width: 20px;    
    
    }
    .left-quote{
        position: relative;
        top: -0.2em;
        height: 20px;
        width: 20px;    
    
    }

 }

// Logos
.avatar-logos{
  position: relative;
  z-index: 3;
  max-width: 750px;
  margin: 0px auto 100px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

  .avatar-face{
    cursor: pointer;
    margin: 0 20px 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid transparent;
    opacity: 0.5;
    transition: .4s ease-out;

        img{
            height: 60px;
        }
    &:hover{
        opacity: 1;
    }

    &.active-avatar{
      opacity: 1;
      transform: scale(1.5);
    }
}
.avatar-logo-3{
    img{
    position: relative;
    top: 1em;
    
    height: 16px;
       } 
        }