/*------------------------------------*\
    #CLIENTS
\*------------------------------------*/



/**
 * 
 */

.clients {
    @include group;
    padding: 2.5em 10px 2.5em 10px  ;
    position: relative;
    z-index: 2;    
    background: #E4F7F4;

    img {
            height: 36px;   
        }
}

    .avatar--content-unit{
        max-width: 750px;
        margin: 50px auto;
        position: relative;
        z-index: 1;
        display: none;

        &.active-avatar{
          display: flex;
        }
    }
    
    .clients-brand--list {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 44px;
        padding-top: 10px;   
        
        
        
    }
.clients-brand-header{
    text-align: center;
    color: #777777;
    font-size: 19px;
    padding-top: 0.7em;
}

