/*------------------------------------*\
    #ANALYZE-HEADER
\*------------------------------------*/
body{
    overflow: hidden;
}

.top-bar2 {
    height: 640px;

    &::before{
        @include position(absolute, 8.5em 0 0 0);
        display: block;
        content: "";
        z-index: 1;
        background: url(../i/bg-2x.png) no-repeat center center;
        height: 560px;
        background-position: center center;
        background-size: 720px 360px;
    }
}


.caption{
    padding-top: 2em;

    .video {
        transition: .3s linear;
        position: relative;
        top: 8.2em;
        z-index: 2;
    
        &:hover{
            transform : scale(1.1);

        }
    } 
    figcaption{
        margin-top: 25px;
        font-weight: 600;
        display: none;
    }
} 
.analyze-btn{
    display: none;
    margin-top: -230px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 4;
    background: white;
} 

@media (max-width: 800px) {
    
    .top-bar2 {
        height: 100vh;

        &::before{
            @include position(absolute, 22em 0 0 0);
            display: block;
            content: "";
            z-index: 1;
            background: url(../i/bg-2x.png) no-repeat center center;
            height: 40vh;
            width: 100vw;
            background-position: center center;
            background-size: 720px 360px;
        }
    }

    .caption{
        padding-top: 4em;
    
        .video {
            position: relative;
            top: 2em;
            height: 50px;
            box-shadow: none;
        }
    }

}


   
@media (max-width: 1200px) {
    .analyze-btn{
        display: block;
        text-align: center;
        bottom: 0;
        background-color: white;
        height: 80px;
        left: 0;
        right: 0;
        
        a.btn-analyze {
            z-index: 4;
            max-width: 300px;
            position: relative;
            top: 30px;       
        }
    }
}


@media (max-width: 800px) {
    
    .caption{
        figcaption{
            display: block;
        }
    }
    .bottom-bar{
        padding: 60px 40px 0 0;


       .footer{
        margin-bottom: 25px;
       }
    }
   
}        