//DISCOVER HEADER

.top-bar4 {
    height: 760px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .container{
        width: 100vw;
        background: #12BA68;
        position: fixed;
    }

    .logo {
        opacity: 0.9;
        flex: 1;
        padding:  0;
        
        img {
            height: 21px;   
        }   
    }

}

//Caption

.caption-3 {
   padding-top: 100px;
    h1{
        letter-spacing: -1px;
    }
    
    p{
        font-size: 25px;
    }
    .link-discover{
        padding-top: 20px;
        letter-spacing: 0.92px;
        cursor: pointer;

        a{
            color: white;
            font-weight: 600;
            font-size: 14px;
        }

    }

}  
//Section Discover 

.discover {
    background: rgba(black, 0.15);
    margin: 120px auto;
    width: 1100px;
    border-radius: 5px;
    
    .discover-content {
        width: 100%;
    }
    h3,
    h1,
    span{
        text-align: center;
    }
    
}


.discover-list {
    display: flex;
    width: 60em;
    margin: 0 auto;
}


    .discover-list--item {
        text-align: center;
        width: 250px;
        margin: 86px auto;

        img{
            height: 42px;
        }
        .position{
            position: relative;
            top: -4px;
        }
    }
    
    
    
    
    .discover-list--heading {
        color: #fff;
        padding-top: 20px;
        margin-bottom: 15px;
        font-weight: 900;
        font-size: 18px;
        
        
    }
    
    
    
    .discover-list--copy {
        color: #fff;
        padding-top: 16px;
        line-height: 1.4; 
        opacity: 1;
        font-weight: normal;
        font-size: 16px;
    
    }
    
   
.discover-form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    margin-top: -40px;

   input{
        width: 230px;
        border: 1px solid white;
        background: white;  
        text-align: left;
        padding: 12px 20px 12px 15px;
        border-radius: 3px;
    
   }
   
   input[type="text"]{
        color: #04AC59;
        font-weight: 500;
   }
   
   input[type="submit"]{
        width: 162px;
        opacity: 1;
        border-radius: 0 3px 3px 0;
        color: white;
        padding: 13px 10px 13px 25px;
        position: relative;
        left: -3px;
        background: linear-gradient(#20C05C, #14E48E);
        border: none;

    }

}



@media (max-width: 800px) {
    .top-bar4 {
        height: 1200px;

        .container{
            background: none;
            position: relative;
            padding: 0;
            width: 95%;

                a.logo{
                    margin-left: 10px;
                }  
            }
             .caption-3{

                margin-top: -22px;

                h1{
                    font-size: 35px;
                } 
                p{
                    font-size: 20px;
                }      
            } 
        }
        .discover{
            width: auto;
        } 
        .discover-list {
            display: flex;
            flex-direction: column;
        }
        .discover-list--item {
            margin: 40px auto 0;
        }
        .discover-form{
            margin-top: 10px;
            flex-direction: column;

            input{
                padding-left: 0;
                border-radius: 5px 5px 0 0;
                text-align: center;

            }

            input[type="submit"]{
                width: 230px;
                margin-left: 5px;
                padding-left: 0;
                text-align: center;
                border-radius: 0 0 5px 5px;
            }   
        }
    }

@media (max-width: 1200px) {
   
    .discover{
        width: 90%;
    }
    .discover-list {
        display: flex;
        width: 90%;
    }
}