.top-bar7 {
    z-index: 0;
    height: 600px;
    width: 100%;
    position: relative;

    h1.title{
        text-align: center;
        padding-top: 175px;
        color: white;
        font-weight: 900;
        font-size: 72px;
    }

}
