/*------------------------------------*\
   #LOGOS
\*------------------------------------*/

.logos{
		padding: 20px 30px 0 30px;

	@include media-query(palm) {
		display: flex;
		justify-content: center;
		align-items: center;
		//margin-bottom: 0;
	}

}



.logo-list-wrap{
	background-color: white;
	display: flex;
	justify-content: center;
	flex-direction: row;
	z-index: -2;
	//margin-bottom: 60px;
}

.logo-list-item {
	display: inline-block;
    overflow: hidden;
    text-indent: 100%;
	//margin: 0 5px;
    //white-space: nowrap;

	@include media-query(palm) {
		margin-top: -50px;
		margin-bottom: 30px;
	}

	span {
		display: none;
	}
}





//Promos

.promos{
	position: relative;
	padding-top: 35px;


	h2{

		@include media-query(palm) {
			margin-bottom: 60px;
		}
	}
}

.promos-list {
    margin-top: 94px;

	@include media-query(palm) {
		margin: 30px 0 40px;
	}
}



//Logo-list-a


.logo-list-a{
    background: url(../i/logo-sprite.png) 0 0 no-repeat;
    background-size: cover;
    height: 60px;
	margin-bottom: 20px;
	width: 160px;


}





.logo-list-item--or{

    background-position: 20px 0%;
}
.logo-list-item--sf{

    background-position: -165px 0;
}

.logo-list-item--km{
	width: 180px;
	background-position: -368px 0;
}

.logo-list-item--hs{
	width: 170px;
	background-position: -600px 0;
}
.logo-list-item--pr{

	background-position: -815px 0;
}
.logo-list-item--bw{
	width: 185px;
	background-position: -1040px 0;

}


//Logo-list-b


.logo-list-b{
    background: url(../i/logo-sprite2.png) 0 0 no-repeat;
    background-size: cover;
    height: 28px;
    width: 160px;
	margin-top: 14px;
	margin-bottom: 40px;
}


.logo-list-item--fo{

    background-position: 35px 0%;

}
.logo-list-item--aa{
	margin-top: 10px;
    background-position: -115px 0;
}

.logo-list-item--aw{
	margin-top: 15px;
	background-position: -260px 0;
}

.logo-list-item--hp{
	width: 130px;
	background-position: -400px 0;
}
.logo-list-item--wsj{
	background-position: -505px 0;
}
.logo-list-item--ft{
	background-position: -665px 0;

}


//Logo-list-c

.logo-list-c{
    background: url(../i/logo-sprite3.png) 0 0 no-repeat;
    background-size: cover;
    height: 50px;
    width: 90px;
    border: 1px solid transparent;
	margin:  0 20px;


	@include media-query(palm) {
		display: flex;
		justify-content: center;
		align-items: center;


	}
}


.logo-list-item--gm{

    background-position: 35px 0;
}

.logo-list-item--ls{
	width: 100px;
    background-position: -90px 0;
}

.logo-list-item--ah{
	width: 120px;
	background-position: -215px 0;
}

.logo-list-item--lo{
	width: 225px;
	background-position: -370px 0;
}

.logo-list-item--un{

	background-position: -635px 0;

}


.logo-list-item--og{
	background-position: -755px 0;



}

.logo-list-item--hm{
	width: 130px;
	background-position: -890px 0;

}

[class*="logo-list-item--"] {

	@include media-query(palm){
		margin: 0 auto;
	}
}
