/*------------------------------------*\
    #BILLBOARD
\*------------------------------------*/

.billboard {
    align-items: flex-end;
    display: flex;
    height: 90vh;
    max-height: 800px;
    position: relative;
    z-index: 1;
    
    &:before {
        @include position(fixed, 0 0 0 null);
        background: url('../../assets/i/football-player@2x.png') no-repeat bottom right;
        background-size: 1085px 755px;
        content: "";
        display: block;
        height: 100vh;
        max-height: 800px;
        margin-right: -540px;
        width: 100%;
    }
    
    .billboard-content {
        width: 980px;
    }
    
    .page-subtitle {
        max-width: 900px;
    }
}


.billboard-list {
    display: flex;
    padding: 160px 0 0;
    width: 940px;
}


    .billboard-list--item {
        flex: 1;
        
        &:first-child span {
            border-bottom-color: $green;
        }
        
        &:nth-child(2) span {
            border-bottom-color: $orange;
        }
        
        &:last-child span {
            border-bottom-color: $red;
        }
        
        .icon-arrow-right:before {
            @include font-size($text-size-m);
            position: relative;
            top: 5px;
        }
    }
    
    
    .billboard-list--link {
        background-color: rgba(white, .95);
        border: 1px solid $grey-light;
        display: block;
        margin: 0 -1px 0 0;
        padding: 30px 20px 30px 40px;
        position: relative;
        z-index: 1;
        
        &:hover {
            border-color: $grey-light;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
            z-index: 2;
        }
    }
    
    
    
    .billboard-list--heading {
        color: $grey-darkest;
        margin-bottom: 15px;
        text-transform: uppercase;
        
        span {
            border-bottom: 3px solid #444;
            display: inline-block;
            line-height: 2;
        }
    }
    
    
    
    .billboard-list--copy {
        color: $grey-darker;
        margin-bottom: 10px;
    }
    
    
    


// ALT VERSION
    
.page-home-alt {
    .top-bar .container {
        width: 100%;    
    }
    
    .billboard {
        align-items: center;
        text-align: center;
        padding-top: 100px;
        
        &:before {
            background: #111 url('../../assets/i/football-player-alt-2.png') no-repeat center -70px;
            height: 800px;
            margin: 0;
        }
    }
    
    .billboard-content,
    .billboard-list {
        width: 100%;
    }
    
    .billboard-list {
        padding: 40px 40px 0;
    }
    
    .billboard-list--link {
        border: none;
        background-color: rgba(white, .95);
        border-radius: 5px;
        margin: 5px 10px;
        padding: 30px 40px;
    }
    
    .page-title,
    .page-subtitle {
//        text-shadow: 0 3px 5px rgba(black, .15);
        color: white;
        width: 100%;
        margin: 0 auto 20px;
    }
    
    .clients-wrap {
        border-top: none;
    }
    
    .nav-link {
        color: white;
    }
}