/* -------------------- *\
   #HERO SECTION
\* -------------------- */

.hero {
    position: relative;
    display: flex;
    flex-direction: column;

    h1{
        margin-bottom: 10px;
    }
}


    .hero-title {
        @include font-size($text-size-xxl);
        color: white;
        position: relative;
        z-index: 2;

        @include media-query(hd) {
            @include font-size($text-size-xxxl);
        }
    }

    .hero-intro{
        font-size: 18px;
        color: $light-black;
    }

    .hero-copy{
        font-size: $text-size-m;
        margin: 0 0 25px;
    }

    .hero-subtitle {
        @include font-size($text-size-s);
        color: white;
        line-height: 1.3;

        @include media-query(hd) {
            @include font-size($text-size-l);
        }
    }



    .hero-list--item {
        display: flex;
        justify-content: center;
        padding: 40px 0 0 25px;
        text-align: center;

        @include media-query(palm) {

            padding: 0;

        }

        &:first-child span {
            background: white;
            color: #548EDD;

        }

        &:nth-child(2) span {
            background: white;
            color: #54A9DE;


        }

        &:last-child span {
            background: white;
            color: #50CEDE;


        }

        &:first-child h3 {
            color: white;


        }

        &:nth-child(2) h3 {
            color: white;

        }

        &:last-child h3 {
            color: white;

        }

    }


    .hero-list--link {
        border: 1px solid white;
        border-radius: 10px;
        display: block;
        margin-top: 2px;
        width: 320px;
        padding: 30px 0px 0 0px;
        position: relative;
        z-index: 2;

        @include media-query(palm) {

            width: 100%;

        }
        &:hover {
            border-color: white;
            z-index: 2;
            box-shadow: 0 5px 10px rgba(black, .2);
        }

        p {
            padding: 5px 30px 10px 30px;

            .page__home--alt & {
                padding: 5px 38px 10px;
            }
        }

        @include media-query(palm) {
            padding: 10px 0 0 0;
        }

        .btn{
            border-radius: 0 0 8px 8px;
            height: 48px;
            padding: 12px;
        }

        .page__home--alt & {
            width: 340px;
        }
    }



    .hero-list--heading {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
    }


.is-tall{

     @include media-query(hd) {
        height: 90vh;
    }
}

.is-short{
    @include media-query(hd) {
        height: 600px;
    }
}





.hero-meet--intro{
    opacity: .3;

    @include media-query(palm) {
        visibility: hidden;
    }
}

.arrow-product--left{
    position: relative;
    top: 22px;
    right: 30px;
    opacity: .3;
}

.arrow-product--right{
    position: relative;
    top: 22px;
    left: 30px;
    opacity: .3;
}
