.partners{
	@include group;
	background: white;
	position: relative;
	padding-top: 140px;
	z-index: 2;
}
.partners-content{
    text-align: center;

    .partners-content--title{
  
    }
    .partners-images{
    	padding-top: 80px;
    	padding-bottom: 40px;
    	display: flex;
    	justify-content: space-around;
    	align-items: center;


    	img{
    		height: 64px;
    	}
    	.logo-orancle{
    		height: 36px;
    	}
    }
}    