.section-introduction{
	overflow: hidden;
	margin-top: -40px;
	z-index: 3;

	.introduction-content{

		.content--title{
			color: #4DBCD5;
			text-align: center;
			font-weight: normal;
		}

		.content--intro{
			max-width: 800px;
			margin: 0 auto;	
			padding-top: 5px;
			font-size: 21px;
			text-align: center;
		}
		.content--more{
		max-width: 600px;
		margin: 0 auto;
		padding-top: 60px;

}
	}
}


.highlight{
		font-weight: 700;
		color: #5856D6;
	}