/*------------------------------------*\
   #LOGOS
\*------------------------------------*/

.logos{
		padding: 20px 30px 0 30px;

	@include media-query(palm) {
		padding: 80px 10px 110px 10px;
		height: 0;
		//margin-bottom: 0;
	}

}



.logo-list-wrap{
	background-color: white;
	display: flex;
	justify-content: center;
	flex-direction: row;
	z-index: -2;
	//margin-bottom: 60px;
}

.logo-list-item {
	display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    //white-space: nowrap;

	@include media-query(palm) {
		margin-top: -50px;
		margin-bottom: 30px;
	}

	span {
		display: none;
	}
}





//Promos

.promos{
	max-width: 90%;
	margin-top: 120px;
	margin-bottom: 120px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;

	&::before{
		@include media-query(hd) {
			display: block;
			content: "";
			width: 0.1%;
			background-color: $grey-lighter;
			height: 82.8%;
			position: absolute;
			left: 700px;
			margin: -150px 20px;
			z-index: -1;
		}

		@include media-query(palm) {
			visibility: hidden;
		}

	}

	h2{
		margin-bottom: 40px;

		@include media-query(palm) {
			margin-bottom: 60px;
		}
	}
}


.company-partner{
	float: left;
	padding-right: 100px;

	@include media-query(palm) {
		padding-bottom: 50px;
		padding-right: 0;
	}
}

.making-news{
	float: right;
	padding-left: 100px;

	@include media-query(palm) {
		padding-bottom: 50px;
		padding-left: 0;
	}
}

//Logo-list-a


.logo-list-a{
    background: url(../i/logo-sprite.png) 0 0 no-repeat;
    background-size: cover;
    height: 60px;
	margin-bottom: 20px;

	@include media-query(palm) {
		margin-bottom: 30px;
	}
}


.logo-list-item--or{
	width: 155px;
    background-position: 0 0%;
}
.logo-list-item--sf{
	width: 120px;
    background-position: -158px 0;
}

.logo-list-item--km{
	width: 210px;
	background-position: -272px 0;
}

.logo-list-item--hs{
	width: 165px;
	background-position: -485px 0;
}
.logo-list-item--pr{
	width: 200px;
	background-position: -675px 0;
}
.logo-list-item--bw{
	width: 250px;
	background-position: -885px 0;

}


//Logo-list-b


.logo-list-b{
    background: url(../i/logo-sprite2.png) 0 0 no-repeat;
    background-size: cover;
    height: 38px;
    width: 130px;
	margin-bottom: 40px;

	@include media-query(palm) {
		margin-bottom: 50px;
	}

}

.logo-list-item--fo{

    background-position: 20px 0%;
}
.logo-list-item--aa{

    background-position: -140px 0;
}

.logo-list-item--aw{

	background-position: -270px 0;
}

.logo-list-item--hp{

	background-position: -440px 0;
}
.logo-list-item--wsj{

	background-position: -600px 0;
}
.logo-list-item--ft{
	width: 265px;
	background-position: -750px 0;

}


//Logo-list-c

.logo-list-c{
    background: url(../i/logo-sprite3.png) 0 0 no-repeat;
    background-size: cover;
    height: 50px;
    width: 110px;
    border: 1px solid transparent;
}


.logo-list-item--gm{

    background-position: 40px 0;
}
.logo-list-item--ls{

    background-position: -110px 0;
}

.logo-list-item--ah{

	background-position: -258px 0;
}

.logo-list-item--lo{

	background-position: -415px 0;
}
.logo-list-item--un{

	background-position: -568px 0;
}
.logo-list-item--og{

	background-position: -730px 0;

}
.logo-list-item--hm{

	background-position: -900px 0;

}
