/* -------------------- *\
   #BUTTONS
\* -------------------- */


.btn {
    border-radius: 5px;    
    display: inline-block;
    padding: 15px;
    width: 100%;
    border: none;
    position: relative;
    z-index: 2;
    
    > .icon-arrow-right {
        position: relative;
        top: 3px;
    }
}

.btn-small {
    @include font-size($text-size-xs);
    padding: 8px;
}


.btn-primary {
    @include linear-gradient(#5658D8, #27DCF9);   
    border: none;
    color: white;
}


.btn-secondary {
    background-color: transparent;
    border: 2px solid $grey-light;
}

.w-btn{
    background: white;
    color: #4A9AD4;
}


/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
.btn-sec{
    display: inline-block;
	border-radius: 5px;
	border: 1px solid rgba( 255,255,255, 0.4);
	padding: 3px 20px 4px 20px;


	&:hover{
		opacity: 0.8;
	}
}

.button {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    margin-bottom: -5em;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
   
}

.btn-info{
    background-color: white;   
    color: #72BAF3;
    border: 1px solid #72BAF3;

} 

.btn-info:active{
    color: white;
}   
.button:focus{
    @include linear-gradient(to bottom, #1e5799 0%,#2989d8 0%,#7db9e8 77%,#7db9e8 77%);
}
.btn-info.active{
    @include linear-gradient(to bottom, #1e5799 0%,#2989d8 0%,#7db9e8 77%,#7db9e8 77%);
    color: white;
}

.btn-tk{

    .icon-arrow-right{
        position: relative;
        top: 3px;
        left: 2px;
    }
}



[class^='btn-'] {
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 18px;
}
.btn-fb{ 
        @include linear-gradient(to bottom, #1e5799 0%,#2989d8 0%,#7db9e8 77%,#7db9e8 77%);      
        padding: 10px  65px;
}