/*------------------------------------*\
    #SECTION WINNING-STRAGIES
\*------------------------------------*/

.winning-stragies{
	@include group;
	padding-top: 220px;
	

	&--content--title{
		padding-bottom: 1.1em;
		text-align: center;
	}
}

.evaluate-content{
	margin: 0 auto;
	
	&--title{
		max-width: 410px;
	    color: #3E84E2;
	    font-size: 18px;
	    font-weight: 600;
	    margin: 0 auto;	
	}	

	&--info{
		padding: 1em 0 2em 0;
		max-width: 400px;
		margin: 0 auto;

	}

}	