.section-advisor{
	@include group;
	padding-top: 80px;
	display: flex;
}

.advisor-content{

	.content-title{
		text-align: center;
	}
	
	.content-more{
		max-width: 900px;
		margin: 10px auto;
		text-align: center;
		font-size: 21px;
	}
	.advisor-img{
		text-align: center;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding-top: 47px;
		
		figure{
			img{
				margin: 0 40px 0 40px;
				height: 60px;
			}
			figcaption{
				font-size: 16px;
			}
		}

	}

}	
@media (max-width: 750px) {
	
	.section-advisor{
		
		.advisor-content{
			.content-more{
				font-size: 18px;
			}

			.advisor-img{
				display: flex;
				flex-direction: column;
			
				figure{
					margin-bottom: 15px;
				}
			}
		
		}
	}
}