/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.top-bar {
    @include position(absolute, 0 0 null 0);
    margin: 0 40px;
    z-index: 2;
    
    .container {
        display: flex;
        align-items: center;
    }
    
    .logo {
        flex: 1;
        
        img {
            height: 48px;   
        }   
    }
}



.nav-link {
    margin-left: 20px;
    padding: 10px 15px;
    text-transform: lowercase;
}


    
    
