.top-bar4 {
    z-index: 3;
    height: 760px;
    width: 100%;
    position: relative;

    .container {
        align-items: center;
        display: flex;
        width: 100%;
    }    


    .logo {
        margin: 1.5em 40px; 
        opacity: 0.9;
        flex: 1;
        padding:  0;
        
        img {
            height: 21px;   
        }   
    }

}


.nav-wrap{
    margin: 0.5em 30px;
    display: flex;
    align-items: center;

}
.nav-link {
    color: white;
    margin-left: 10px;
    margin: 15px 15px;
    text-transform: lowercase;
    
    &:hover {
        color: rgba(white, .75);
    }
}


.caption-3 {
   padding-top: 1em;
    h1{
        letter-spacing: -1px;
    }
    h3:before,
    h3:after{
       width: 48px; 
    }
    p{
        font-size: 25px;
    }
    .link-discover{
        padding-top: 14px;
        letter-spacing: 0.92px;

        .btn-link-discover{
            padding: 4px 55px;
            background: #fff;
            opacity: 0.75;
            border-radius: 20px 20px ;
            font-size: 12px;
            color: $ds-green;
            font-weight: 500;
        }
    }

}    
.discover {
    margin-top: -48px;
    
    .discover-content {
        width: 100%;
    }
    h3,
    h1,
    span{
        text-align: center;
    }
    
}


.discover-list {
    display: flex;
    width: 60em;
    margin: 0 auto;
    padding-top: 2.5em;
}


    .discover-list--item {
        text-align: center;
        width: 250px;
        margin: 86px auto;

        img{
            height: 42px;
        }
        .position{
            position: relative;
            top: -4px;
        }
    }
    
    
    
    
    .discover-list--heading {
        color: #fff;
        padding-top: 30px;
        margin-bottom: 15px;
        font-weight: 900;
        font-size: 18px;
        
        
    }
    
    
    
    .discover-list--copy {
        color: #fff;
        padding-top: 16px;
        line-height: 1.4; 
        opacity: 0.8;
        font-weight: normal;
        font-size: 16px;
        text-transform: lowercase;

        
    }
    
   
.discover-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;

   input{
        width: 230px;
        border: 1px solid white;
        background: white;
        opacity: 0.7;   
        text-align: left;
        padding: 12px 20px 12px 15px;
        border-radius: 3px;
    
   }
   
   input[type="text"]{
        color: #444444;
        font-weight: 500;
   }
   
   input[type="submit"]{
        width: 162px;
        opacity: 1;
        border-radius: 0 3px 3px 0;
        color: $ds-green;
        padding: 12px 10px 12px 27px;
        position: relative;
        left: -3px;
        z-index: -2;  

   }

}