/*------------------------------------*\
    #SECTION SCIENCE
\*------------------------------------*/

.science{
	@include group;
	padding-top: 150px;
	display: flex;


	&--content--title{
		@extend .analyze-competition--content--title;
		padding-bottom: 1.1em;
		font-weight: 900;
		font-style: italic;

	}
	img{
		@include position(relative, -0.6em 0 0 0);
	}
}
.science--content--avatar{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	.avatar{
		height: 100px;
	}
	&--info{
        padding-bottom: 1rem;
	}
	img{
		height: 70px;
	}
}

@media (max-width: 800px) {
	
	.science{
		padding-top: 50px;
		padding-bottom: 30px;
		border-bottom: 1px solid lighten(grey, 42%);

		&--content--title{
			font-size: 24px;
			text-align: center;
	
		}
		img {
			height: 15px;
		}
	}		
}