.top-bar6 {
    z-index: 3;
    height: 480px;
    width: 100%;
    position: relative;

    .container {
        align-items: center;
        display: flex;
        width: 100%;
    }    


    .logo {
        margin: 1.5em 40px; 
        opacity: 0.9;
        flex: 1;
        padding:  0;
        
        img {
            height: 21px;   
        }   
    }

}


.nav-wrap{
    margin: 0.5em 30px;
    display: flex;
    align-items: center;

}
.nav-link {
    color: white;
    margin-left: 10px;
    margin: 15px 15px;
    text-transform: lowercase;
    
    &:hover {
        color: rgba(white, .75);
    }
}
.media-strategy--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    .content--title{
        font-size: 48px;
        color: white;
        font-weight: 900;    
    }
    .content--more{
        color: white;
        margin: 0 auto;
        font-size: 21px;
        padding-top: 10px;
        text-align: center;
    }
}