 @keyframes grow{
    0%{
       transform: scale(0);
    }
    30%{
       transform: scale(0);
    }
    60%{
        transform: scale(0.9);
    }
}

.analyze-competition{
	@include group;
	padding-top: 140px;
	

	&--content--title{
		text-align: center;
		font-weight: bold;
	}
	&--content--sub-title{
		text-align: center;
		color: #444444;
		max-width: 900px;
		margin: 20px auto;
		font-weight: 200;
		font-size: 21px;
		margin-bottom: 69px;
		line-height: 1.4;
	}
}

.list-info{
	width: 350px;
	color: #444444;
	font-size: 16px;
	padding-top: 10px;
}

.list-title{
	width: 350px;
    float: left;
    margin-top: -1em;
    color: #3E84E2;
	font-size: 18px;
	font-weight: 600;
}
.feature-img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	img{
		width: 790px;
    }
	
}
 .feature {
 	
 	.feature-info{
		display: flex;
		text-align: left;
		flex-direction: column;
		align-items: flex-end;
		cursor: pointer;
		position: relative;
    	top: 40px;
		hr{
			width: 350px;
		}
 	}

    .feature-img{
    	display: none;
    }
 
}
.f1,
.f2,
.f3{
	opacity: 0.5;
	position: relative;
	top: 4.6em;
	padding-top: 1em
}
.f1.is-active{
	opacity: 1;
	
}

.f1.is-active + .feature-img{
	display: block;
}

.f2.is-active{
	opacity: 1;
}

.f2.is-active + .feature-img{
	display: block;
}


.f3.is-active{
	opacity: 1
	
}

.f3.is-active + .feature-img{
	display: block;

}