.news{
    @include group;
    background: white;
    padding: 140px 10px 160px 10px  ;
    position: relative;
    z-index: 2;
    margin-bottom: 790px;


    img {
            height: 30px;   
        }
}

.news-content-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 44px;

}
   .news-brand--item {
       padding: 0 2em;

        .forbes-img{
            height: 32px;
        } 
        .adage-img{
            height: 42px;
        }
        .adweek-img{
            height: 32px;
        }
        .logo-h{
            height: 42px;
        }
        .wjs-img{
            height: 32px;
        }
        .fortune-img{
            height: 30px;
        }

  }  
    .news-brand--list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 44px;   
        margin: 0 10px;
        
        
    }
