.section-about-ourself{
	padding-top: 140px;
	overflow: hidden;

	.content--title{
		text-align: center;
		color: #D34365;
		font-size: 36px;
		font-weight: 900;
	}
	.content-more{
		max-width: 900px;
		padding-top: 30px;
		text-align: center;
		margin: 0 auto;
		font-size: 21px;
	}
}