.section-about-ourself{
	overflow: hidden;
	margin-top: -60px;
	z-index: 3;

	.content--title{
		text-align: center;
		color: #D34365;
		font-weight: normal;
		color: #4DBCD5;
	}
	.content-more{
		max-width: 900px;
		padding-top: 30px;
		text-align: center;
		margin: 0 auto;
		font-size: 21px;
	}
}