/*------------------------------------*\
   #BOX
\*------------------------------------*/

.box {
    margin-bottom: 40px;

    @include media-query(palm) {
        margin-bottom: 25px;
    }
}

    // For all type of images, icons, avatars
    .box-image {
        margin-bottom: 10px;
    }

    // Esp. for icon inside box
    .box-icon {
        height: 60px;
    }

    // Esp. for avatar inside box
    .box-avatar {
        width: 100px;
    }


    .box-subheading {
        color: $grey-base;
        margin-bottom: 5px;
        text-transform: uppercase;
    }



//
// Product feature box
//
.box-feature-wrap {

    @include media-query(hd) {
        .box-feature {
            margin-bottom: 30px;
        }

            .box-link {
                border-bottom: 1px solid $grey-lighter;
                display: block;
                padding-bottom: 10px;
                text-align: left;
                width: 300px;
            }

            .box-screenshot {
                @include position(absolute, 20% 0 null null);
                visibility: hidden;
            }

            .is-active {
                .box-link {
                    border-bottom-color: $grey-light;
                    padding-right: 100px;
                    width: 398px;
                }

                .box-heading {
                    color: $grey-dark;
                }

                .box-copy {
                    color: $grey-darker;
                }

                .box-screenshot {
                    visibility: visible;
                }
            }
        }

        &.box-feature-wrap--alt {
            .box-link {
                margin-left: 893px;
            }

            .box-screenshot {
                left: 0;
                right: auto;
            }

            .is-active {
                .box-link {
                    padding: 0 0 0 100px;
                    margin-left: 793px;
                }
            }
        }
}




//Blog box

.o-box{
    width: 300px;
    background-color: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0px 15px rgba(0, 0, 0, 0.1);

    @include media-query(palm){
        width: 100%;
        margin: 10px auto;
    }
}

.o-box__pad {
    padding: 20px;
}





//page__home--alt-new

.page__home--alt-new {


    .box-feature-wrap {

        .box-copy{
            color: #666;
        }


        .analyze-feat {
            color: #4D48D4;
            font-size: 18px;
        }

        .track-feat {
            color: #059ECA;
            font-size: 18px;
        }

        .discover-feat {
            color: #05CA86;
            font-size: 18px;
        }

        .box,
        .box-feature {

            @include media-query(palm) {
                margin: 0;
            }
        }

        span {
            font-size:  14px;
        }

        .btn {
            width: 160px;
            color: white;
            margin: 10px 0 30px;

            .arrow-right {
                margin-left: 5px;
                top: 2px;
            }
        }


        .box-heading {
            color: $grey-dark;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 32px;

            @include media-query(palm) {
                color: $grey-dark;
                font-size: 28px;
            }
        }

        @include media-query(hd) {
            padding-bottom: 60px;

            .box-feature {
                margin-bottom: 30px;
            }

            .btn{
                margin: 10px 0;
            }

            .track-screen-shoot{
                width: 846px;
                margin: 0;

                @include media-query(hd) {
                    margin-left: -60px;
                }
            }

                img{
                    width: 720px;
                }

                .box-link {
                    border-bottom: none;
                    display: block;
                    padding-bottom: 10px;
                    padding-left: 40px;
                    text-align: left;
                    border-bottom-color: none;
                    padding-top: 10px;
                    width: 400px;

                }

                .box-screenshot {
                    @include position(absolute, -15% 0 null null);
                    visibility: hidden;
                }


                .box-screenshot {
                    visibility: visible;
                }
            }


            &.box-feature-wrap--alt {
                .box-link {
                    margin-left: 893px;
                }

                .box-screenshot {
                    left: 0;
                    right: auto;
                }


                .box-link {
                    padding: 0 0 0 100px;
                    margin-left: 793px;
                    width: 420px;

                    @include media-query(palm) {

                    padding: 0;
                    margin: 0;

                    }
                }
            }
    }


}
