/* -------------------- *\
   #COLORS
\* -------------------- */


/* Color with names */
$unmetric-voilet: 	#5856D6;

$sea-blue:          #2996cc;


$grey-lightest: #F6F6F6;
$grey-lighter:  #DDD;
$grey-light:    #AAA;
$grey-base:     #777;
$grey-dark:     #444;
$grey-darker:   #111;



$link-color: 		   #5856D6;
$color-secondary: $sea-blue;








$green: #2ecc71;
$orange: #f39c12;
$red: #e74c3c;



// Social network brand colors
$facebook-color:	#3B5998;
$twitter-color:	#55ACEE;
$youtube-color:	#CD332D;
$pinterest-color: #CB2027;
$linkedin-color: 	#0077b5;
$instagram-color: #3f729b;



// Brand text colors being used for links

$twitter-text-color:		#2290bf;
$youtube-text-color:		#1b7fcc;






// ALERTS COLOR.
//
$warning-text:             #bf8412 !default;
$warning-background:       #fbeed5 !default;

$error-text:               #b94a48 !default;
$error-background:         #eed3d7 !default;
$error-border-dark:		   #b94a48;

$success-text:             #468847 !default;
$success-background:       #dff0d8 !default;

$info-text:                #3a87ad !default;
$info-background:          #bce8f1 !default;