/* -------------------- *\
   #DEFAULT
\* -------------------- */

	
// TYPOGRAPHY

$base-font-family:   'franklin-gothic-urw', "Helvetica Neue", Arial, sans-serif !default;
$base-font-size:     10px !default;
$base-line-height:   1.5 !default;