/*------------------------------------*\
   #THEME
\*------------------------------------*/

body.theme--basic::before{
    display: block;
    content: "";
    @include linear-gradient(#5856D8, #27DCF9, #FFF);
    height: 600px;
    @include position(absolute, 0 0 0 0);
}

.theme--basic {

    .hero {
        color: white;
    }

    .header {
        @include linear-gradient(#5856D6, #4F6CDD);
    }

    .btn-primary {
        @include linear-gradient(#5658D8, #27DCF9);
    }
}


.theme--basic .header-rm{
    .header{
        background: transparent;
        position: relative;
        height: 0;
    }

    .nav-main--link{
        text-transform: none;
    }
}


//Home page

.hm--mod::before{
    display: block;
    content: "";
    height: 600px;
    @include position(absolute, 0 0 0 0);
}

.hm--mod {

    .header{
        background: transparent;
        position: relative;
        height: 0;

        form{
            visibility: hidden;
        }
        button{
            background: white;
            color: #00B6C9;
        }
    }

    .hero {
        @include linear-gradient(135deg, #5856D8, #18FE89);

            @include media-query(palm) {
                height: 100%;

            }
        }
}
