//	===================================================
//	MIXINS
//	===================================================


// @include font-size(VALUEpx)
@mixin font-size($font-size){
	font-size: $font-size;
    font-size: ($font-size / $base-font-size) * 1rem;
}



// @include text-overflow
@mixin text-overflow() { //?
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap; 
}



@mixin hyphens() {
	-ms-word-break: break-all;
     word-break: break-all;
     // Non standard for webkit
     word-break: break-word;
     
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}


// Ellipsis mixin for long titles
@mixin ellipsis($width: 90%, $display-type: inline-block) {
	display: $display-type;
	overflow: hidden;
	white-space: nowrap;
	max-width: $width;
	text-overflow: ellipsis;
}



// for background color with transparency with IE support
@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}



// Hidden but available to speaking browsers
@mixin is-hidden() {
	overflow : hidden;
	position : absolute;
	clip : rect(0 0 0 0);
	height : 1px;
	width : 1px;
	margin : -1px;
	padding : 0;
	border : 0;
	
// Make is-hidden focusable with a keyboard
	&.focusable {
		&:active,
		&:focus {
			position : static;
			clip : auto;
			height : auto;
			width : auto;
			margin : 0;
			overflow: visible; 
		} 
	} 
}

// Clearfix Mixin
@mixin group {
   
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}




// Hide the text
@mixin hide-text {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

// for Retina images
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}