/* -------------------- *\
   #UTILITIES
\* -------------------- */


.link {
	color: $link-color !important;

	&:hover {
		text-decoration: underline;
	}
}



/* Toggling content */
.is-visible {
   visibility: visible;
   display: block;
}

.is-invisible {
  visibility: hidden;
}

.is-hidden {
	@include is-hidden();
	display: none;
}




/* Clearing floats
*/
.group {
	&:before,
	&:after {
	    content: " ";
    	display: table;
    }
    &:after {
 	   clear: both;
    }
}




/* Accessible yet invisible text */
.hide-text {
   @include hide-text;
}



/* Wait Cursor */
.waitCursor{
	cursor: wait;
}



/*
** Separator
*/

.sep {
    @include font-size($text-size-xs);
    color: $grey-light;
	margin: 0 5px;
}



hr {
	border: 1px solid $grey-lighter;
	border-width: 1px 0 0;
	margin: 20px 0;

	&.wo-mar {
        margin: 0;
	}

	&.light {
       	border-color: $grey-lightest;
	}
}

hr.mg-hr{
    margin: 60px 0;
}




/*
** Padding
*/

.u-pad--hero{
	padding: 80px 0 0 0;

	@include media-query(hd) {
        padding: 100px 0 0 0;
    }
}

.u-pad-top{
	padding: 80px 0 0 0;

    @include media-query(hd) {
        padding: 140px 0 0 0;
    }
}

.u-pad-bottom{
    padding: 0 0 80px 0;

    @include media-query(hd) {
        padding: 0 0 140px 0;
    }
}


.u-pad-less{
	padding: 80px 0;

    @include media-query(hd) {
        padding: 0 0 60px 0;
    }
}

.u-pad--top-less{
	padding: 80px 0;

        @include media-query(hd) {
            padding: 140px 0 60px 0;
        }
}
.u-pad--less-top{
 	padding: 80px 0;

        @include media-query(hd) {
            padding: 60px 0 140px 0;
        }
 }

.u-pad--top{
	padding: 80px 0;

        @include media-query(hd) {
            padding: 140px 0;
        }
}

.u-pad--less{
	padding: 80px 0;

        @include media-query(hd) {
            padding: 60px 0;
        }
}

.u-pad-less-top{
	padding: 80px 0 0 0;

        @include media-query(hd) {
            padding: 60px 0 0 0;
        }
}

.u-pad-too--less{
    padding: 25px 25px 15px 25px;
}

.u-pad-m{

    padding: 80 0;

    @include media-query(hd) {
        padding: 18px 46px 0px 10px;
    }
}

.u-pad--t{

    padding: 20px 30px 82px 10px;
}

.u--center{
	display: flex;
	justify-content: center;
	align-items: center;
}


//border
.u-left-border{
    border-left: 4px solid #eee;
    -webkit-padding-start: 20px;
}




// Break text to next line in desktops only
.break {
    @include media-query(hd) {
        display: block;
    }
}



/*
    For hiding text
 */

.screen-reader-text {
	@include hide-text;
}



/*
    Typography helper classes
*/

/* Center align text */

.t-center {
	text-align: center !important;
}



/* Left align text */

.t-left{
	text-align: left !important;
}



/* Right align text */

.t-right {
	text-align: right !important;

}



/*
    Positioning and Spacing
*/

.push-left {
   float: left !important;
}

.push-right {
   float: right !important;
}


.no-space-below {
   margin-bottom: 0 !important;
}

.no-space-above {
   margin-top: 0 !important;
}

.is-fixed {
	position: fixed !important;
}



/* Text Colors */

.light {
    color: $grey-base !important;
}



.lighter {
    color: $grey-lighter !important;
}

/* Overflow */

.u-overflow{
	overflow: auto;
}
