doctype html
html
    include includes/_head.jade

    body.theme--basic
         // HEADER
        header.header
            
            a.logo(href="#") 
                img.logo-image(src="assets/i/unmetric-logo-white.png" alt="Unmetric logo")
            
            a.menu-link(href="#")
                span.menu-icon
            
            nav.nav-main.0is-hidden
                ul.nav-main-wrap
                    li 
                        a.more.nav-main--link(href="javascript:void(0)") Products 
                            i.icon-arrow-dropdown
                        
                        ul.nav-main-dd
                            li 
                                a.nav-main--link.is-active(href="javascript:void(0)") 
                                    span.menu-analyze Analyze
                                        i.icon-arrow-right.arrow-right
                                    br
                                    span.nav-main--desc Analytics for social media analysts
                                
                            li 
                                a.nav-main--link(href="javascript:void(0)") 
                                    span.menu-track Track
                                        i.icon-arrow-right.arrow-right
                                    br
                                    span.nav-main--desc Keep an eye on your competition
                                
                            li 
                                a.nav-main--link(href="javascript:void(0)") 
                                    span.menu-discover Discover
                                        i.icon-arrow-right.arrow-right
                                    br
                                    span.nav-main--desc Find inspiration to create content
                    
                    li: a.nav-main--link(href="#") About
                    
                    li: a.nav-main--link(href="#") Contact
                    
                    li: a.nav-main--link.nav-main--link-signin(href="#") Sign In
           
            
        
   
        section.hero.row.has-padding
            .content.t-center
                h1.hero-title Analyze for Social media Analysts

                img.col-1.box-image.box-screenshot(src="assets/i/bg-2x.png", alt="Product")


        
        
        section.row.has-border.has-padding
            .content.t-center
                h2.section-title Your social media analytics done faster than ever.
                
                .grid.grid--gutter
                    .grid-cell.box
                        img.box-image.box-icon(src="assets/i/reporting.jpg" alt="icon-historical_data")
                        
                        h3.box-heading Automated reporting
                        
                        p.box-copy  Get instant reports delivered in PowerPoint and Excel format right to your inbox.
                                
                    
                    
                    .grid-cell.box
                        img.box-image.box-icon(src="assets/i/social-network.jpg" alt="icon-historical_data")
                        
                        h3.box-heading 6 major social networks
                        
                        p.box-copy  All the insights and data you need from Facebook, Twitter, Instagram, YouTube, Pinterest and LinkedIn
                                
                                
                                
                    .grid-cell.box                        
                        img.box-image.box-icon(src="assets/i/post.jpg" alt="icon-historical_data")
                        
                        h3.box-heading Paid post detection

                        
                        p.box-copy 
                            Pull back the curtain on the paid social strategy of your competitors on Facebook and Twitter.

                                
                                
                                
                    .grid-cell.box
                        img.box-image.box-icon(src="assets/i/data.jpg" alt="icon-historical_data")
                        
                        h3.box-heading Years of historical data

                        
                        p.box-copy  Get upto 3 years of historical data and find what worked in the past for your competitors.
              
        
        section.row.has-border.has-padding
            .content.t-center
                h2.section-title Analyze your competition and their campaigns
                
                p.intro Every social media campaign is tagged and tracked by Unmetric's data analysts leaving you free to focus on the insights.
                  
                .box-feature-wrap.box-feature-wrap--alt      
                    .box.box-feature
                        a.box-link
                            h3.box-heading Campaign Intelligence
                            
                            p.box-copy Unmetric identifies and tags campaigns by the competition.
                                
                        img.box-image.box-screenshot(src="assets/i/product-shots/ana-sshot-campaigns-min.png")
                            
                    
                    
                    .box.box-feature.is-active
                        a.box-link
                            h3.box-heading Content Tagging
                            
                            p.box-copy Facebook content is tagged by analysts to decipher strategies that work for your competitors
                                
                        img.box-image.box-screenshot(src="assets/i/product-shots/ana-sshot-reports-min.png")
                            
                            
                    
                    .box.box-feature
                        a.box-link
                            h3.box-heading Share of Voice
                            
                            p.box-copy See how your content efforts stack up when it comes to volume and interactions.

                                
                        img.box-image.box-screenshot(src="../assets/i/product-shots/ana-sshot-sov-min.png") 

        
        section.row.has-border.has-padding
            .content.t-center
                h2.section-title Social media analytics done in minutes, not hours
                
                p.intro Every data point, every metric, everything you need, when you need and all in one platform. Analyze your own brand performance and benchmark against competitors.
                  
                .box-feature-wrap     
                    .box.box-feature
                        a.box-link
                            h3.box-heading Weekly Reports
                            
                            p.box-copy Weekly reports intelligently generated to bring you the data and insights that matter.
                                
                        img.box-image.box-screenshot(src="assets/i/product-shots/ana-sshot-sov-min.png")
                            
                    
                    
                    .box.box-feature.is-active
                        a.box-link
                            h3.box-heading One-click Reports
                            
                            p.box-copy Customizable analytics reports created on-demand in Powerpoint and Excel.

                                
                        img.box-image.box-screenshot(src="assets/i/product-shots/ana-sshot-reports-min.png")
                            
                            
                    
                    .box.box-feature
                        a.box-link
                            h3.box-heading Highlighting Outliers
                            
                            p.box-copy Quickly see the content and brands that are doing better than normal.
                                
                        img.box-image.box-screenshot(src="assets/i/product-shots/ana-sshot-benchmark-min.png")
        
        section.row.has-border.has-padding
            .content.t-center
                h2.section-title Create winning strategies
                p.intro Use the data and insights from Unmetric to build and improve upon your success.

                .flex.flex--center
                    .col-1
                        h3.box-heading Evaluate Content and Campaigns Performance
                        
                        p.box-copy See trends over time to understand the impact of campaigns and content. 
                                
                        img.box-image.box-screenshot(src="assets/i/performance-sshot.jpg")
                    
                    .col-1
                        h3.box-heading Share, Collaborate &amp; Win
                        
                        p.box-copy Add unlimited team login accounts. Share charts and download all the data.
                        
                        img.box-image.box-screenshot(src="assets/i/share-sshot.jpg")                 
        

        section.row.has-border.has-padding
            .content.t-center
                blockquote.testimonial-wrap
                    q.testimonial-text
                        span.d-quotes.d-quotes--left &ldquo;
                        
                        span This is a testimonial. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        
                        span.d-quotes.d-quotes--right &rdquo; 
                        
                        
                    p.testimonial-author Alan Chumley &mdash; SVP, Research &amp; Analytics
                    
                    img.testimonial-avatar(src="assets/i/avatars/alan-chumley.png" alt="Alan Chumley")
                    
                    br
                        
                    img.testimonial-logo(src="assets/i/logos/fleishmanhillard.jpg")
                    
                            
        section.row.has-border.has-padding
            .content.t-center
                h2.section-title Simple Pricing, Unlimited Users, No Audience Size Restriction 

                p We don’t charge by audience size or number of users. We promise predictable & consistent pricing – exactly how it should be.

                      
        section.row.has-border.has-padding
            .content
                h2.section-title.t-center Try it free for 7 days 
                
                form
                    strong Are you signing up on behalf of…

                    .control-wrap
                        input(type="radio" name="client" id="radio-button" checked)
                                                
                        label(for="radio-button") Brand
                    
                        br

                        input(type="radio" name="client" id="radio-button2")
                                                
                        label(for="radio-button2")  Agency's Client(s) 

                    
                    .control-wrap
                        label.bold(for="input-text") Your Full Name
                        
                        br
                        
                        input(type="text" id="input-text" placeholder="Sherlock Holmes") 

                    .control-wrap
                        label.bold(for="input-text") Work Email
                        
                        br
                        
                        input(type="text" id="input-text" placeholder="sherlock@holmes.com") 

                    .control-wrap
                        label.bold(for="input-text") Company Name
                        
                        br
                        
                        input(type="text" id="input-text" placeholder="Sherlock Pvt. Ltd")         
                    
                    
                    .control-wrap
                        label.bold(for="text-area") Industry
                        
                        br
                        
                        i.icon-select.icon-arrow-dropdown
                        
                        select
                            option Criminal Justice
                            option Option 2
                            option Option 3
                    
                
                    .control-wrap
                        button.btn.btn-primary(type="submit") Start my free trail


        footer.row.has-padding
            .content
                ul.nav-footer.grid.grid--gutter
                    li.grid-cell.size1of3
                        h4 Products
                        
                        ul.nav-footer--list
                            li: a.nav-footer--link(href="#") Analyze &mdash; for Social Media Analysts
                            
                            li: a.nav-footer--link(href="#") Track &mdash; for Marketers
                            
                            li: a.nav-footer--link(href="#") Discover &mdash; for Content Creators
                    
                    
                    
                    li.grid-cell
                        h4 About
                        
                        ul.nav-footer--list
                            li: a.nav-footer--link(href='#') Company
 
                            li: a.nav-footer--link(href='#') Customers
                            
                            li: a.nav-footer--link(href='#') Why Agencies love us
    
                            li: a.nav-footer--link(href='#') Our blog
                            
                            li: a.nav-footer--link(href='#') Press & News coverage
                            
                            li: a.nav-footer--link(href='#') Job openings
                    
                    
                    
                    li.grid-cell
                        h4 Resources
                        
                        ul.nav-footer--list
                            li: a.nav-footer--link(href="#") Articles
                            
                            li: a.nav-footer--link(href="#") Ebooks 
                            
                            li: a.nav-footer--link(href="#") Infographics 
                            
                            li: a.nav-footer--link(href="#") Interviews 
                            
                            li: a.nav-footer--link(href="#") Industry Reports 
                            
                            
                            
                    
                    li.gird-cell 
                        h4 Contact
                        
                        ul.nav-footer--list    
                            li: a.nav-footer--link(href='#') Get in touch 
                            
                            li: a.nav-footer--link(href='#') Twitter
                            
                            li: a.nav-footer--link(href='#') Facebook
                            
                            li: a.nav-footer--link(href='#') Pinterest
                            
                            li: a.nav-footer--link(href='#') LinkedIn
                            
                            li: a.nav-footer--link(href='#') SlideShare

                
                
                .grid.site-info-wrap
                    .grid-cell
                        p.site-info &copy; Unmetric 
                        
                        
                    .grid-cell    
                        p.victory &#9996;       
                        
                    .grid-cell
                        p.site-links
                            a(href="#") Privacy

        include includes/_foot.jade                        