doctype html
html
    include includes/_head.jade
    
    body.theme--basic
        .header-rm
            // HEADER
            header.header
                a.logo(href="#") 
                    img.logo-image(src="assets/i/unmetric-logo-white.png" alt="Unmetric logo")
                


                a.menu-link(href="#")
                    span.menu-icon
                
                
                form#search(action="#" method="post")
                    #label
                        
                        label#search-label(for="search-terms") search
                        
                    #input 
                        input(type="text" name="search-terms" id="search-terms" placeholder="Search...")




                //Nav

                include includes/_nav.jade  

    
        include includes/_fixed-nav.jade    

               
        

        section.hero.row.u-pad--top-less
            .content
                .grid.grid--center
                    .grid-cell.col-6.t-center
                        
                        .img-theme(style="background-image: linear-gradient(#5856D8,#3ADFFA,#E1FAFE), url(assets/i/ranjani.png);opacity: 0.5;")

                        h1.article-title Ranjani
                            br 
                            |Raghupathi

                        img.box-image.blog-avatar--image(src="assets/i/ranjani-raghupathi.png", alt="#")

                        .col-1
                            p.info A writer, a dreamer and a foodie all rolled in to one, Ranjani enjoys her not-so-secret affair with marketing and social media metrics. She plays cupid with words and marries them so they can live happily ever after as beautiful sentences. You can find her at any restaurant serving great food or at a book store sneaking a peak at the latest arrivals. 

                            .social-link
                                a(href="#") Twitter

                                a(href="#") LinkedIn

        
        
        section.row.u-pad-less-top
            .content
                .grid.grid--center
                    .grid-cell.col-5

                        .t-center

                            p Articles by 
                                span.t-weight--m.blog-post_copy Ranjani Raghupathi
                        
                        

                        hr 

                        .article_link
                            a(href="#")

                                h2.post__link Unmetric is now integrated with Oracle Social Cloud
                                
                                
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/oracle-social-cloud.png", alt="Oracle Social Cloud")

                                
                                p.article-date.smaller.light Feb 10,2016


                        
                        hr 

                        .article_link
                            a(href="#")

                                h2.post__link Top Home Appliance brands on social media Q4 2015
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/media-Q4.png", alt="Media Q4")

                                
                                p.article-date.smaller.light Feb 10,2016


                        hr 

                        .article_link
                            a(href="#")
                                
                                .u-pad-less
                                    h2.t-p--color.t-weight--m 16 brands with the most engaging Memorial Day Facebook posts

                                
                                p.article-date.smaller.light Feb 10, 2016   



                        hr

                        .blog-btn.u-pad--less-top
                            .grid.grid--gutter
                                
                           
                                .grid-cell.size1of4
                                    .push-left
                                        
                                        .col-btn
                                            button.btn.w-btn.btn-secondary.t-weight--m Older Posts  

        
        
        //Nav
        include includes/_nav-footer.jade  


        // FOOTER SECTION                    
        include includes/_footer.jade 


        include includes/_foot.jade                                               
