doctype html
html
    include includes/_head.jade
    
    body.theme--basic
        .header-rm
            // HEADER
            header.header
                
                a.logo(href="#") 
                    img.logo-image(src="assets/i/unmetric-logo-white.png" alt="Unmetric logo")
                

                a.blog-menu_link(href="#")
                    span.blog-menu_icon

                a.menu-link(href="#")
                    span.menu-icon
                


                nav.nav-main.is-hidden
                    ul.nav-main-wrap
                        li 
                            a.more.nav-main--link(href="#") Products 
                                i.icon-arrow-dropdown
                            
                            ul.nav-main-dd
                                li: a.nav-main--link.is-active(href="#") Analyze
                                        br
                                        span.nav-main--desc Compare and analyze your competitors
                                    
                                li 
                                    a.nav-main--link(href="#") Track
                                        br
                                        span.nav-main--desc Keep an eye on your competition
                                    
                                li 
                                    a.nav-main--link(href="#") Discover
                                        br
                                        span.nav-main--desc Find inspiration to create content
                        
                        li: a.nav-main--link(href="#") About
                        
                        li: a.nav-main--link(href="#") Contact
                        
                        li: a.nav-main--link.nav-main--link-signin(href="#") Sign In

               
        section.hero.row.u-pad--top-less
            .content
                .grid.grid--center
                    .grid-cell.col-6.t-center
                        
                        .img-theme(style="background-image: linear-gradient(#5856D8,#3ADFFA,#E1FAFE), url(assets/i/ranjani.png);opacity: 0.5;")

                        h1.hero-title Ranjani
                            br 
                            |Raghupathi

                        img.box-image.blog-avatar--image(src="../assets/i/ranjani-raghupathi.png", alt="#")

                        .col-1
                            p.info A writer, a dreamer and a foodie all rolled in to one, Ranjani enjoys her not-so-secret affair with marketing and social media metrics. She plays cupid with words and marries them so they can live happily ever after as beautiful sentences. You can find her at any restaurant serving great food or at a book store sneaking a peak at the latest arrivals. 

                            .social-link
                                a(href="#") Twitter

                                a(href="#") LinkedIn

        
        
        section.row.u-pad-less-top
            .content
                .grid.grid--center
                    .grid-cell.col-5

                        .t-center

                            p Articles by 
                                span.t-weight--m.blog-post_copy Ranjani Raghupathi
                        
                        

                        hr 

                        .article_link
                            a(href="#")

                                h2.post__link Unmetric is now integrated with Oracle Social Cloud
                                
                                
                                
                                .article_link--image
                                
                                img.small-image(src="../assets/i/oracle-social-cloud.png", alt="Oracle Social Cloud")

                                
                                p.article-date.smaller.light Feb 10,2016


                        
                        hr 

                        .article_link
                            a(href="#")

                                h2.post__link Top Home Appliance brands on social media Q4 2015
                                
                                .article_link--image
                                
                                img.small-image(src="../assets/i/media-Q4.png", alt="Media Q4")

                                
                                p.article-date.smaller.light Feb 10,2016


                        hr 

                        .article_link
                            a(href="#")
                                
                                .u-pad-less
                                    h2.t-p--color.t-weight--m 16 brands with the most engaging Memorial Day Facebook posts

                                
                                p.article-date.smaller.light Feb 10, 2016   



                        hr

                        .blog-btn.u-pad--less-top
                            .grid.grid--gutter
                                
                           
                                .grid-cell.size1of4
                                    .push-left
                                        
                                        .col-btn
                                            button.btn.w-btn.btn-secondary.t-weight--m Older Posts  

        



        // FOOTER SECTION                    
        footer.row.has-padding
            .content
                ul.nav-footer.grid.grid--gutters
                    li.grid-cell.size1of3
                        h4 Products
                        
                        ul.nav-footer--list
                            li: a.nav-footer--link(href="#") Analyze &mdash; for Social Media Analysts
                            
                            li: a.nav-footer--link(href="#") Track &mdash; for Marketers
                            
                            li: a.nav-footer--link(href="#") Discover &mdash; for Content Creators
                    
                    
                    
                    li.grid-cell
                        h4 About
                        
                        ul.nav-footer--list
                            li: a.nav-footer--link(href='#') Company
 
                            li: a.nav-footer--link(href='#') Customers
                            
                            li: a.nav-footer--link(href='#') Why Agencies love us
    
                            li: a.nav-footer--link(href='#') Our blog
                            
                            li: a.nav-footer--link(href='#') Press & News coverage
                            
                            li: a.nav-footer--link(href='#') Job openings
                    
                    
                    
                    li.grid-cell
                        h4 Resources
                        
                        ul.nav-footer--list
                            li: a.nav-footer--link(href="#") Articles
                            
                            li: a.nav-footer--link(href="#") Ebooks 
                            
                            li: a.nav-footer--link(href="#") Infographics 
                            
                            li: a.nav-footer--link(href="#") Interviews 
                            
                            li: a.nav-footer--link(href="#") Industry Reports 
                            
                            
                            
                    
                    li.gird-cell 
                        h4 Contact
                        
                        ul.nav-footer--list    
                            li: a.nav-footer--link(href='#') Get in touch 
                            
                            li: a.nav-footer--link(href='#') Twitter
                            
                            li: a.nav-footer--link(href='#') Facebook
                            
                            li: a.nav-footer--link(href='#') Pinterest
                            
                            li: a.nav-footer--link(href='#') LinkedIn
                            
                            li: a.nav-footer--link(href='#') SlideShare

                
                
                .grid.site-info-wrap
                    .grid-cell
                        p.site-info &copy; Unmetric 
                        
                        
                    .grid-cell    
                        p.victory &#9996;       
                        
                    .grid-cell
                        p.site-links
                            a(href="#") Privacy

        include includes/_foot.jade                                               
