doctype html
html
    include includes/_head.jade
    
    body.theme--basic
        .header-rm
            // HEADER
            header.header
                
                a.logo(href="posts.html") 
                    img.logo-image(src="assets/i/unmetric-logo-white.png" alt="Unmetric logo")
                


                a.menu-link(href="#")
                    span.menu-icon
                


                nav.nav-main.0is-hidden
                    ul.nav-main-wrap

                        li
                            a.nav-main--link
                                .btn.btn-secondary.t-weight--m(href="#") Subscribe   

                

            //fixed header
            include includes/_fixed-nav.jade  




            //Hero section
            section.hero.row.u-pad--top-less
                .content
                    .grid.grid--center
                        .grid-cell.col-4.t-center
                            
                            .img-theme(style="background-image: linear-gradient(#5856D8,#3ADFFA,#E1FAFE), url(assets/i/oracle-social-cloud.png);opacity: 0.5;")

                            h1.article-title Unmetric is now integrated with Oracle Social Cloud

                            p.t-center Mar 4, 2016    

            
           


            //Article
            section.row.u-pad-less-top.article
                .content
                    
                    .t-center
                        h1 Article
                    

                    .grid.grid--center
                        .grid-cell.col-5
                            
                            hr 

                            .article_link
                                a(href="post3.html")

                                    h2.post__link Unmetric is now integrated with Oracle Social Cloud
                                    
                                    
                                    
                                    .article_link--image
                                    
                                    img.small-image(src="assets/i/oracle-social-cloud.png", alt="Oracle Social Cloud")

                                    
                                    p.article-date.smaller.light Feb 10,2016


                            
                            hr 

                            .article_link
                                a(href="post2.html")

                                    h2.post__link Top Home Appliance brands on social media Q4 2015
                                    
                                    .article_link--image
                                    
                                    img.small-image(src="assets/i/media-Q4.png", alt="Media Q4")

                                    
                                    p.article-date.smaller.light Feb 10,2016


                            hr 

                            .article_link
                                a(href="#")
                                    
                                    .u-pad-less
                                        h2.t-p--color.t-weight--m 16 brands with the most engaging Memorial Day Facebook posts

                                    
                                    p.article-date.smaller.light Feb 10, 2016
            
            

            
            section.row.u-pad--less.download-link.media
                .content
                    .grid.grid--center
                        .grid-cell.col-5
                            
                            .o-box.size4of12.media-link
                                a(href="#")
                                
                                    .o-box__pad

                                        img(src="assets/i/A4-29-must-know.png", alt="A4-29-must-know")
                                    
                                        .u-pad-too--less.t-center
                                        
                                            a(href="#").t-p--color.t-weight--m Download the Report 

                            
                            
                            .o-box.size4of12.bg-graident.competition.media-link
                                a(href="#")
                                
                                    .o-box__pad
                                        .u-pad-m
                                            h2.t-weight--heavy.t-white Take your competition head on.
                                            
                                        .u-pad--t
                                            p.t-white Thousands of real-time marketers at hundreds of leading brands and agencies across 20+ countries use Unmetric to compete and win.

                                        
                                       
                                       
                                        button.btn.w-btn.t-weight--m Learn how
                                        
                                        



                            .o-box.size4of12.media-link
                                a(href="#")
                                
                                    .o-box__pad

                                        img(src="assets/i/A4-19_things.png", alt="A4-19_things")
                                    
                                        
                                        .u-pad-too--less.t-center    
                                            a(href="#").t-p--color.t-weight--m Download the Report


           
            hr.mg-hr



            section.row
                .content
                    .grid.grid--center.main
                        .grid-cell.col-6

                            p.light
                                em A version of this article first appeared on 
                                a.blog-link(href="#") Social Times
                                em  on February 5th, 2016. This article includes data up to February 8th so the numbers have changed slightly.

                            br    
                            
                            
                            p Can there be any bigger linchpin of a brand’s marketing calendar than the Super Bowl? An event that is as much about the advertising as it is about the game. For Super Bowl 50, CBS is charging $5 million for a 30-second spot, up from $2.5 million 10 years ago.
                            

                            
                            p On social media, the uptick in brands creating Super Bowl content has been nothing short of incredible. This year, Unmetric tracked over 44,000 unique pieces of Super Bowl content published by brands before and during the Super Bowl. That's up from 30,000 pieces of content we tracked in 2015. On game day alone, brands published over 21,500 pieces of content.
                            
                           
                           
                            p Take a step back and think about that for a second. After what must be an exhausting six weeks of creating Super Bowl related content, content creators still needed enough inspiration within them to publish 21,500 more unique pieces of content on game day - more than they’ve published in the build up to the game!

                            
                            p Here’s how the total amount of content published on social media around the Super Bowl has changed over the years. Unsurprisingly, the week before game day sees a frantic amount of content being published.

                            
                            p 
                                img(src="assets/i/total-super-bowl-content-published-before-game-day.jpg", alt="#")

                            
                           
                            p What’s also interesting is how important the second and third weeks from game day have become. Brand’s are ramping up their Super Bowl campaigns earlier and earlier. In 2016, we’ve seen brands taking the Super Bowl even more seriously with more content being published as far out as five weeks before the big game.

                            
                            p As mentioned above, on game day, more content is published on social media about the Super Bowl than in the weeks leading up to the game. The biggest winner of the content explosion has been Twitter, suggesting that any reports of the 
                                a.blog-link(href="#") demise
                                |  of the social network are greatly exaggerated.  

                            
                            
                            p Since 2012, Twitter has seen an 862% increase in the amount of Super Bowl content being published by brands on game day. In 2016, brands sent a staggering 17,000 tweets on the day of the Super Bowl, a 45% increase on the year before.          

                           
                           
                            p
                                img(src="assets/i/super-bowl-content-published-on-game-day-by-social-network.jpg", alt="#")
                           
                           
                            p Facebook and Instagram have all seen steady increases over the last four years. Super Bowl related brand content on Instagram during game day has increased by 439% while on Facebook it has grown by 190%.


                            p Overall, we’ve seen an 862% increase in Super Bowl brand content being published on game day compared to 2012. Last year, brands posted 35% more content on game day than they did in 2015.


                            p
                                img(src="assets/i/super-bowl-content-published-on-game-day-by-year.jpg", alt="#")

                            
                            p Although the chart above tells us that the amount of content brands publish around the Super Bowl on game day, in the lead up to the big day, the amount of content brands published actually dipped in 2015.

                            

                            p
                                img(src="assets/i/super-bowl-content-published-before-game-day-by-year.jpg", alt="#") 


                            p This dip was most pronounced on Facebook where there were 375 less posts published about the Super Bowl in the seven weeks before the game. In 2016, brands published 55% more content in the run up to the Super Bowl over 2015.


                            p
                                img(src="assets/i/super-bowl-facebook-content-published-before-game-day.jpg", alt="#") 


                            p On Twitter, brands are doing the opposite of what they are doing on Facebook. Here, brands are publishing more content than ever before. If the last few weeks have been anything to go by, brands are about to break all the records for amount of content published around the Super Bowl this year.

                           
                            p
                                img(src="assets/i/super-bowl-twitter-content-published-before-game-day.jpg", alt="#")       
                            

                            p On Instagram, the volume of content that was published around the Super Bowl in the lead up to game day hasn’t changed too drastically. As with Facebook, 2014 saw slightly more content being published on Instagram compared to 2015. Ultimately 2016 saw the most amount of Super Bowl content being created on Instagram, show casing the importance marketers place on the youngest of social networks.

                            p 
                                img(src="assets/i/super-bowl-instagram-content-published-before-game-day-1.jpg", alt="#")

                            p This year we saw more brands than ever publishing their Super Bowl videos two weeks before the game. In the week before the Super Bowl there was a significant decline in the number of Super Bowl related videos being published.
                            

                            p 
                                img(src="assets/i/super-bowl-youtube-content-published-before-game-day-1.jpg", alt="#")


                           
                            p It’s clear that brands are tweaking their content publishing strategies when it comes to the Super Bowl. In 2014, brands focused on creating more content in the build up to the big day, but that strategy changed in 2015. Brands published less content in the run up to the Super Bowl but took to Twitter in the hundreds on game day to publish more Super Bowl content on one day than they had in the prior seven weeks.


                            h2  Methodology


                            p This report was put together using the content published by over 40,000 brands and captured by Unmetric. Content that included mentions of the Super Bowl or common words associated with the Super Bowl like SB49 or Big Game were used to compile the data on publishing volumes.


            
            hr.mg-hr


            section.row
                .content
                    .grid.grid--center.main
                        .grid-cell.col-6

                            .box
                                p As non-sexy as it seems, the home appliance industry is a multi-billion dollar industry that cannot be ignored. Not only do thousands of brands compete to make it into your home, we at Unmetric tracked over 1,250 social profiles that are trying to get their content on to your newsfeed.<br><br>In this report, we looked at the performance of top home appliance brands like Cuisinart, Crockpot Slow Cooker, Nespresso and others on Facebook. We found that Electrolux was able to engage their community the best even though Samsung received the most Likes. However, Cuisinart was the one to recieve maximum love from their community since they got the highest amount of positive sentintment - 65%.

                                
                            .box

                                <iframe src="//www.slideshare.net/slideshow/embed_code/key/JKnAiosvs5bD31" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px">  <a href="//www.slideshare.net/unmetric/top-home-appliance-brands-on-social-media-q4-2015" title="Top Home Appliance Brands On Social Media Q4 2015" target="_blank"></a></div>



                            p Now that we know which brands perform the best in the industry, we took a deeper dive to see what they're doing across social networks.



                            br 



                            h2 Samsung



                            p In the last quarter, Samsung added 35,000 new fans, published 55 Facebook posts, ran a highly engaging #HowWeHoliday campaign and a lot more. Their  consistency makes their strategy a winner. Here is a detailed report of their performance on Facebook and Twitter.
                            


                            .box
                                <iframe src="//www.slideshare.net/slideshow/embed_code/key/mU7P9dJBmxrvH" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px">  <a href="//www.slideshare.net/unmetric/samsung-home-appliances-social-media-report-for-q4-2015" title="Samsung Home Appliances Social Media Report For Q4 2015" target="_blank"></a> </div>



                            h2 Electrolux



                            p  With an amazing response rate of 54% and innovative content, Electrolux was able to engage their fans well above the industry average. This report is a summary of their performance on Facebook and Twitter.



                            .box
                                <iframe src="//www.slideshare.net/slideshow/embed_code/key/ClrxoIR7rZ4SxO" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px">  <a href="//www.slideshare.net/unmetric/electrolux-social-media-report-for-q4-2015" title="Electrolux Social Media Report For Q4 2015" target="_blank"></a> </div>

                            p To get reports like this delivered to your inbox, subscribe to our blog and we'll send you a round up once a week (don’t worry, we hate spam too).  

                
            hr.mg-hr
                
                
            section.row
                .content
                    .grid.grid--center.main
                        .grid-cell.col-6

                            p Do you follow an aviation brand on social? Whether it's to receive information about your flight, address customer support or to be notified about offers, following a brand on social media seems the easiest way to get updates.


                            p So how are top brands in the APAC and MEA region engaging with their audience? We've analyzed the strategies of top brands in the region to find out.


                            p We've chosen the following list of brands by first checking to see which the best airline brands are, which we found 
                                a.blog-link(href="http://www.worldairlineawards.com/Awards/best_airlines_by_world_region.html" target="_black") here
                                |. We then cherry picked 10 based on fanbase size, to get an idea of the varied strategies across the region. For this report, we analyzed:

                            
                            
                            ol.decimal

                                li Qatar Airways 
                                li Emirates
                                li Etihad Airways
                                li Singapore Airlines
                                li Cathay Pacific
                                li ANA All Nippon Airways
                                li Garuda Indonesia
                                li Jet Airways
                                li AirAsia
                                li Malaysia Airlines

                            
                            
                            h2 
                                strong Twitter

                            p Customer Service finds a natural home in the 140 character space, and this is true for the aviation industry as well. Airlines across the world have been forced to adapt quickly to this forum as, unlike in traditional customer service, conversations and grievances can be aired publicly and around the clock. Benchmarking a brand's Average Reply Time, or ART, against best performers can not only set goals for your team but gives an idea of what customers will expect as well.

                            

                            p 
                                img(src="assets/i/ART.png", alt="ART")      

                            
                            p From the image above we see that @IndonesiaGaruda replies the fastest while @MAS  (Malaysia Airlines) takes the longest to reply. Garuda Indonesia also had the best reply rate - the percentage of mentions that the brand replied to, with Replies comprising 95% of their Tweets . This dedication to customer service on Twitter is already seeing returns as the brand added the highest number of new Followers last month, gaining more than 85K Followers in the last month alone!

                            

                            h2 
                                strong Facebook

                            p While Twitter is the customer service hub of an airline's social media presence, Facebook is a great place to share content or information that cannot be contained in 140 characters. The clear winner among these brands in sheer fanbase alone is Qatar Airways. Typically, brands with more Fans tend to have lower Growth Rates but Qatar Airways has clearly bucked the trend - enjoying the highest growth rate in January while commanding the largest fanbase as well. 

                            

                            p
                                img(src="assets/i/fanbase.png", alt="fanbase") 

                            p So how did Qatar Airways grow their fanbase at such a high rate, while consistently engaging well with its Fans, even receiving the highest number of Likes in January?

                            
                            p When we dove deeper into their content, it became obvious that the airline was actively encouraging interaction with an engagement oriented strategy. In January, Qatar Airways held a Travel Festival where Fans could enjoy discounted rates for a limited period, and this drove their considerable number of Fans to pay attention and interact. 

                            
                            p Building this kind of loyalty on social is essential for a brand as a study found that 
                                a.blog-link(href="https://www.marketingtechblog.com/social-media-infographic/" target="_blank") 46% of shoppers rely on social media when making purchase decisions. 
                                |Now that's a number that any brand should be capitalizing on.             
                            

                            h2 
                                strong Instagram

                            
                            p Of the 10 brands analyzed, 8 have a strong Instagram presence and strategy in place. The Follower growth rate across the board only had a 10 percent difference - a strong indicator of consumer trends as well.


                            p 
                                img(src="assets/i/instagram.png", alt="Instagram")    

                            
                            p This steady growth in Followers also begs the question - why are users flocking to these Instagram accounts? And how are brands capitalizing on this?


                            p The surest way to convert a Follower to a customer is by increasing brand recall and staying on top of your potential customer's mind. With Instagram's ever increasing popularity - especially with tourists and people who travel frequently, brands should be posting consistently.     
                                    

                            p Emirates is a great example of this - posting 37 pieces of content in January. By producing fresh and original content on a regular basis they were able to add a whopping 88 thousand new Followers in one month alone. Publishing a steady stream of content also ensured they were one of the best engaging brands in the region, with a higher Engagement Score than the sector average.

                            p Instagram has a certain aesthetic that Emirates seems to understand very well. Leveraging their reputation as the largest airline in the Middle East, some of their most engaging content featured Dubai as the star.

                            .box
                                <iframe class="instagram-media instagram-media-rendered" id="instagram-embed-0" src="https://www.instagram.com/p/BACDiwZK0UP/embed/captioned/?v=6" allowtransparency="true" frameborder="0" height="847" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no" style="border: 0px; margin: 1px; max-width: 658px; width: calc(100% - 2px); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px, rgba(0, 0, 0, 0.14902) 0px 1px 10px 0px; display: block; padding: 0px; background: rgb(255, 255, 255);"></iframe>

                            p Apart from this, they also heavily rely on branded, yet stunning imagery to bring their brand to life - a strategy also practiced by Singapore Airlines, Etihad Airlines and other top brands in the industry. 

                            
                            p Social media was touted as the biggest disruption in marketing, and rightly so. As the learnings from the brands highlighted above, there are definite benefits to investing resources in a robust social media presence. 


            

            //Author
            .col-6.main
                .u-pad-bottom.t-center

                            
                    hr.mg-hr

                    
                    img.box-image.box-avatar(src="assets/i/ranjani-raghupathi.jpg", alt="Ranjani") 
               
                    h3 Posted by
                   
                    a(href="#") Ranjani Raghupathi
                   
                    p.light A writer, a dreamer and a foodie all rolled in to one, Ranjani enjoys her not-so-secret affair with marketing and social media metrics. She plays cupid with words and marries them so they can live happily ever after as beautiful sentences. You can find her at any restaurant serving great food or at a book store sneaking a peak at the latest arrivals.   


            
            
            

            //Subscribe
            section.row.subscribe.u-pad--less-top
                .content
                    .bg-graident.col-5.pad-sub

                        .grid.grid--gutter
                            
                                .grid-cell

                                    p.t-white Get interviews from your peers and industry experts, advice on social analytics and analyst debriefs of thought leaders delivered directly to your inbox.

                                .grid-cell.size1of3
                                    .control-wrap
                                            .parallal-input.t-center
                                            
                                                input(type="text" placeholder="Email Address")
                                            
                                                button.btn.w-btn Subscribe to Email updates                   


            


            
        // FOOTER SECTION                    
        include includes/_footer.jade 

        include includes/_foot.jade                            