doctype html

html
    head
        title Unmetric Home
        
        meta(charset="utf-8")
        meta(name="author", content="unmetric")
        meta(http-equiv="cleartype", content="on")
        // http://t.co/dKP3o1e
        meta(name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")
        meta(name="viewport", content="initial-scale=1.0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-title", content="Unmetric")
        meta(name="msapplication-TileImage", content="")
        meta(name="msapplication-TileColor", content="#4c5bb7")
        
        
        
        // Styles
        link(href="./assets/css/styles.css", rel="stylesheet", type="text/css")
        
        // FONTASTIC ICONS
        link(href="https://file.myfontastic.com/MbCTJofyGYYqRjeb8aineC/icons.css", rel="stylesheet")
        
        
        // Favicon
        link(rel="shortcut icon", href="i/favicon.ico")
        
        
        
        // JavaScript
        script(src="https://use.typekit.net/njh2cfh.js")
        script.
            try{Typekit.load({ async: true });}catch(e){}
            
    

    body.page-home
        header.top-bar
            .container
                a.logo(href="#")
                    img(src='./assets/i/unmetric-logo-white-bg@2x.png' alt='Unmetric logo')
                    



                
                
                
                nav.nav-wrap
                    a.nav-link(href='#') Customers
                
                    a.nav-link(href='#') Company
                
                    a.nav-link(href='#') Log in
                    
                
                
                
        section.billboard
            .container
                .billboard-content
                    h1.page-title Take your competition head on
                    
                    h2.page-subtitle
                        | Join thousands of real-time marketers at hundreds of leading brands and agencies across 20+ countries who trust Unmetric for marketing needs.
                        
                    ul.billboard-list
                        li.billboard-list--item
                            a.billboard-list--link(href='#')
                                h3.billboard-list--heading 
                                    span Digital Marketers
                        
                                p.billboard-list--copy 
                                    b Track 
                                    | your competitors social media marketing in real time.
                                
                                span.billboard-list--more Learn More
                                    i.icon-arrow-right
                        
                        
                        
                        li.billboard-list--item
                            a.billboard-list--link(href='#')
                                h3.billboard-list--heading 
                                    span Social Media Analysts
                                
                                p.billboard-list--copy 
                                    b Analyze 
                                    | your competition’s social content and campaign in depth.
                                
                                span.billboard-list--more Learn More
                                    i.icon-arrow-right
                                
                                
                        li.billboard-list--item
                            a.billboard-list--link(href='#')
                                h3.billboard-list--heading 
                                    span Content Creators
                                
                                p.billboard-list--copy 
                                    b Discover 
                                    | ideas and inspiration to create engaging social content.
                                
                                span.billboard-list--more Learn More
                                    i.icon-arrow-right
                
                
                
        section.clients-wrap
            .container
                .size1of1
                    ul.clients-list
                        li.clients-list--item
                            img(src='./assets/i/logo-microsoft@2x.png' alt='Microsoft logo')
                        
                        li.clients-list--item
                            img(src='./assets/i/logo-kfc@2x.png' alt='KFC logo')
                            
                        li.clients-list--item
                            img(src='./assets/i/logo-edelman@2x.png' alt='Edelman logo')
                        
                        li.clients-list--item
                            img(src='./assets/i/logo-gm@2x.png' alt='GM logo')
                            
                        li.clients-list--item
                            img(src='./assets/i/logo-lowes@2x.png' alt='Lowes logo')
                        
                        li.clients-list--item
                            img(src='./assets/i/logo-underarmour@2x.png' alt='Underarmour logo')
                            
                        li.clients-list--item
                            img(src='./assets/i/logo-bbdo@2x.png' alt='BBDO logo')
                      
              
              
              
        footer.bottom-bar
            .container
                .size4of12            
                    ul
                        li 
                            h3 
                                span Products
                        
                        li
                            a.footer-list--link(href='#') Sense — for Marketers
    
                        li
                            a.footer-list--link(href='#') Analyze — for Social Media Analysts
                            
                        li    
                            a.footer-list--link(href='#') Discover — for Content Creators
                  
                
                .size3of12
                    ul
                        li
                            h3 
                                span About
                            
                        li   
                            a.footer-list--link(href='#') Company
 
                        li
                            a.footer-list--link(href='#') Customers
                        
                        li
                            a.footer-list--link(href='#') Why Agencies love us

                        li      
                            a.footer-list--link(href='#') Our blog
                        
                        li    
                            a.footer-list--link(href='#') Press & News coverage
                        
                        li  
                            a.footer-list--link(href='#') Job openings

                          

                .size3of12
                    ul
                        li
                            h3 
                                span Resources 
                    
                        li
                            a.footer-list--link(href='#') Articles 
                        
                        li  
                            a.footer-list--link(href='#') Ebooks
                        
                        li  
                            a.footer-list--link(href='#') Infographics
                        
                        li  
                            a.footer-list--link(href='#') Interviews
                        
                        li  
                            a.footer-list--link(href='#') Industry Reports
                      
                      
                .size2of12
                    ul 
                        li 
                            h3 
                                span Contact
                            
                        li
                            a.footer-list--link(href='#') Get in touch 
                        
                        li
                            a.footer-list--link(href='#') Twitter
                        
                        li  
                            a.footer-list--link(href='#') Facebook
                        
                        li
                            a.footer-list--link(href='#') Pinterest
                        
                        li
                            a.footer-list--link(href='#') LinkedIn
                        
                        li
                            a.footer-list--link(href='#') SlideShare




        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='assets/js/functions.js')
