doctype html
html
    include includes/_head.jade
    
    body.hm--mod.page__home--alt.page__home--alt-new.page__home-new
        // HEADER
        header.header
            a.logo(href="#") 
                img.logo-image(src="assets/i/unmetric-logo-white.png" alt="Unmetric logo")
            


            a.menu-link.is-hidden(href="#")
                span.menu-icon
            
                
            nav.nav-main.0is-hidden
                ul.nav-main-wrap
                    .is-hidden
                        li 
                            a.more.nav-main--link(href="#") Products
                                i.icon-arrow-dropdown
                            

                            ul.nav-main-dd
                                li 
                                    a.nav-main--link(href="javascript:void(0)") 
                                        span.menu-analyze Analyze
                                            i.icon-arrow-right.arrow-right
                                        br
                                        span.nav-main--desc Analytics for social media analysts
                                    
                                li 
                                    a.nav-main--link(href="javascript:void(0)") 
                                        span.menu-track Track
                                            i.icon-arrow-right.arrow-right
                                        br
                                        span.nav-main--desc Keep an eye on your competition    
                                    
                                li 
                                    a.nav-main--link(href="javascript:void(0)") 
                                        span.menu-discover Discover
                                            i.icon-arrow-right.arrow-right
                                        br
                                        span.nav-main--desc Find inspiration to create content

                        
                        li: a.nav-main--link(href="javascript:void(0)") About
                        
                        li: a.nav-main--link(href="javascript:void(0)") Contact
                        
                        li: a.nav-main--link(href="javascript:void(0)") Login
                    
                    li: a.nav-main--link(href="javascript:void(0)") 
                        .btn.btn-secondary.t-weight--m SIGN IN
                    
        
    
                
        section.hero.row.u--center.u-pad--hero.is-tall.0is-hidden
            .t-center
                
                .t-center.0is-hidden
                        
                
                .grid.grid--gutter.hero-list
                    .box.grid-cell.hero-list--item
                        a.box-link.hero-list--link
                            
                            h3.t-weight--m Analyze
                            h4.hero-list--heading.t-weight--book.t-white Quickly Create Better Social Media Reports
                            p.t-white Analyze can create your next social media report in less than 60 seconds, identify all your competitors’ promoted content and evaluate your campaigns across social networks.
                            
                            span.btn.btn-small.btn-primary.t-weight--m Learn how
                                i.icon-arrow-right
                            
                            
                           
                    .box.grid-cell.hero-list--item
                        a.box-link.hero-list--link 
                            

                            h3.t-weight--m Track
                            h4.hero-list--heading.t-weight--book.t-white Easily Stay on Top of Your Competition
                            
                            p.t-white Track is free and the easiest way to stay on top of the tsunami of content being published by your competitors across media by presenting everything in one handy newsfeed. Track works on your smartphone and social media command center.
                            
                            span.btn.btn-small.btn-primary.t-weight--m Learn how
                                i.icon-arrow-right
                        
                            
        
                    .box.grid-cell.hero-list--item
                        a.box-link.hero-list--link   
                            
                            h3.t-weight--m Discover
                            h4.hero-list--heading.t-weight--book.t-white Inspire Your Creativty to Create Engaging Content
                            
                            p.t-white Discover is a searchable database of brand content which can be automatically curated based on hashtags, trends and keywords, so you no longer have to stare at a blank screen waiting for inspiration to strike.
                            
                            span.btn.btn-primary.t-weight--m.btn-small Learn how
                                i.icon-arrow-right
                    
        
        
        .row.group.logos.u-pad--less.flex
            
            p.t-center.intro Thousands of real-time marketers at hundreds of leading brands and agencies 
                br
                | across 20+ countries use Unmetric to compete and win.
            
            .logo-list-wrap
                ul.logo-list
                    li.logo-list-item.logo-list-item--gm.logo-list-c
                        span GM

                    li.logo-list-item.logo-list-item--ls.logo-list-c
                        span Lower's

                    li.logo-list-item.logo-list-item--ah.logo-list-c
                        span Aa

                    li.logo-list-item.logo-list-item--lo.logo-list-c
                        span Loreal

                    li.logo-list-item.logo-list-item--un.logo-list-c
                        span Unilever

                    li.logo-list-item.logo-list-item--og.logo-list-c
                        span Og

                    li.logo-list-item.logo-list-item--hm.logo-list-c
                        span H.M                    
                       
                
        
        include includes/_footer.jade                    
        include includes/_foot.jade
