doctype html
html
    include includes/_head.jade
    
    body.hm--mod.page__home--alt
        // HEADER
        header.header
            a.logo(href="#") 
                img.logo-image(src="assets/i/unmetric-logo-white.png" alt="Unmetric logo")
            


            a.menu-link(href="#")
                span.menu-icon
            
            
            form#search(action="#" method="post")
                #label
                    
                    label#search-label(for="search-terms") search
                    
                #input 
                    input(type="text" name="search-terms" id="search-terms" placeholder="Search...")
                
            nav.nav-main.0is-hidden
                ul.nav-main-wrap
                    
                    li 
                        a.more.nav-main--link(href="#") Products
                            i.icon-arrow-dropdown
                        

                        ul.nav-main-dd
                            li 
                                a.nav-main--link(href="javascript:void(0)") 
                                    span.menu-analyze Analyze
                                        i.icon-arrow-right.arrow-right
                                    br
                                    span.nav-main--desc Analytics for social media analysts
                                
                            li 
                                a.nav-main--link(href="javascript:void(0)") 
                                    span.menu-track Track
                                        i.icon-arrow-right.arrow-right
                                    br
                                    span.nav-main--desc Keep an eye on your competition
                                
                            li 
                                a.nav-main--link(href="javascript:void(0)") 
                                    span.menu-discover Discover
                                        i.icon-arrow-right.arrow-right
                                    br
                                    span.nav-main--desc Find inspiration to create content

                    
                    li: a.nav-main--link(href="javascript:void(0)") About
                    
                    li: a.nav-main--link(href="javascript:void(0)") Contact
                    
                    li: a.nav-main--link(href="javascript:void(0)") Login
                    
                    li: a.nav-main--link(href="javascript:void(0)") 
                        button.btn.btn-secondary.t-weight--m SIGN UP
                    
        
    
                
        section.hero.row.u--center.u-pad--hero.is-tall.0is-hidden
            .content.t-center
                h1.hero-title Out-Market Your Competition 
                
                .col-4
                    p.t-white.hero-copy.t-weight--book Thousands of real-time Marketers at hundreds of leading brands and agencies across 20+ countries use Unmetric to compete and win.
                
                
                .t-center.0is-hidden
                    p.hero-meet--intro
                        
                        img.arrow-product--left(src="assets/i/left-arrow.svg" alt="#") 
                        
                        span.hero-intro.t-weight--m Say hello to our products for 
                        
                        img.arrow-product--right(src="assets/i/right-arrow.svg" alt="#") 
                        
                        
                
                .grid.grid--gutter.hero-list
                    .hero-list--item
                        a.box-link.hero-list--link
                            
                            h3.hero-list--heading Analyze
                            p.t-white In depth analysis of your competition&rsquo;s content and campaigns
                            
                            span.btn.btn-small.btn-primary.t-weight--m Learn How
                                i.icon-arrow-right
                            
                            
                           
                    .hero-list--item
                        a.box-link.hero-list--link   
                            
                            h3.hero-list--heading Track
                            p.t-white Feel the pulse of your competitors&rsquo; brand marketing in real time
                            
                            span.btn.btn-small.btn-primary.t-weight--m Learn How
                                i.icon-arrow-right
                                
                    
                    .hero-list--item
                        a.box-link.hero-list--link   
                            
                            h3.hero-list--heading Discover
                            p.t-white Find new ideas and inspiration to create engaging content
                            
                            span.btn.btn-primary.t-weight--m.btn-small Learn How
                                i.icon-arrow-right
                    
        .row.group.logos
            .logo-list-wrap
                ul.logo-list
                    li.logo-list-item.logo-list-item--gm.logo-list-c
                        span GM

                    li.logo-list-item.logo-list-item--ls.logo-list-c
                        span Lower's

                    li.logo-list-item.logo-list-item--ah.logo-list-c
                        span Aa

                    li.logo-list-item.logo-list-item--lo.logo-list-c
                        span Loreal

                    li.logo-list-item.logo-list-item--un.logo-list-c
                        span Unilever

                    li.logo-list-item.logo-list-item--og.logo-list-c
                        span Og

                    li.logo-list-item.logo-list-item--hm.logo-list-c
                        span H.M                    
                       
                
        
        include includes/_footer.jade                    
        include includes/_foot.jade
