doctype html
html
    include includes/_head.jade
    
    body.hm--mod.page__home--alt.page__home--alt-new
        // HEADER
        header.header
            a.logo(href="#") 
                img.logo-image(src="assets/i/unmetric-logo-white.png" alt="Unmetric logo")
            
            
            a.menu-link.is-hidden(href="#")
                span.menu-icon
                
            
            nav.nav-main.0is-hidden
                ul.nav-main-wrap
                    .is-hidden
                        li 
                            a.more.nav-main--link(href="#") Products
                                i.icon-arrow-dropdown
                            

                            ul.nav-main-dd
                                li 
                                    a.nav-main--link(href="javascript:void(0)") 
                                        span.menu-analyze Analyze
                                            i.icon-arrow-right.arrow-right
                                        br
                                        span.nav-main--desc Analytics for social media analysts
                                    
                                li 
                                    a.nav-main--link(href="javascript:void(0)") 
                                        span.menu-track Track
                                            i.icon-arrow-right.arrow-right
                                        br
                                        span.nav-main--desc Keep an eye on your competition
                                    
                                li 
                                    a.nav-main--link(href="javascript:void(0)") 
                                        span.menu-discover Discover
                                            i.icon-arrow-right.arrow-right
                                        br
                                        span.nav-main--desc Find inspiration to create content

                        
                        li: a.nav-main--link(href="javascript:void(0)") About
                        
                        li: a.nav-main--link(href="javascript:void(0)") Contact
                        
                        li: a.nav-main--link(href="javascript:void(0)") Login
                    
                    li: a.nav-main--link(href="javascript:void(0)") 
                        .btn.btn-secondary.t-weight--m SIGN IN
                    
        
    
                
        section.hero.row.u--center.u-pad--hero.is-tall.0is-hidden
            .content.t-center
                
                h1.hero-title Out-Market Your Competition 
                
                .col-4
                    p.hero-op.hero-copy.t-weight--book Thousands of real-time marketers at hundreds of leading brands and agencies across 20+ countries use Unmetric to compete and win.
                
                
                .logos-nw
                    .logo-list-wrap
                        ul.logo-list
                            li.logo-list-item.logo-list-item--gm.logo-list-d
                                span GM

                            li.logo-list-item.logo-list-item--ls.logo-list-d
                                span Lower's

                            li.logo-list-item.logo-list-item--ah.logo-list-d
                                span Aa

                            li.logo-list-item.logo-list-item--lo.logo-list-d
                                span Loreal

                            li.logo-list-item.logo-list-item--un.logo-list-d
                                span Unilever

                            li.logo-list-item.logo-list-item--og.logo-list-d
                                span Og

                            li.logo-list-item.logo-list-item--hm.logo-list-d
                                span H.M 
                
                
                a(href="#start").t-center.0is-hidden
                    p.hero-meet--intro.intro.t-weight--m MEET OUR PRODUCTS
                    
                    .arrow-down
                        img(src="assets/i/dropdown-arrow.svg", alt="")
        
        
        section.row.has-padding#start
            .content.t-center
            
                .box-feature-wrap     
                    .box.box-feature
                        a.box-link
                            h3
                                span.analyze-feat Analyze
                            
                            h4.box-heading Quickly Create Better Social Media Reports
                              
                            p.box-copy Analyze can help you create your next social media report in less than 60 seconds, indentify all your competitors’s promoted content and evaluate your campaigns across social networks.
                            
                            button.btn.btn-analyze Learn how
                                i.icon-arrow-right.arrow-right
                                  
                        img.box-image.box-screenshot(src="assets/i/product-shots/ana-sshot-campaigns-min.png")                      
    
        
        
        section.row.has-padding
            .content.t-center        
                .box-feature-wrap.box-feature-wrap--alt  
                    .box.box-feature
                        a.box-link
                            h3
                                span.track-feat Track
                            
                            h4.box-heading Easily Stay on Top of Your Competition
                            
                            p.box-copy Track is a free and the easiet way to stay on top of the tsunami of content being published by your competitors across media, bookmark and share it with your collegues.
                            
                            button.btn.btn-track Learn how
                                i.icon-arrow-right.arrow-right
                                
                        img.box-image.box-screenshot.track-screen-shoot(src="assets/i/product-shots/track_cc-sshot-home-min.png")        
                            
        
        
        
        section.row.has-padding
            .content.t-center
            
                .box-feature-wrap     
                    .box.box-feature
                        a.box-link
                            h3
                                span.discover-feat Discover
                            
                            h4.box-heading Inspire your Creativity to Create Engaging Content
                            
                              
                            p.box-copy Discover, the only brand content ideation engine, is what you need when your inspiration well has run dry or you need to publish some engaging content on short notice.
                            
                            button.btn.btn-ds Learn how
                                i.icon-arrow-right.arrow-right
                                  
                        img.box-image.box-screenshot(src="assets/i/product-shots/discover_screen-short.png")

              
        
        include includes/_footer.jade                    
        include includes/_foot.jade
