doctype html
html
    include includes/_head.jade
    
    body.theme--basic
        .header-rm
            // HEADER
            header.header
                
                a.logo(href="posts.html") 
                    img.logo-image(src="assets/i/unmetric-logo-white.png" alt="Unmetric logo")
                


                a.menu-link(href="#")
                    span.menu-icon
                


                nav.nav-main.0is-hidden
                    ul.nav-main-wrap
                        li 
                            a.more.nav-main--link(href="#") All Posts
                                i.icon-arrow-dropdown
                            
                            ul.nav-main-dd
                                li: a.nav-main--link.is-active(href="posts.hmtl") 5 ways Chipotle creates an awesome social media strategy
                            
                                    
                                li 
                                    a.nav-main--link(href="post5.html") Unmetric is now integrated with Oracle Social Cloud
                                        
                                    
                                li 
                                    a.nav-main--link(href="post2.html") Top Home Appliance Brands On Social Media Q4 2015


                                li: a.nav-main--link.is-active(href="post6.html") 367% Increase in Super Bowl Content By Brands Since 2012
                            
                                    
                                li 
                                    a.nav-main--link(href="post4.html") Analyzing top APAC and MEA Aviation brands on social media: Key Learnings

                        li
                            a.nav-main--link
                                .btn.btn-secondary.t-weight--m(href="#") Subscribe    

               
        section.hero.row.u-pad--top-less
            .content
                .grid.grid--center
                    .grid-cell.col-4.t-center
                        
                        .img-theme(style="background-image: linear-gradient(#5856D8,#3ADFFA,#E1FAFE), url(assets/i/media-Q4.png);opacity: 0.5;")

                        h1.article-title Top Home Appliance brands on social media Q4 2015

                        p.t-center Feb 19, 2016 

        


        section.row
            .content
                .grid.grid--center.main
                    .grid-cell.col-6

                        .box
                            p As non-sexy as it seems, the home appliance industry is a multi-billion dollar industry that cannot be ignored. Not only do thousands of brands compete to make it into your home, we at Unmetric tracked over 1,250 social profiles that are trying to get their content on to your newsfeed.<br><br>In this report, we looked at the performance of top home appliance brands like Cuisinart, Crockpot Slow Cooker, Nespresso and others on Facebook. We found that Electrolux was able to engage their community the best even though Samsung received the most Likes. However, Cuisinart was the one to recieve maximum love from their community since they got the highest amount of positive sentintment - 65%.

                            
                        .box

                            <iframe src="//www.slideshare.net/slideshow/embed_code/key/JKnAiosvs5bD31" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px">  <a href="//www.slideshare.net/unmetric/top-home-appliance-brands-on-social-media-q4-2015" title="Top Home Appliance Brands On Social Media Q4 2015" target="_blank"></a></div>



                        p Now that we know which brands perform the best in the industry, we took a deeper dive to see what they're doing across social networks.



                        br 



                        h2 Samsung



                        p In the last quarter, Samsung added 35,000 new fans, published 55 Facebook posts, ran a highly engaging #HowWeHoliday campaign and a lot more. Their  consistency makes their strategy a winner. Here is a detailed report of their performance on Facebook and Twitter.
                        


                        .box
                            <iframe src="//www.slideshare.net/slideshow/embed_code/key/mU7P9dJBmxrvH" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px">  <a href="//www.slideshare.net/unmetric/samsung-home-appliances-social-media-report-for-q4-2015" title="Samsung Home Appliances Social Media Report For Q4 2015" target="_blank"></a> </div>



                        h2 Electrolux



                        p  With an amazing response rate of 54% and innovative content, Electrolux was able to engage their fans well above the industry average. This report is a summary of their performance on Facebook and Twitter.



                        .box
                            <iframe src="//www.slideshare.net/slideshow/embed_code/key/ClrxoIR7rZ4SxO" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px">  <a href="//www.slideshare.net/unmetric/electrolux-social-media-report-for-q4-2015" title="Electrolux Social Media Report For Q4 2015" target="_blank"></a> </div>

                        p To get reports like this delivered to your inbox, subscribe to our blog and we'll send you a round up once a week (don’t worry, we hate spam too). 

                        
                        .box
                            .control-wrap
                                .inline-form.t-center
                                
                                    input(type="text" placeholder="Email address" id="input-text")
                                
                                    input.btn.btn-primary(type="submit" value="subscribe")  



                            p If you would like to start a trial of Unmetric Analyze, the tool we used to create these reports in a matter of minutes, get started by filling the form below.  

                        

                        .box.u-pad--less.is-hidden
                            form

                                h3.t-center Start your free 3 day trial now

                                p.t-center Immediately discover the best performing content in your industry and benchmark it against your own efforts.

                                .control-wrap
                                
                                    input(type="text" id="input-text" placeholder="Name")
                                    
                                    input(type="text" id="input-text" placeholder="Email")
                                    
                                    br
                                    
                                    input(type="text" id="input-text" placeholder="Company")   
                                    
                                    i.icon-select.icon-arrow-dropdown
                            
                                    select
                                        option(selected disabled) Select your Industry
                                        option AGENCY (managing social media for clients)
                                        option Aviation 
                                        option Banking &amp; Finance
                                        option Beverages - Alcohol
                                        option Consumer Electronics 
                                        option Diversified
                                        option Education
                                        option Entertainment 
                                        option Food/Beverage
                                        option Home Appliances 
                                        option Home Care
                                        option Hospitality
                                        option Insurance 
                                        option Luxury
                                        option Media - Audio/Visual
                                        option Media - Online
                                        option Media - Print
                                        option Mobiles & Handhelds
                                        option Non Profits
                                        option Non-Retail Ecommerce
                                        option Personal Care
                                        option Pet Care
                                        option Pharma & Health
                                        option Professional Services
                                        option Publishing
                                        option Restaurant & Cafe
                                        option Retail
                                        option Retail Chains
                                        option Sports
                                        option Technology
                                        option Telecom & Digital Services
                                        option Television
                                        option Travel & Tourism

                                    select
                                        option(selected disabled) Select a sector you’d be interested in
                                        option Automotive
                                        option Aviation 
                                        option Banking & Finance
                                        option Beverages - Alcohol
                                        option Consumer Electronics 
                                        option Diversified
                                        option Education
                                        option Entertainment 
                                        option Food/Beverage
                                        option Home Appliances 
                                        option Home Care
                                        option Hospitality
                                        option Insurance 
                                        option Luxury
                                        option Media - Audio/Visual
                                        option Media - Online
                                        option Media - Print
                                        option Mobiles & Handhelds
                                        option Non Profits
                                        option Non-Retail Ecommerce
                                        option Personal Care
                                        option Pet Care
                                        option Pharma & Health
                                        option Professional Services
                                        option Publishing
                                        option Restaurant & Cafe
                                        option Retail
                                        option Retail Chains
                                        option Sports
                                        option Technology
                                        option Telecom & Digital Services
                                        option Television
                                        option Travel & Tourism

                                    
                                    select
                                        option(selected disabled) Select your Geography
                                        option North America
                                        option Europe 
                                        option Australia
                                        option Africa
                                        option Asia 
                                        option South America
                                    
                                

                                .control-wrap

                                    button.btn.btn-primary(type="submit") Start My Trail Now 

                                    p No credit card required, no obligations, just a free trial of our Facebook analytics platform - and you get access to Twitter, Instagram, YouTube, Pinterest and LinkedIn analytics as well. 

                                img.box-image(src="assets/i/client-sprite.png", alt="")

                        
                        

                        
                        .u-pad--less-top.t-center

                            hr.mg-hr

           
                            img.box-image.box-avatar(src="assets/i/ranjani-raghupathi.jpg", alt="Ranjani") 
                       
                            h3 Posted by
                           
                            a(href="ranjani.html") Ranjani Raghupathi
                           
                            p.light A writer, a dreamer and a foodie all rolled in to one, Ranjani enjoys her not-so-secret affair with marketing and social media metrics. She plays cupid with words and marries them so they can live happily ever after as beautiful sentences. You can find her at any restaurant serving great food or at a book store sneaking a peak at the latest arrivals.
 
        
        //Subscribe
        include includes/_subscribe.jade 
        
                   
        // FOOTER SECTION                    
        include includes/_footer.jade 


        include includes/_foot.jade                                               