doctype html
html
    include includes/_head.jade
    
    body.theme--basic
        .header-rm
            // HEADER
            header.header
                
                a.logo(href="posts.html") 
                    img.logo-image(src="assets/i/unmetric-logo-white.png" alt="Unmetric logo")
                


                a.menu-link(href="#")
                    span.menu-icon
                


                nav.nav-main.0is-hidden
                    ul.nav-main-wrap
                        li 
                            a.more.nav-main--link(href="#") All Posts
                                i.icon-arrow-dropdown
                            
                            ul.nav-main-dd
                                li: a.nav-main--link.is-active(href="posts.hmtl") 5 ways Chipotle creates an awesome social media strategy
                            
                                    
                                li 
                                    a.nav-main--link(href="post5.html") Unmetric is now integrated with Oracle Social Cloud
                                        
                                    
                                li 
                                    a.nav-main--link(href="post2.html") Top Home Appliance Brands On Social Media Q4 2015


                                li: a.nav-main--link.is-active(href="post6.html") 367% Increase in Super Bowl Content By Brands Since 2012
                            
                                    
                                li 
                                    a.nav-main--link(href="post4.html") Analyzing top APAC and MEA Aviation brands on social media: Key Learnings

                        li
                            a.nav-main--link
                                .btn.btn-secondary.t-weight--m(href="#") Subscribe    

               
        section.hero.row.u-pad--top-less
            .content
                .grid.grid--center
                    .grid-cell.col-4.t-center
                        
                        .img-theme(style="background-image: linear-gradient(#5856D8,#3ADFFA,#E1FAFE), url(assets/i/aviations.png);opacity: 0.5;")

                        h1.article-title Analyzing top APAC and MEA Aviation brands on social media: Key Learnings

                        p.t-center Mar 4, 2016 

        


        section.row
            .content
                .grid.grid--center.main
                    .grid-cell.col-6

                        p Do you follow an aviation brand on social? Whether it's to receive information about your flight, address customer support or to be notified about offers, following a brand on social media seems the easiest way to get updates.


                        p So how are top brands in the APAC and MEA region engaging with their audience? We've analyzed the strategies of top brands in the region to find out.


                        p We've chosen the following list of brands by first checking to see which the best airline brands are, which we found 
                            a.blog-link(href="http://www.worldairlineawards.com/Awards/best_airlines_by_world_region.html" target="_black") here
                            |. We then cherry picked 10 based on fanbase size, to get an idea of the varied strategies across the region. For this report, we analyzed:

                        
                        
                        ol.decimal

                            li Qatar Airways 
                            li Emirates
                            li Etihad Airways
                            li Singapore Airlines
                            li Cathay Pacific
                            li ANA All Nippon Airways
                            li Garuda Indonesia
                            li Jet Airways
                            li AirAsia
                            li Malaysia Airlines

                        
                        
                        h2 
                            strong Twitter

                        p Customer Service finds a natural home in the 140 character space, and this is true for the aviation industry as well. Airlines across the world have been forced to adapt quickly to this forum as, unlike in traditional customer service, conversations and grievances can be aired publicly and around the clock. Benchmarking a brand's Average Reply Time, or ART, against best performers can not only set goals for your team but gives an idea of what customers will expect as well.

                        

                        p 
                            img(src="assets/i/ART.png", alt="ART")      

                        
                        p From the image above we see that @IndonesiaGaruda replies the fastest while @MAS  (Malaysia Airlines) takes the longest to reply. Garuda Indonesia also had the best reply rate - the percentage of mentions that the brand replied to, with Replies comprising 95% of their Tweets . This dedication to customer service on Twitter is already seeing returns as the brand added the highest number of new Followers last month, gaining more than 85K Followers in the last month alone!

                        

                        h2 
                            strong Facebook

                        p While Twitter is the customer service hub of an airline's social media presence, Facebook is a great place to share content or information that cannot be contained in 140 characters. The clear winner among these brands in sheer fanbase alone is Qatar Airways. Typically, brands with more Fans tend to have lower Growth Rates but Qatar Airways has clearly bucked the trend - enjoying the highest growth rate in January while commanding the largest fanbase as well. 

                        

                        p
                            img(src="assets/i/fanbase.png", alt="fanbase") 

                        p So how did Qatar Airways grow their fanbase at such a high rate, while consistently engaging well with its Fans, even receiving the highest number of Likes in January?

                        
                        p When we dove deeper into their content, it became obvious that the airline was actively encouraging interaction with an engagement oriented strategy. In January, Qatar Airways held a Travel Festival where Fans could enjoy discounted rates for a limited period, and this drove their considerable number of Fans to pay attention and interact. 

                        
                        p Building this kind of loyalty on social is essential for a brand as a study found that 
                            a.blog-link(href="https://www.marketingtechblog.com/social-media-infographic/" target="_blank") 46% of shoppers rely on social media when making purchase decisions. 
                            |Now that's a number that any brand should be capitalizing on.             
                        

                        h2 
                            strong Instagram

                        
                        p Of the 10 brands analyzed, 8 have a strong Instagram presence and strategy in place. The Follower growth rate across the board only had a 10 percent difference - a strong indicator of consumer trends as well.


                        p 
                            img(src="assets/i/instagram.png", alt="Instagram")    

                        
                        p This steady growth in Followers also begs the question - why are users flocking to these Instagram accounts? And how are brands capitalizing on this?


                        p The surest way to convert a Follower to a customer is by increasing brand recall and staying on top of your potential customer's mind. With Instagram's ever increasing popularity - especially with tourists and people who travel frequently, brands should be posting consistently.     
                                

                        p Emirates is a great example of this - posting 37 pieces of content in January. By producing fresh and original content on a regular basis they were able to add a whopping 88 thousand new Followers in one month alone. Publishing a steady stream of content also ensured they were one of the best engaging brands in the region, with a higher Engagement Score than the sector average.

                        p Instagram has a certain aesthetic that Emirates seems to understand very well. Leveraging their reputation as the largest airline in the Middle East, some of their most engaging content featured Dubai as the star.

                        .box
                            <iframe class="instagram-media instagram-media-rendered" id="instagram-embed-0" src="https://www.instagram.com/p/BACDiwZK0UP/embed/captioned/?v=6" allowtransparency="true" frameborder="0" height="847" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no" style="border: 0px; margin: 1px; max-width: 658px; width: calc(100% - 2px); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px, rgba(0, 0, 0, 0.14902) 0px 1px 10px 0px; display: block; padding: 0px; background: rgb(255, 255, 255);"></iframe>

                        p Apart from this, they also heavily rely on branded, yet stunning imagery to bring their brand to life - a strategy also practiced by Singapore Airlines, Etihad Airlines and other top brands in the industry. 

                        
                        p Social media was touted as the biggest disruption in marketing, and rightly so. As the learnings from the brands highlighted above, there are definite benefits to investing resources in a robust social media presence. 

                        .box.u-pad--less.is-hidden
                            form

                                h3.t-center Start your free 3 day trial now

                                p.t-center Immediately discover the best performing content in your industry and benchmark it against your own efforts.

                                .control-wrap
                                
                                    input(type="text" id="input-text" placeholder="Name")
                                    
                                    input(type="text" id="input-text" placeholder="Email")
                                    
                                    br
                                    
                                    input(type="text" id="input-text" placeholder="Company")   
                                    
                                    i.icon-select.icon-arrow-dropdown
                            
                                    select
                                        option(selected disabled) Select your Industry
                                        option AGENCY (managing social media for clients)
                                        option Aviation 
                                        option Banking &amp; Finance
                                        option Beverages - Alcohol
                                        option Consumer Electronics 
                                        option Diversified
                                        option Education
                                        option Entertainment 
                                        option Food/Beverage
                                        option Home Appliances 
                                        option Home Care
                                        option Hospitality
                                        option Insurance 
                                        option Luxury
                                        option Media - Audio/Visual
                                        option Media - Online
                                        option Media - Print
                                        option Mobiles & Handhelds
                                        option Non Profits
                                        option Non-Retail Ecommerce
                                        option Personal Care
                                        option Pet Care
                                        option Pharma & Health
                                        option Professional Services
                                        option Publishing
                                        option Restaurant & Cafe
                                        option Retail
                                        option Retail Chains
                                        option Sports
                                        option Technology
                                        option Telecom & Digital Services
                                        option Television
                                        option Travel & Tourism

                                    i.icon-select.icon-arrow-dropdown    

                                    select
                                        option(selected disabled) Select a sector you’d be interested in
                                        option Automotive
                                        option Aviation 
                                        option Banking & Finance
                                        option Beverages - Alcohol
                                        option Consumer Electronics 
                                        option Diversified
                                        option Education
                                        option Entertainment 
                                        option Food/Beverage
                                        option Home Appliances 
                                        option Home Care
                                        option Hospitality
                                        option Insurance 
                                        option Luxury
                                        option Media - Audio/Visual
                                        option Media - Online
                                        option Media - Print
                                        option Mobiles & Handhelds
                                        option Non Profits
                                        option Non-Retail Ecommerce
                                        option Personal Care
                                        option Pet Care
                                        option Pharma & Health
                                        option Professional Services
                                        option Publishing
                                        option Restaurant & Cafe
                                        option Retail
                                        option Retail Chains
                                        option Sports
                                        option Technology
                                        option Telecom & Digital Services
                                        option Television
                                        option Travel & Tourism

                                    
                                    i.icon-select.icon-arrow-dropdown
                                    
                                    select
                                        option(selected disabled) Select your Geography
                                        option North America
                                        option Europe 
                                        option Australia
                                        option Africa
                                        option Asia 
                                        option South America
                                    
                                .control-wrap

                                    button.btn.btn-primary(type="submit") Start My Trail Now 

                                    p No credit card required, no obligations, just a free trial of our Facebook analytics platform - and you get access to Twitter, Instagram, YouTube, Pinterest and LinkedIn analytics as well. 

                                img.box-image(src="assets/i/client-sprite.png", alt="")

                        
                        
                        .u-pad--less-top.t-center
                        
                            hr.mg-hr

                            
                            img.box-image.box-avatar(src="assets/i/avatars/aishwarya-krishnamurthy.png", alt="Aishwarya krishnamurthy.png") 
                       
                            h3 Posted by
                           
                            a(href="#") Aishwarya Krishnamurthy 

                           
                            p When she's not at the Unmetric office, knee deep in social media metrics and being a marketing ninja, you can find Aishwarya curled up in bed with a book and her basset hound - Tristan.

 
        
        //Subscribe
        include includes/_subscribe.jade   


        
        // FOOTER SECTION                    
        include includes/_footer.jade 


        include includes/_foot.jade                                               
                                       