doctype html
html
    include includes/_head.jade
    
    body.theme--basic
        .header-rm
            // HEADER
            header.header
                
                a.logo(href="posts.html") 
                    img.logo-image(src="assets/i/unmetric-logo-white.png" alt="Unmetric logo")
                

                a.blog-menu_link(href="#")
                    span.blog-menu_icon

                a.menu-link(href="#")
                    span.menu-icon
                


                nav.nav-main.is-hidden
                    ul.nav-main-wrap
                        li 
                            a.more.nav-main--link(href="#") Products 
                                i.icon-arrow-dropdown
                            
                            ul.nav-main-dd
                                li: a.nav-main--link.is-active(href="#") Analyze
                                        br
                                        span.nav-main--desc Compare and analyze your competitors
                                    
                                li 
                                    a.nav-main--link(href="#") Track
                                        br
                                        span.nav-main--desc Keep an eye on your competition
                                    
                                li 
                                    a.nav-main--link(href="#") Discover
                                        br
                                        span.nav-main--desc Find inspiration to create content
                        
                        li: a.nav-main--link(href="#") About
                        
                        li: a.nav-main--link(href="#") Contact
                        
                        li: a.nav-main--link.nav-main--link-signin(href="#") Sign In

               
        section.hero.row.u-pad--top-less
            .content
                .grid.grid--center
                    .grid-cell.col-4.t-center
                        
                        .img-theme(style="background-image: linear-gradient(#5856D8,#3ADFFA,#E1FAFE), url(assets/i/super-bowl.png);opacity: 0.5;")

                        h1.article-title Unmetric is now integrated with Oracle Social Cloud

                        p.t-center Feb 10, 2016

        


        section.row
            .content
                .grid.grid--center.main
                    .grid-cell.col-6

                        p.light
                            em A version of this article first appeared on 
                            a.blog-link(href="#") Social Times
                            em  on February 5th, 2016. This article includes data up to February 8th so the numbers have changed slightly.

                        br    
                        
                        
                        p Can there be any bigger linchpin of a brand’s marketing calendar than the Super Bowl? An event that is as much about the advertising as it is about the game. For Super Bowl 50, CBS is charging $5 million for a 30-second spot, up from $2.5 million 10 years ago.
                        

                        
                        p On social media, the uptick in brands creating Super Bowl content has been nothing short of incredible. This year, Unmetric tracked over 44,000 unique pieces of Super Bowl content published by brands before and during the Super Bowl. That's up from 30,000 pieces of content we tracked in 2015. On game day alone, brands published over 21,500 pieces of content.
                        
                       
                       
                        p Take a step back and think about that for a second. After what must be an exhausting six weeks of creating Super Bowl related content, content creators still needed enough inspiration within them to publish 21,500 more unique pieces of content on game day - more than they’ve published in the build up to the game!

                        
                        p Here’s how the total amount of content published on social media around the Super Bowl has changed over the years. Unsurprisingly, the week before game day sees a frantic amount of content being published.

                        
                        p 
                            img(src="assets/i/total-super-bowl-content-published-before-game-day.jpg", alt="#")

                        
                       
                        p What’s also interesting is how important the second and third weeks from game day have become. Brand’s are ramping up their Super Bowl campaigns earlier and earlier. In 2016, we’ve seen brands taking the Super Bowl even more seriously with more content being published as far out as five weeks before the big game.

                        
                        p As mentioned above, on game day, more content is published on social media about the Super Bowl than in the weeks leading up to the game. The biggest winner of the content explosion has been Twitter, suggesting that any reports of the 
                            a.blog-link(href="#") demise
                            |  of the social network are greatly exaggerated.  

                        
                        
                        p Since 2012, Twitter has seen an 862% increase in the amount of Super Bowl content being published by brands on game day. In 2016, brands sent a staggering 17,000 tweets on the day of the Super Bowl, a 45% increase on the year before.          

                       
                       
                        p
                            img(src="assets/i/super-bowl-content-published-on-game-day-by-social-network.jpg", alt="#")
                       
                       
                        p Facebook and Instagram have all seen steady increases over the last four years. Super Bowl related brand content on Instagram during game day has increased by 439% while on Facebook it has grown by 190%.


                        p Overall, we’ve seen an 862% increase in Super Bowl brand content being published on game day compared to 2012. Last year, brands posted 35% more content on game day than they did in 2015.


                        p
                            img(src="assets/i/super-bowl-content-published-on-game-day-by-year.jpg", alt="#")

                        
                        p Although the chart above tells us that the amount of content brands publish around the Super Bowl on game day, in the lead up to the big day, the amount of content brands published actually dipped in 2015.

                        

                        p
                            img(src="assets/i/super-bowl-content-published-before-game-day-by-year.jpg", alt="#") 


                        p This dip was most pronounced on Facebook where there were 375 less posts published about the Super Bowl in the seven weeks before the game. In 2016, brands published 55% more content in the run up to the Super Bowl over 2015.


                        p
                            img(src="assets/i/super-bowl-facebook-content-published-before-game-day.jpg", alt="#") 


                        p On Twitter, brands are doing the opposite of what they are doing on Facebook. Here, brands are publishing more content than ever before. If the last few weeks have been anything to go by, brands are about to break all the records for amount of content published around the Super Bowl this year.

                       
                        p
                            img(src="assets/i/super-bowl-twitter-content-published-before-game-day.jpg", alt="#")       
                        

                        p On Instagram, the volume of content that was published around the Super Bowl in the lead up to game day hasn’t changed too drastically. As with Facebook, 2014 saw slightly more content being published on Instagram compared to 2015. Ultimately 2016 saw the most amount of Super Bowl content being created on Instagram, show casing the importance marketers place on the youngest of social networks.

                        p 
                            img(src="assets/i/super-bowl-instagram-content-published-before-game-day-1.jpg", alt="#")

                        p This year we saw more brands than ever publishing their Super Bowl videos two weeks before the game. In the week before the Super Bowl there was a significant decline in the number of Super Bowl related videos being published.
                        

                        p 
                            img(src="assets/i/super-bowl-youtube-content-published-before-game-day-1.jpg", alt="#")


                       
                        p It’s clear that brands are tweaking their content publishing strategies when it comes to the Super Bowl. In 2014, brands focused on creating more content in the build up to the big day, but that strategy changed in 2015. Brands published less content in the run up to the Super Bowl but took to Twitter in the hundreds on game day to publish more Super Bowl content on one day than they had in the prior seven weeks.


                        h2  Methodology


                        p This report was put together using the content published by over 40,000 brands and captured by Unmetric. Content that included mentions of the Super Bowl or common words associated with the Super Bowl like SB49 or Big Game were used to compile the data on publishing volumes.
                        
                       
                        .box.u-pad--less.is-hidden
                            form

                                h3.t-center Start your free 3 day trial now

                                p.t-center Immediately discover the best performing content in your industry and benchmark it against your own efforts.

                                .control-wrap
                                
                                    input(type="text" id="input-text" placeholder="Name")
                                    
                                    input(type="text" id="input-text" placeholder="Email")
                                    
                                    br
                                    
                                    input(type="text" id="input-text" placeholder="Company")   
                                    
                                    i.icon-select.icon-arrow-dropdown
                            
                                    select
                                        option(selected disabled) Select your Industry
                                        option AGENCY (managing social media for clients)
                                        option Aviation 
                                        option Banking &amp; Finance
                                        option Beverages - Alcohol
                                        option Consumer Electronics 
                                        option Diversified
                                        option Education
                                        option Entertainment 
                                        option Food/Beverage
                                        option Home Appliances 
                                        option Home Care
                                        option Hospitality
                                        option Insurance 
                                        option Luxury
                                        option Media - Audio/Visual
                                        option Media - Online
                                        option Media - Print
                                        option Mobiles & Handhelds
                                        option Non Profits
                                        option Non-Retail Ecommerce
                                        option Personal Care
                                        option Pet Care
                                        option Pharma & Health
                                        option Professional Services
                                        option Publishing
                                        option Restaurant & Cafe
                                        option Retail
                                        option Retail Chains
                                        option Sports
                                        option Technology
                                        option Telecom & Digital Services
                                        option Television
                                        option Travel & Tourism

                                    select
                                        option(selected disabled) Select a sector you’d be interested in
                                        option Automotive
                                        option Aviation 
                                        option Banking & Finance
                                        option Beverages - Alcohol
                                        option Consumer Electronics 
                                        option Diversified
                                        option Education
                                        option Entertainment 
                                        option Food/Beverage
                                        option Home Appliances 
                                        option Home Care
                                        option Hospitality
                                        option Insurance 
                                        option Luxury
                                        option Media - Audio/Visual
                                        option Media - Online
                                        option Media - Print
                                        option Mobiles & Handhelds
                                        option Non Profits
                                        option Non-Retail Ecommerce
                                        option Personal Care
                                        option Pet Care
                                        option Pharma & Health
                                        option Professional Services
                                        option Publishing
                                        option Restaurant & Cafe
                                        option Retail
                                        option Retail Chains
                                        option Sports
                                        option Technology
                                        option Telecom & Digital Services
                                        option Television
                                        option Travel & Tourism

                                    
                                    select
                                        option(selected disabled) Select your Geography
                                        option North America
                                        option Europe 
                                        option Australia
                                        option Africa
                                        option Asia 
                                        option South America
                                    
                                .control-wrap

                                    button.btn.btn-primary(type="submit") Start My Trail Now 

                                    p No credit card required, no obligations, just a free trial of our Facebook analytics platform - and you get access to Twitter, Instagram, YouTube, Pinterest and LinkedIn analytics as well. 

                                img.box-image(src="assets/i/client-sprite.png", alt="")

                        


                        .box.t-center

                        
                            hr.mg-hr

                            
                            img.box-image.box-avatar(src="assets/i/avatars/peter.png", alt="Peter") 
                       
                            h3 Posted by
                           
                            p.light Peter is an avid writer and blogger, gets excited by social media metrics and dreams that one day he will play for Manchester United.

                            p Follow him on twitter: 
                                a(href="#") Peter Claridge 


        
        

        section.row.subscribe.u-pad--less-top
            .content
                .bg-graident.col-5.pad-sub

                    .grid.grid--gutter
                        
                            .grid-cell

                                p.t-white Get interviews from your peers and industry experts, advice on social analytics and analyst debriefs of thought leaders delivered directly to your inbox.

                            .grid-cell.size1of3
                                .control-wrap
                                        .parallal-input.t-center
                                        
                                            input(type="text" placeholder="Email Address")
                                        
                                            button.btn.w-btn Subscribe to Email updates   




        section.row.u-pad-bottom
            .content
                .grid.grid--center.main
                    .grid-cell.col-5

                        .t-center
                           
                            p You might also like it.

                        
                        hr 

                        .article_link
                            a(href="#")

                                h2.post__link The 16 most engaging Mother’s Day Facebook posts
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/motherday.png", alt="Mother's Day")

                                
                                p.article-date.smaller.light Feb 10,2016


                        
                        hr 

                        .article_link
                            a(href="post2.html")

                                h2.post__link Top Home Appliance brands on social media Q4 2015
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/media-Q4.png", alt="Media Q4")

                                
                                p.article-date.smaller.light Feb 10,2016


                        hr 

                        .article_link
                            a(href="post4.html")

                                h2.post__link Analyzing top APAC and MEA Aviation brands on social media: Key Learnings
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/aviations.png", alt="Aviations")

                                
                                p.article-date.smaller.light Feb 10, 2016 




        
        // FOOTER SECTION                    
        footer.row.has-padding
            .content
               

                ul.nav-footer.grid.grid--gutters
                   
                    li.grid-cell.size1of3
                   

                        h4 Products
                        
                        ul.nav-footer--list
                            li: a.nav-footer--link(href="#") Analyze &mdash; for Social Media Analysts
                            
                            li: a.nav-footer--link(href="#") Track &mdash; for Marketers
                            
                            li: a.nav-footer--link(href="#") Discover &mdash; for Content Creators
                    
                    
                    
                    li.grid-cell
                        h4 About
                        
                        ul.nav-footer--list
                            li: a.nav-footer--link(href='#') Company
 
                            li: a.nav-footer--link(href='#') Customers
                            
                            li: a.nav-footer--link(href='#') Why Agencies love us
    
                            li: a.nav-footer--link(href='#') Our blog
                            
                            li: a.nav-footer--link(href='#') Press & News coverage
                            
                            li: a.nav-footer--link(href='#') Job openings
                    
                    
                    
                    li.grid-cell
                        h4 Resources
                        
                        ul.nav-footer--list
                            li: a.nav-footer--link(href="#") Articles
                            
                            li: a.nav-footer--link(href="#") Ebooks 
                            
                            li: a.nav-footer--link(href="#") Infographics 
                            
                            li: a.nav-footer--link(href="#") Interviews 
                            
                            li: a.nav-footer--link(href="#") Industry Reports 
                            
                            
                            
                    
                    li.gird-cell 
                        h4 Contact
                        
                        ul.nav-footer--list    
                            li: a.nav-footer--link(href='#') Get in touch 
                            
                            li: a.nav-footer--link(href='#') Twitter
                            
                            li: a.nav-footer--link(href='#') Facebook
                            
                            li: a.nav-footer--link(href='#') Pinterest
                            
                            li: a.nav-footer--link(href='#') LinkedIn
                            
                            li: a.nav-footer--link(href='#') SlideShare

                
                
                .grid.site-info-wrap
                    .grid-cell
                        p.site-info &copy; Unmetric 
                        
                        
                    .grid-cell    
                        p.victory &#9996;       
                        
                    .grid-cell
                        p.site-links
                            a(href="#") Privacy

        include includes/_foot.jade                                               
                            