doctype html
html
    include includes/_head.jade
    
    body.theme--basic
        .header-rm
            // HEADER
            header.header
                
                a.logo(href="posts.html") 
                    img.logo-image(src="assets/i/unmetric-logo-white.png" alt="Unmetric logo")
                


                a.menu-link(href="#")
                    span.menu-icon
                


                nav.nav-main.0is-hidden
                    ul.nav-main-wrap
                        li 
                            a.more.nav-main--link(href="#") All Posts
                                i.icon-arrow-dropdown
                            
                            ul.nav-main-dd
                                li: a.nav-main--link.is-active(href="posts.html") 5 ways Chipotle creates an awesome social media strategy
                            
                                    
                                li 
                                    a.nav-main--link(href="post3.html") Unmetric is now integrated with Oracle Social Cloud
                                        
                                    
                                li 
                                    a.nav-main--link(href="post1.html") Top Home Appliance Brands On Social Media Q4 2015


                                li: a.nav-main--link.is-active(href="post4.html") 367% Increase in Super Bowl Content By Brands Since 2012
                            
                                    
                                li 
                                    a.nav-main--link(href="post2.html") Analyzing top APAC and MEA Aviation brands on social media: Key Learnings

                        li
                            a.nav-main--link
                                .btn.btn-secondary.t-weight--m(href="#") Subscribe    

        

        //fixed nav
        include includes/_fixed-nav.jade      

               
        section.hero.row.u-pad--top-less
            .content
                .grid.grid--center
                    .grid-cell.col-4.t-center
                        
                        .img-theme(style="background-image: linear-gradient(#5856D8,#3ADFFA,#E1FAFE), url(assets/i/social-media-strategy.png); opacity: 0.5;")

                        h1.article-title 5 ways Chipotle creates an awesome social media strategy
                        
                        button.btn.col-btn.w-btn.t-weight--m Read on

        


        section.row.u-pad-less-top.article
            .content
                .grid.grid--center
                    .grid-cell.col-5
                        
                        hr 

                        .article_link
                            a(href="post3.html")

                                h2.post__link Unmetric is now integrated with Oracle Social Cloud
                                
                                
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/oracle-social-cloud.png", alt="Oracle Social Cloud")

                                
                                p.article-date.smaller.light Feb 10,2016


                        
                        hr 

                        .article_link
                            a(href="post2.html")

                                h2.post__link Top Home Appliance brands on social media Q4 2015
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/media-Q4.png", alt="Media Q4")

                                
                                p.article-date.smaller.light Feb 10,2016


                        hr 

                        .article_link
                            a(href="#")
                                
                                .u-pad-less
                                    h2.t-p--color.t-weight--m 16 brands with the most engaging Memorial Day Facebook posts

                                
                                p.article-date.smaller.light Feb 10, 2016               

        

        
        section.row.u-pad--less.download-link.media
            .content
                .grid.grid--center
                    .grid-cell.col-5
                        
                        .o-box.size4of12.media-link
                            a(href="#")
                            
                                .o-box__pad

                                    img(src="assets/i/A4-29-must-know.png", alt="A4-29-must-know")
                                
                                    .u-pad-too--less.t-center
                                    
                                        a(href="#").t-p--color.t-weight--m Download the Report 

                        
                        
                        .o-box.size4of12.bg-graident.competition.media-link
                            a(href="#")
                            
                                .o-box__pad
                                    .u-pad-m
                                        h2.t-weight--heavy.t-white Take your competition head on.
                                        
                                    .u-pad--t
                                        p.t-white Thousands of real-time marketers at hundreds of leading brands and agencies across 20+ countries use Unmetric to compete and win.

                                    
                                   
                                   
                                    button.btn.w-btn.t-weight--m Learn how
                                    
                                    



                        .o-box.size4of12.media-link
                            a(href="#")
                            
                                .o-box__pad

                                    img(src="assets/i/A4-19_things.png", alt="A4-19_things")
                                
                                    
                                    .u-pad-too--less.t-center    
                                        a(href="#").t-p--color.t-weight--m Download the Report 





        section.row.u-pad-less-top
            .content
                .grid.grid--center
                    .grid-cell.col-5
                        
                        hr 

                        .article_link
                            a(href="#")

                                h2.post__link 12 of the most engaging Father’s Day Facebook posts
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/facebook-post1.png", alt="#")

                                
                                p.article-date.smaller.light Feb 10,2016

                        
                        
                        hr

                        .article_link
                            a(href="#")

                                h2.post__link The 16 most engaging Mother’s Day Facebook posts
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/motherday.png", alt="Mother's Day")

                                
                                p.article-date.smaller.light Feb 10,2016


                        
                        hr 

                        .article_link
                            a(href="#")

                                h2.post__link Unmetric is one of the Top 10 social media blogs of 2016!
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/top10.png", alt="Top 10")

                                
                                p.article-date.smaller.light Feb 10, 2016      


                        
                       
                        hr 

                        .article_link
                            a(href="post4.html")

                                h2.post__link Analyzing top APAC and MEA Aviation brands on social media: Key Learnings
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/aviations.png", alt="Aviations")

                                
                                p.article-date.smaller.light Feb 10, 2016 



                        hr 

                        .article_link
                            a(href="#")

                                h2.post__link 367% increase in Super Bowl Content by brands since 2012
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/superbowl.png", alt="Super Bowl")

                                
                                p.article-date.smaller.light Feb 10, 2016 


                        hr 

                        .article_link
                            a(href="#")

                                h2.post__link Ringing in the year of the monkey
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/ringing-monkey.png", alt="Ringing Monkey")

                                
                                p.article-date.smaller.light Feb 10, 2016 
                                

                        hr 

                        .article_link
                            a(href="#")

                                h2.post__link 5 ways Chipotle creates an awesome social media strategy
                                
                                .article_link--image
                                
                                img.small-image(src="assets/i/social-media-strategy.png", alt="social media strategy")

                                
                                p.article-date.smaller.light Feb 10, 2016                                                                  
        

                        hr

                        

                        .blog-btn.u-pad--less-top
                            .grid.grid--gutter
                                
                           
                                .grid-cell.size1of4
                                    .push-left
                                        
                                        .col-btn
                                            button.btn.w-btn.btn-secondary.t-weight--m Older Posts


                                .grid-cell.size1of4
                                .grid-cell.size1of4
                                .grid-cell.size1of4
                                    .push-right
                                        .col-btn
                                            button.btn.w-btn.btn-secondary.t-weight--m Newer Posts
                                
                            


        //Subscribe
        include includes/_subscribe.jade        

        
        // FOOTER SECTION                    
        include includes/_footer.jade 


        include includes/_foot.jade                                                                           