doctype html
html
    include includes/_head.jade
    
    body.theme--basic
        // HEADER
        header.header
            
            a.logo(href="#") 
                img.logo-image(src="../assets/i/unmetric-logo-white.png" alt="Unmetric logo")
            
            a.menu-link(href="#")
                span.menu-icon
            
            nav.nav-main.is-hidden
                ul.nav-main-wrap
                    li 
                        a.nav-main--link(href="#") Products 
                            i.icon-arrow-dropdown
                        
                        ul.nav-main-dd
                            li: a.nav-main--link.is-active(href="#") Analyze
                                    br
                                    span.nav-main--desc Compare and analyze your competitors
                                
                            li 
                                a.nav-main--link(href="#") Track
                                    br
                                    span.nav-main--desc Keep an eye on your competition
                                
                            li 
                                a.nav-main--link(href="#") Discover
                                    br
                                    span.nav-main--desc Find inspiration to create content
                    
                    li: a.nav-main--link(href="#") About
                    
                    li: a.nav-main--link(href="#") Contact
                    
                    li: a.nav-main--link.nav-main--link-signin(href="#") Sign In
                     
    
    
        // GRID SECTION
        section.hero.row.has-border.has-padding
            .content.t-center
                h1.hero-title Billboard
                
                p.hero-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                
                
                
        // GRID SECTION
        section.row.has-border.has-padding
            .content.t-center
                h1 Grids		
                
                .grid.grid--gutter
                    .grid-cell
                        .demo
                            p 1/2
                    
                    .grid-cell
                        .demo
                            p 1/2
                            
                            
                .grid.grid--gutter
                    .grid-cell
                        .demo
                            p 1/3
                    
                    .grid-cell
                        .demo
                            p 1/3
                    
                    .grid-cell
                        .demo
                            p 1/3
                            
                            
                            
                .grid.grid--gutter
                    .grid-cell
                        .demo
                            p 1/4
                    
                    .grid-cell
                        .demo
                            p 1/4
                    
                    .grid-cell
                        .demo
                            p 1/4
                            
                    .grid-cell
                        .demo
                            p 1/4
                            
                            
                            
                .grid.grid--gutter
                    .grid-cell
                        .demo
                            p auto
                    
                    .grid-cell.size1of3
                        .demo
                            p 1/3
                            
                            
                            
                .grid.grid--center.grid--gutter
                    .grid-cell.size3of4
                        .demo
                            p 1/2 Centered

                
            
            
    
        // FORM SECTION                    
        section.row.has-border.has-padding
            .content
                h1.t-center Form Controls
                
                form
                    p.alert-wrap.alert-success
                        i.icon-check-circle
                        span.alert-message Kudos! Your details have been submitted.
                        
                    .control-wrap
                        label.bold(for="input-text") Input Label
                        
                        br
                        
                        input(type="text" id="input-text" placeholder="Text Input Field") 
                    
                    
                    
                    .control-wrap
                        input(type="radio" id="radio-button")
                                                
                        label(for="radio-button") I’m a radio button
                        
                        p.control-desc.small.light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                
                        input(type="checkbox" id="check-box")
                        
                        label(for="check-box") I’m a checkbox
                        
                        p.control-desc.small.light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    
                    
                    
                    .control-wrap
                        label.bold(for="text-area") I’m a textarea
                        
                        br
                        
                        textarea(id="text-area" placeholder="Type your message here …")
                    
                    
                    
                    .control-wrap
                        label.bold(for="text-area") I’m a select
                        
                        br
                        
                        i.icon-select.icon-arrow-dropdown
                        
                        select
                            option Option 1
                            option Option 2
                            option Option 3
                    
                    
                    .control-wrap
                        button.btn.btn-primary(type="submit") I’m a button
    
    
        
        
        
        // TYPOGRAPHY SECTION                    
        section.row.has-padding
            .content.t-center
                h1 Typography
                p.intro This is page intro text below page title. It can extend to more than 2 lines like this. <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                
                p.section-label This is a section label
                h2.section-title This is section title
                p.intro This is section intro text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                
                h3 This is a block title
                p This is a block text
                
                a(href="#")
                    h3 This is a block title inside anchor
                    p This is a block text
                
                hr    
                    
                h4 This is tertiary heading 
                p.smaller.light This is a text which is small and light
                
                small This text is small
                
                br
                
                strong This text is bold
                
                br
                
                em This text is italic
        
                br
                
                a(href="#") This is a link        
                
                br
                
                ul
                    li This is a list unordered item
                    li 
                        a(href="#") This is a link inside an unordered list item
                    
                ol
                    li This is a list ordered item
                    li This is a list ordered item
                    li This is a list ordered item
                    
                
                
                blockquote.testimonial-wrap
                    q.testimonial-text
                        span.d-quotes.d-quotes--left &ldquo;
                        
                        span This is a testimonial. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        
                        span.d-quotes.d-quotes--right &rdquo; 
                    
                    p.testimonial-author Alan Chumley &mdash; SVP, Research &amp; Analytics
                        
                    img.testimonial-avatar(src="../assets/i/avatars/alan-chumley.png" alt="Alan Chumley")
                    
                    br
                        
                    img.testimonial-logo(src="../assets/i/logos/fleishmanhillard.jpg")
                        
                        
                
                        
        // FOOTER SECTION                    
        footer.row.has-padding
            .content
                ul.nav-footer.grid.grid--gutters
                    li.grid-cell.size1of3
                        h4 Products
                        
                        ul.nav-footer--list
                            li: a.nav-footer--link(href="#") Analyze &mdash; for Social Media Analysts
                            
                            li: a.nav-footer--link(href="#") Track &mdash; for Marketers
                            
                            li: a.nav-footer--link(href="#") Discover &mdash; for Content Creators
                    
                    
                    
                    li.grid-cell
                        h4 About
                        
                        ul.nav-footer--list
                            li: a.nav-footer--link(href='#') Company
 
                            li: a.nav-footer--link(href='#') Customers
                            
                            li: a.nav-footer--link(href='#') Why Agencies love us
    
                            li: a.nav-footer--link(href='#') Our blog
                            
                            li: a.nav-footer--link(href='#') Press & News coverage
                            
                            li: a.nav-footer--link(href='#') Job openings
                    
                    
                    
                    li.grid-cell
                        h4 Resources
                        
                        ul.nav-footer--list
                            li: a.nav-footer--link(href="#") Articles
                            
                            li: a.nav-footer--link(href="#") Ebooks 
                            
                            li: a.nav-footer--link(href="#") Infographics 
                            
                            li: a.nav-footer--link(href="#") Interviews 
                            
                            li: a.nav-footer--link(href="#") Industry Reports 
                            
                            
                            
                    
                    li.gird-cell 
                        h4 Contact
                        
                        ul.nav-footer--list    
                            li: a.nav-footer--link(href='#') Get in touch 
                            
                            li: a.nav-footer--link(href='#') Twitter
                            
                            li: a.nav-footer--link(href='#') Facebook
                            
                            li: a.nav-footer--link(href='#') Pinterest
                            
                            li: a.nav-footer--link(href='#') LinkedIn
                            
                            li: a.nav-footer--link(href='#') SlideShare

                
                
                .grid.site-info-wrap
                    .grid-cell
                        p.site-info &copy; Unmetric 
                        
                        
                    .grid-cell    
                        p.victory &#9996;       
                        
                    .grid-cell
                        p.site-links
                            a(href="#") Privacy