doctype html
html
    include includes/_head.jade
    
    body.t-center
    
        h1 This is the page title		
        p This is page intro text below page title. It can extend to more than 2 lines like this. <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        p.section-label This is a section label
        h2.section-title This is section title
        p.section-subtitle This is section intro text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        h3 This is a block title
        p This is a block text
        
        a(href="#")
            h3 This is a block title inside anchor
            p This is a block text
        
        hr    
            
        h4 This is tertiary heading 
        p.smaller.light This is a text which is small and light
        
        small This text is small
        
        br
        
        strong This text is bold
        
        br
        
        em This text is italic

        br
        
        a(href="#") This is a link        
        
        br
        
        ul
            li This is a list unordered item
            li 
                a(href="#") This is a link inside an unordered list item
            
        ol
            li This is a list ordered item
            li This is a list ordered item
            li This is a list ordered item
            
        
        
        blockquote
            q 
                span &ldquo; 
                
                span This is a testimonial 
                
                span &rdquo; 
            
            p 
                span Testimony,
                
                span Testimony Title
                
                img(src="")
                
                img(src="")
                
                
        
                
                