doctype html
html
    include includes/_head.jade
    
    body.theme--basic
        .header-rm
            // HEADER
            header.header
                
                a.logo(href="#") 
                    img.logo-image(src="assets/i/unmetric-logo-white.png" alt="Unmetric logo")
                

                a.blog-menu_link(href="#")
                    span.blog-menu_icon

                a.menu-link(href="#")
                    span.menu-icon
                


                nav.nav-main.is-hidden
                    ul.nav-main-wrap
                        li 
                            a.more.nav-main--link(href="#") Products 
                                i.icon-arrow-dropdown
                            
                            ul.nav-main-dd
                                li: a.nav-main--link.is-active(href="#") Analyze
                                        br
                                        span.nav-main--desc Compare and analyze your competitors
                                    
                                li 
                                    a.nav-main--link(href="#") Track
                                        br
                                        span.nav-main--desc Keep an eye on your competition
                                    
                                li 
                                    a.nav-main--link(href="#") Discover
                                        br
                                        span.nav-main--desc Find inspiration to create content
                        
                        li: a.nav-main--link(href="#") About
                        
                        li: a.nav-main--link(href="#") Contact
                        
                        li: a.nav-main--link.nav-main--link-signin(href="#") Sign In

               
            section.hero.row.u-pad--top-less
                .content
                    .grid.grid--center
                        .grid-cell.col-4.t-center
                            
                            .img-theme(style="background-image: linear-gradient(#5856D8,#3ADFFA,#E1FAFE), url(../assets/i/aviations.png);opacity: 0.5;")

                            h1.hero-title Analyzing top APAC and MEA Aviation brands on social media: Key Learnings

                            p.t-center Mar 4, 2016 

            


            section.row
                .content
                    .grid.grid--center
                        .grid-cell.col-1

                            p Most brands will never miss a trick when it comes to an opportunity to engage with their fans on Facebook and Mother's Day on Sunday was no different. Everyone from major banks to telecomm companies were getting in on the act with mostly sentimental, sometimes cute, occasionally tongue in cheek, messages that fans could share on their wall. Some brands saw better engagement than others, and companies that posted 
                                b mages naturally saw far higher engagement 
                                |than those that did not.
                            
                            
                            p The posts below are the Mother’s Day posts which have the best engagement according to the Unmetric engagement score.

                                
                            .u-pad-less-top
                                h2 
                                    b Masoom Pears - India    

                                strong Engagement Score: 447
                                